@use "../../styles/mixins";

.modalDialog {
  height: 35rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35rem + var(--safe-area-bottom));
  }
}

.welcome {
  display: flex;
  align-items: center;

  margin-bottom: 1.25rem;
  padding: 1rem;
  border-radius: var(--border-radius-default);

  background: var(--color-background-first);

  &_static {
    margin-bottom: 1.5rem;
    padding: 0 0 1rem 0;
  }
}

.welcomeInformation {
  display: flex;
  flex-direction: column;

  margin-inline-start: 1rem;

  font-size: 0.9375rem;
  font-weight: 700;

  &_static {
    margin-inline-start: 0.75rem;
  }
}

.stakingApy {
  display: inline-block;
  align-self: flex-start;

  margin: 0.5rem 0 0.875rem;
  padding: 0.375rem;
  border-radius: var(--border-radius-tiny);

  line-height: 0.9375rem;
  color: var(--color-apy-text);

  background: var(--color-apy-background);
}

.textButton {
  align-self: flex-start;

  min-width: 0 !important;
  padding: 0;

  font-size: 0.9375rem !important;
  font-weight: 600;
  line-height: 0.9375rem !important;
  color: var(--color-accent);

  transition: opacity 150ms;

  &:hover,
  &:active {
    opacity: 0.8;
  }

  & + .textButton {
    margin-top: 0.75rem;
  }
}

.sticker {
  flex-grow: 0;
  flex-shrink: 0;

  &_static {
    margin-top: -0.375rem;
  }
}

.stakingSafeDialog {
  border-radius: var(--border-radius-default) !important;
}

.ton {
  display: inline-flex;
  align-items: center;

  margin: 0;
  padding: 0.75rem 1.125rem 0.75rem 0.5rem !important;

  background-color: transparent;
}

.tonIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-inline-end: 0.375rem;
  border-radius: 50%;
}

.tonName {
  height: 1rem;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-input-button-text);
}

.amountBottomWrapper {
  position: relative;

  &_static {
    --color-background-window: transparent;
  }
}

.amountBottom {
  position: absolute;
  top: -1.75rem;

  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 1rem;
  padding: 0 0.5rem;

  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-input-hint);
}

.amountBottomRight {
  flex: 1;
  color: var(--color-gray-3);
  transition: color 150ms;

  &_error {
    color: var(--color-red);
  }

  &_slide {
    text-align: right;
    background: var(--color-background-window);
  }

  &.animating {
    > .from {
      animation-duration: 150ms !important;
    }

    > .to {
      animation-duration: 150ms !important;
    }
  }
}

.balanceError {
  color: var(--color-red);
}

.minAmountValue,
.amountInCurrency,
.historyTotalValue {
  font-weight: 600;
}

.stakingBalance {
  margin-bottom: 0.75rem;
}

.amountInput {
  margin-bottom: 2rem;
}

.inputRichStatic {
  border: 1px solid var(--color-separator-input-stroke);
  background: transparent;
}

.balanceResultWrapper {
  margin-bottom: 0 !important;
}

.balanceResultInput {
  display: block;
}

.balanceResultLabel {
  color: var(--color-gray-2);
}

.balanceStakedLabel {
  color: var(--color-purple-2) !important;
}

.balanceStakedResult {
  color: var(--color-purple-1);
}

.balanceResult {
  overflow: hidden;
  display: inline-flex;
  align-items: baseline;

  width: auto;
  max-width: 100%;

  background: linear-gradient(81.88deg, var(--color-purple-1) 19.42%, #1EC160 71.55%);
  background-clip: text;

  -webkit-text-fill-color: transparent;

  :global(.theme-dark) & {
    background: linear-gradient(81.88deg, var(--color-purple-1) 19.42%, var(--color-green) 71.55%);
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}

.stakingInfoModal {
  overflow: hidden;
  max-height: 19.875rem !important;

  &_withHistory {
    max-height: calc(95 * var(--vh, 1vh)) !important;

    @media (min-width: 600.01px) {
      max-height: 100% !important;
    }
  }
}

.stakingInfo {
  --color-accent-button-text: var(--color-purple-button-text);
  --color-accent-button-text-hover: var(--color-purple-button-text-hover);
  --color-accent-button-background: var(--color-purple-button-background);
  --color-accent-button-background-hover: var(--color-purple-button-background-hover);
  --color-gray-button-text: var(--color-gpurple-button-text-rest);
  --color-gray-button-background: var(--color-gpurple-button-background-rest);
  --color-gray-button-text-hover: var(--color-gpurple-button-text-hover);
  --color-gray-button-background-hover: var(--color-gpurple-button-background-hover);

  --color-black: var(--color-purple-1);
  --color-close-button-text: var(--color-gpurple-button-text-rest);
  --color-close-button-text-hover: var(--color-gpurple-button-text-hover);
  --color-close-button-background: var(--color-gpurple-button-background-rest);
  --color-close-button-background-hover: var(--color-gpurple-button-background-hover);

  --sensitive-data-extra-width: 0.5rem;

  border-radius: var(--border-radius-small);
  background: var(--color-background-purple-2);

  &_modal {
    padding: 0 1rem 1rem;
    border-radius: var(--border-radius-default);

    @include mixins.respond-below(xs) {
      :global(.is-telegram-app) &,
      :global(.is-android) & {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      :global(html.is-mobile-telegram-app.is-fullscreen) & {
        margin-top: calc(-1 * var(--tg-content-safe-area-inset-top));
        padding-top: var(--tg-content-safe-area-inset-top);
      }
    }
  }

  &:global(.staking-info) {
    position: relative;
    background: none;

    &::before {
      content: '';

      position: absolute;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;

      border-radius: var(--border-radius-default) 0 var(--border-radius-default) var(--border-radius-default);

      background: var(--color-background-purple-2);
    }
  }
}

@include mixins.respond-below(xs) {
  .stakingInfoNoHistory {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

    :global(.is-telegram-app) & {
      border-radius: 0;
    }

    @supports (padding-bottom: max(1rem, var(--safe-area-bottom))) {
      padding-bottom: max(1rem, var(--safe-area-bottom))
    }
  }
}

.stakingInfoModalContent {
  min-height: 0;

  @media (max-height: 639.8px) {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

    .history {
      // Workaround for the bottom padding on flex layout
      &::after {
        content: '';
        flex-shrink: 0;
        height: 1rem;
      }

      @include mixins.adapt-padding-to-scrollbar(1rem);
    }
  }

  @media (min-height: 640px) {
    .historyList {
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  &.withBackground {
    border-top-left-radius: var(--border-radius-default);
    border-top-right-radius: var(--border-radius-default);
    background: var(--color-background-purple-2);

    @include mixins.respond-above(xs) {
      border-radius: var(--border-radius-default);
    }

    :global(.is-telegram-app) &,
    :global(.is-android) & {
      border-radius: 0;
    }
  }

  @include mixins.respond-above(xs) {
    max-height: min(80vh, 48rem);
  }
}

.stakingInfoLoading {
  align-self: center;
  width: 0;
}

.stakingInfoLoadingAnimation {
  --spinner-size: 1.5rem;

  position: relative;
  right: 2.5rem;
}

.stakingInfoClose {
  position: relative;
  left: 1rem;
}

.stakingInfoButtons {
  position: relative;
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;

  &_withMargin {
    margin-bottom: 2rem;
  }

  &_adaptiveWidth {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));

    & .stakingInfoButton {
      min-width: 4rem !important;
      padding: 0.5rem !important;
    }
  }
}

.stakingInfoButton {
  width: 100%;
  min-width: 8rem !important;
  max-width: 100% !important;
  font-size: 0.9375rem !important;
}

.checkEligibilityButton {
  position: relative;

  margin: 1rem auto;

  font-size: 1rem !important;
  color: var(--color-gpurple-button-text-rest);

  background: linear-gradient(81.88deg, var(--color-purple-1) 19.42%, #1EC160 71.55%);
  background-clip: text;

  transition: opacity 150ms;

  -webkit-text-fill-color: transparent;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
  }
}

.insufficientBalance {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
}

.unstakeTime {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 19rem;
  margin: 0.25rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--color-gray-1);
  text-align: center;

  background: var(--color-gray-button-background-light);

  &_purple {
    margin-top: 1.25rem;
    color: var(--color-gpurple-button-text-rest);
    background: var(--color-gpurple-button-background-rest);
  }
}

.unstakeTimeIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1rem;
}

.history {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 0;
  padding: 1.25rem 1rem 1rem;

  &_static {
    padding: 2.25rem 0 0;
  }
}

.historyTotal {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;

  font-size: 0.8125rem;
  line-height: 0.8125rem;
  color: var(--color-gray-2);

  .history_static & {
    top: 2.25rem;
    right: 0;
  }
}

.historyTitle {
  margin-left: 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.8125rem;
  color: var(--color-gray-2);

  .history_static & {
    margin-left: 0;
  }
}

.historyList {
  flex-grow: 1;
  margin-top: 0.5rem;
  border-radius: var(--border-radius-default);
  background: var(--color-background-first);

  &_static {
    margin-right: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
  }
}

.transactionBanner {
  align-self: center;
  margin-bottom: 2rem;
}

.unstakeInfo {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 19rem;
  margin: 0.25rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-transaction-amount-green-text);
  text-align: center;

  background: var(--color-transaction-amount-green-bg);
}

.tokenDropdown {
  --offset-y-value: calc(100% - 3.25rem);
  --offset-x-value: 0;

  position: relative;
  top: 0.375rem;
  right: 0.375rem;
}

.tokenDropdownItem :global(.menuItemName), .tokenDropdownItem :global(.itemName) {
  font-weight: 700;
}

.tokenDropdownMenu {
  color: var(--color-gpurple-button-text-rest) !important;
  background: var(--color-input-button-background-purple-rest) !important;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-gpurple-button-text-hover) !important;
      background-color: var(--color-input-button-background-purple-hover) !important;
    }
  }
}
