@use "../../styles/mixins";

@include mixins.respond-above(xs) {
  .modalDialog {
    max-height: 48rem;
  }
}

.passwordModalDialog {
  height: 35.5rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35.5rem + var(--safe-area-bottom));
  }

  :global(.is-native-bottom-sheet) & {
    height: calc(35.5rem + var(--safe-area-bottom, 0rem));
  }
}

.transactionBanner {
  margin-bottom: 1rem;
}

.operationInfoFee {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-gray-2);
  text-align: center;
}

.operationInfoFeeWithGap {
  margin-bottom: 2rem;
}

.unstakeInfo {
  position: relative;

  max-width: 19rem;
  margin: 0.25rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-transaction-amount-green-text);
  text-align: center;

  background: var(--color-transaction-amount-green-bg);
}
