@import '../../styles/variables';

@import '../../styles/mixins';

.actionSheetDialog {
  width: 100%;
  height: 19.625rem;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    @include respond-below(xs) {
      padding-bottom: max(env(safe-area-inset-bottom), 1rem);
    }
  }

  @media (min-width: 416.01px) { // 26rem = 416px
    max-width: 24rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 0 !important;
}

.actionButtons {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  margin: 0 1rem;

  background: var(--color-background-first);
  border-radius: var(--border-radius-default);
}

.actionButtonStatic {
  margin: 0;

  border-radius: 0;
}

.actionButton {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "icon content arrow";
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  align-items: center;

  padding: 0.8125rem 0.75rem 0.8125rem 0.625rem;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-black);

  transition: background-color 200ms;

  &:not(:last-child):after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 3rem;

    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }

  @media (hover: hover) {
    &:focus-visible,
    &:hover {
      background-color: var(--color-interactive-item-hover);
    }
  }

  @media (pointer: coarse) {
    &:active {
      background-color: var(--color-interactive-item-hover);
    }
  }
}

.cancelButton {
  align-self: center;

  width: 10.3125rem;
}

.actionIcon {
  display: flex;
  align-items: center;

  height: 1.875rem;

  font-size: 1.875rem;
  color: var(--color-blue);
}

.iconChevronRight {
  color: var(--color-gray-3);
}
