$fieldGap: 1.25rem;
$labelGap: 0.375rem;
$labelLineHeight: 1.125rem;
$labelSkeletonHeight: 1rem;
$labelSidePadding: 0.5rem;

.modalDialog {
  height: 35rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35rem + var(--safe-area-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: 24rem;
  }
}

.modalDialogExtraHeight {
  height: 40.25rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(40.25rem + var(--safe-area-bottom));
  }
}

.dapp {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: center;

  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: var(--border-radius-default);

  background-color: var(--color-background-first);

  &_first {
    margin-top: 0.125rem;
  }

  &_push {
    margin-bottom: 1.25rem;
  }
}

.dappIcon {
  font-size: 1.875rem;
  line-height: 1.875rem;
}

.dappLogo {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: var(--border-radius-tiny);
  object-fit: cover;

  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-default-dapp-logo);

    background: var(--color-default-dapp-logo-background);
  }
}

.transactionAccount,
.dappInfo {
  flex: 1;
  // Allows the flex cell to be clamped
  min-width: 0;
}

.dappName,
.dappHost {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dappHost {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}

.dappHostWarningIcon {
  margin-inline-end: 0.25rem;
}

.dappHostWarningText {
  margin: 0;
  color: var(--color-gray-1);
}

.dappHostWarningButton {
  padding: 0 0.25rem;
  border-radius: 0.25rem;

  font-weight: bold;
  color: white;

  background-color: var(--color-accent);

  :global(html.theme-dark.is-white-accent) & {
    color: var(--color-background-drop-down);
  }
}

.dappName {
  margin-bottom: 0.1875rem;

  font-size: var(--font-size-title, 0.9375rem);
  font-weight: var(--font-weight-title, 600);
  line-height: 1;
  color: var(--color-black);
}

.dappDisconnect {
  height: 1.75rem !important;
  padding: 0.4375rem 0.625rem !important;
  border-radius: 0.875rem !important;

  font-size: 0.875rem !important;
  line-height: 0.875rem !important;
}

.label {
  cursor: text;

  display: block;

  margin: 0 $labelSidePadding $labelGap;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: $labelLineHeight;
  color: var(--color-gray-2);
}

.description {
  font-size: 0.9375rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.button {
  flex: 1 1 calc(50% - 0.25rem);
  min-width: 9rem !important;
}

.rowContainerSkeleton,
.dataField {
  margin-bottom: $fieldGap;
}

.receivingAddress {
  padding: 0.75rem !important;
}

.payloadField {
  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  margin-bottom: $fieldGap;
  padding: 0.875rem 0.75rem;
  border: none;
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-black);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  background: var(--color-background-first);
  outline: none;

  &_expanded {
    word-break: break-all !important;
    white-space: normal;
  }

  &_text {
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.payloadFieldExpand {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 0.875rem 0.75rem;
  border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-accent);

  background: var(--color-background-first);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;

    width: 3rem;

    background: var(--color-linear-effect-1);
  }
}

.payloadFieldTerm {
  white-space: nowrap;
}

.transactionList {
  margin-bottom: $fieldGap;
  border-radius: var(--border-radius-default);
  background: var(--color-background-first);
}

.transactionRow {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  min-height: 3rem;
  padding: 0.75rem 2rem 0.75rem 1rem;

  font-size: 1rem;
  font-weight: 600;

  transition: background-color 200ms;

  &:active {
    background-color: var(--color-interactive-item-hover);
  }

  &:first-child {
    border-top-left-radius: var(--border-radius-default);
    border-top-right-radius: var(--border-radius-default);
  }

  &:last-child {
    border-bottom-right-radius: var(--border-radius-default);
    border-bottom-left-radius: var(--border-radius-default);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-interactive-item-hover);
    }
  }
}

.transactionRow + .transactionRow {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    left: 1rem;

    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }
}

.transactionRowAmount {
  margin-inline-end: 0.25rem;
  color: var(--color-black);
}

.currencySymbol,
.transactionRowAddress {
  color: var(--color-gray-3);
}

.transactionRowChevron {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

.scam {
  color: var(--color-red) !important;
}

.scamImage {
  width: 2.75rem;
  height: 1.0625rem;
  margin-right: 0.25rem;
  vertical-align: bottom;
}

.transactionDirection {
  --color-skeleton-shimmer: var(--color-card-button-shimmer);
  --skeleton-background-color: var(--color-card-button);

  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  min-height: 4rem;
  margin: 0.375rem 0 1.25rem;
  border-radius: var(--border-radius-default);

  color: var(--color-card-text);

  background: #3679C0 url(../../assets/transfer_dapp_bg.jpg) no-repeat 50% 0;
  background-size: cover;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: calc(50% + 2rem);
    height: 100%;
    border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;

    background: url("../../assets/transfer_dapp_info_bg.svg") no-repeat 100% 50%;
    background-size: cover;
  }
}

.accountTitle {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

.accountBalance {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--second-text, var(--color-card-second-text));
}

.accountBalance,
.accountTitle {
  overflow: hidden;
  padding: 0 1rem;
  text-overflow: ellipsis;
}

.transactionDapp {
  --color-black: var(--color-card-text);
  --color-gray-2: var(--color-card-second-text);
  --font-weight-title: 700;
  --font-size-title: 1rem;

  position: relative;
  z-index: 1;

  justify-self: center;

  width: 8.125rem;
  height: 100%;
  margin: 0 0.25rem;
  padding: 0 !important;

  background: transparent;
}

.sticker {
  margin: 0 auto 1.25rem;

  &_sizeSmall {
    margin: -0.375rem auto 1.25rem;
  }
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  border-radius: 1rem;

  background: var(--color-background-first);
}

.dappInfoSkeleton {
  --skeleton-background-color: var(--color-separator-input-stroke);

  display: flex;
  gap: 0.625rem;
  align-items: center;

  height: 4rem;
  padding: 0.875rem 1rem;
  border-radius: var(--border-radius-default);

  background-color: var(--color-background-first);
}

.accountWrapperSkeleton {
  margin-top: 1.25rem;
}

.dappInfoIconSkeleton {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: var(--border-radius-tiny);
}

.dappInfoTextSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameSkeleton,
.descSkeleton {
  height: 0.75rem;
  border-radius: var(--border-radius-tiny);
}

.nameSkeleton {
  width: 4rem;
}

.descSkeleton {
  width: 5rem;
}

.nameDappSkeleton {
  height: 0.875rem;
}

.descDappSkeleton {
  height: 0.6875rem;
}

.transactionDirectionLeftSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-left: 1rem;
}

.transactionDirectionRightSkeleton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: center;

  width: 8.125rem;
}

.dappInfoDataSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.rowSkeleton {
  width: 100%;
  height: 3rem;
  border-radius: var(--border-radius-default);
}

.rowLargeSkeleton {
  height: 4rem;
}

.rowLabelSkeleton {
  width: 3.0625rem;
  height: $labelSkeletonHeight;
  margin: 0 auto ($labelGap + ($labelLineHeight - $labelSkeletonHeight)) $labelSidePadding;
  border-radius: var(--border-radius-tiny);
}

.rowTextLargeSkeleton {
  width: 6.8125rem;
}

.rowFeeSkeleton {
  width: 4.5rem;
  height: $labelSkeletonHeight;
  margin: $labelGap $labelSidePadding 0 auto;
  border-radius: var(--border-radius-tiny);
}

.skeletonTransitionWrapper {
  display: flex;
  flex-direction: column;
}

.skeletonBackground {
  background-color: var(--background-color); // To ensure a glitch-free "semiFade" transition
  background-clip: content-box; // To prevent the background from un-rounding the bottom corners of the modal
}

.transferWarning {
  margin: -0.5rem 0 $fieldGap
}

.warningForPayload {
  position: relative;

  overflow: hidden;

  padding: 0.5625rem 0.75rem 0.625rem 1rem;
  border-radius: var(--border-radius-small);

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: var(--color-yellow);

  background-color: var(--color-background-yellow);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0.25rem;
    height: 100%;

    background: currentColor;
  }
}

.emulation {
  margin-bottom: 0;

  &Fee {
    margin: $labelGap $labelSidePadding $fieldGap;
    text-align: right !important;
  }
}

.transferButtons {
  padding-top: 0.875rem;
}

.transactionContent {
  padding-top: 1rem;
}
