@import "../../styles/mixins";

.modalDialog {
  height: 35rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35rem + var(--safe-area-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: 24rem;
  }
}

.modalDialogExtraHeight {
  height: 40.25rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(40.25rem + var(--safe-area-bottom));
  }
}

.dapp {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: center;

  width: 100%;
  padding: 0.875rem 1rem;

  background-color: var(--color-background-first);
  border-radius: var(--border-radius-default);

  &_first {
    margin-top: 0.125rem;
  }

  &_push {
    margin-bottom: 1.25rem;
  }
}

.dappIcon {
  font-size: 1.875rem;
  line-height: 1.875rem;
}

.dappLogo {
  width: 2.25rem;
  height: 2.25rem;

  object-fit: cover;
  border-radius: var(--border-radius-tiny);

  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-default-dapp-logo);

    background: var(--color-default-dapp-logo-background);
  }
}

.transactionAccount,
.dappInfo {
  flex: 1;
  // Allows the flex cell to be clamped
  min-width: 0;
}

.dappName,
.dappUrl {
  overflow: hidden;
  display: block;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.dappUrl {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}

.dappName {
  margin-bottom: 0.1875rem;

  font-size: var(--font-size-title, 0.9375rem);
  font-weight: var(--font-weight-title, 600);
  line-height: 1;
  color: var(--color-black);
}

.dappDisconnect {
  height: 1.75rem !important;
  padding: 0.4375rem 0.625rem !important;

  font-size: 0.875rem !important;
  line-height: 0.875rem !important;

  border-radius: 0.875rem !important;
}

.label {
  cursor: text;

  display: block;

  margin-bottom: 0.5rem;
  padding: 0 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: unset;
  color: var(--color-gray-2);

  background-color: var(--color-background-window);
}

.description {
  font-size: 0.9375rem;
}

.footer {
  display: flex;
  justify-content: center;

  margin-top: auto;
  padding-top: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  margin-top: 1.5rem;
}

.button {
  flex: 1 1 calc(50% - 0.25rem);

  min-width: 9rem !important;
}

.dataField {
  margin-bottom: 1.25rem;
}

.receivingAddress {
  padding: 0.75rem !important;
}

.payloadField {
  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 0.875rem 0.75rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-black);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  background: var(--color-background-first);
  border: none;
  border-radius: var(--border-radius-default);
  outline: none;

  &_expanded {
    word-break: break-all !important;
    white-space: normal;
  }
}

.payloadFieldExpand {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 0.875rem 0.75rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-accent);

  background: var(--color-background-first);
  border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;

    width: 3rem;

    background: var(--color-linear-effect-1);
  }
}

.transactionList {
  margin-bottom: 1.25rem;

  background: var(--color-background-first);
  border-radius: var(--border-radius-default);
}

.transactionRow {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  min-height: 3rem;
  padding: 0.75rem 2rem 0.75rem 1rem;

  font-size: 1rem;
  font-weight: 600;

  transition: background-color 200ms;

  &:active {
    background-color: var(--color-interactive-item-hover);
  }

  &:first-child {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
  }

  &:last-child {
    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-interactive-item-hover);
    }
  }
}

.transactionRow + .transactionRow {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    left: 1rem;

    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }
}

.transactionRowAmount {
  margin-inline-end: 0.25rem;

  color: var(--color-black);
}

.currencySymbol,
.transactionRowAddress {
  color: var(--color-gray-3);
}

.transactionRowChevron {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

.scam {
  color: var(--color-red) !important;
}

.scamImage {
  width: 2.75rem;
  height: 1.0625rem;
  margin-right: 0.25rem;

  vertical-align: bottom;
}

.transactionDirection {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  min-height: 4rem;
  margin-bottom: 1.25rem;

  color: var(--color-card-text);

  background: #3679C0 url(../../assets/transfer_dapp_bg.jpg) no-repeat 50% 0;
  background-size: cover;
  border-radius: var(--border-radius-default);

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: calc(50% + 2rem);
    height: 100%;

    background: url("../../assets/transfer_dapp_info_bg.svg") no-repeat 100% 50%;
    background-size: cover;
    border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;
  }
}

.accountTitle {
  margin-bottom: 0.25rem;

  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

.accountBalance {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--second-text, var(--color-card-second-text));
}

.accountBalance,
.accountTitle {
  overflow: hidden;

  padding: 0 1rem;

  text-overflow: ellipsis;
}

.transactionDapp {
  --color-black: var(--color-card-text);
  --color-gray-2: var(--color-card-second-text);
  --font-weight-title: 700;
  --font-size-title: 1rem;

  position: relative;
  z-index: 1;

  justify-self: center;

  width: 8.125rem;
  height: 100%;
  margin: 0 0.25rem;
  padding: 0 !important;

  background: transparent;
}

.sticker {
  margin: 0 auto 1.25rem;

  &_sizeSmall {
    margin: -0.375rem auto 1.25rem;
  }
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  background: var(--color-background-first);
  border-radius: 1rem;
}

@keyframes shimmer {
  0% {
    background-position: 200%;
  }

  100% {
    background-position: -200%;
  }
}

@mixin skeleton($color: var(--color-background-first), $edgeColor: var(--color-separator-input-stroke)) {
  background: linear-gradient(
      90deg,
      $edgeColor,
      $edgeColor,
      $color,
      $edgeColor,
      $edgeColor
  );
  background-repeat: no-repeat;
  background-size: 400% 100%;

  animation: shimmer 2s infinite linear;
}

.dappInfoSkeleton {
  display: flex;
  gap: 0.625rem;
  align-items: center;

  height: 4rem;
  padding: 0.875rem 1rem;

  background-color: var(--color-background-first);
  border-radius: var(--border-radius-default);
}

.accountWrapperSkeleton {
  margin-top: 1.25rem;
}

.dappInfoIconSkeleton {
  @include skeleton();

  width: 2.25rem;
  height: 2.25rem;

  background-color: var(--color-separator-input-stroke);
  border-radius: var(--border-radius-tiny);
}

.transactionDappIconSkeleton {
  @include skeleton(var(--color-background-first), #00000000);

  background-color: var(--color-card-button);
}

.dappInfoTextSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameSkeleton {
  @include skeleton();

  width: 4rem;
  height: 0.75rem;

  background-color: var(--color-separator-input-stroke);
  border-radius: var(--border-radius-tiny);
}

.descSkeleton {
  @include skeleton();

  width: 5rem;
  height: 0.75rem;

  background-color: var(--color-separator-input-stroke);
  border-radius: var(--border-radius-tiny);
}

.nameDappSkeleton {
  @include skeleton(var(--color-background-first), #00000000);

  height: 0.875rem;

  background-color: var(--color-card-button);
}

.descDappSkeleton {
  @include skeleton(var(--color-background-first), #00000000);

  height: 0.6875rem;

  background-color: var(--color-card-button);
}

.transactionDirectionLeftSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  margin-left: 1rem;
}

.transactionDirectionRightSkeleton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: center;

  width: 8.125rem;
}

.dappInfoDataSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.rowContainerSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1.25rem;
}

.rowContainerLargeSkeleton {
  margin-bottom: 1.125rem;
}

.rowSkeleton {
  @include skeleton(var(--color-background-second));

  width: 100%;
  height: 3rem;

  background-color: var(--color-separator-input-stroke);
  border-radius: var(--border-radius-default);
}

.rowLargeSkeleton {
  height: 3.75rem;
}

.rowTextSkeleton {
  @include skeleton(var(--color-background-second));

  width: 3.0625rem;
  height: 1rem;
  margin-left: 0.5rem;

  background-color: var(--color-separator-input-stroke);
  border-radius: var(--border-radius-default);
}

.rowTextLargeSkeleton {
  width: 6.8125rem;
}

.skeletonTransitionWrapper {
  display: flex;
  flex-direction: column;
}

.contentWithBackground {
  height: 100%;

  background-color: var(--color-background-window);
}

.warningForPayload {
  width: 100%;
  padding: 0.75rem;

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-transaction-amount-red-text);

  background-color: var(--color-transaction-amount-red-bg);
  border-radius: var(--border-radius-normal);
}
