.sectionText {
  margin-bottom: 1rem;
}

.link {
  display: flex;
  align-items: center;

  padding: 0.8125rem 0.75rem;
  border-radius: 0.75rem;

  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: var(--color-accent);

  background-color: var(--color-beidge-background);
}

.linkText {
  margin-right: 0.125rem;
  line-height: 1.1875rem;
}

.linkIcon {
  width: 1.25rem;
  height: 1.25rem;
}
