@use "variables";

body, html {
  // This is used in `switchTheme` for `setHeaderColor`
  --color-background-second: var(--push-background) !important;

  // Override main index.scss
  background-color: transparent !important;
  transition: none !important;
}

.app-container {
  overflow: auto;
  height: 100%;
}
