:root {
  --push-background: #FFFFFF;
  --push-text-primary: #000000;
  --push-text-secondary: #8B8F96;
  --push-wallet-avatar-bg: #99999926;
  --push-help-button-bg: #99999926;
  --push-token-bg: #E3E3E3;
  --push-badge-received: #33B85F;
  --push-amount-sending: #000000;
  --push-amount-receiving: #33B85F;
  --push-comment-sending-bg: #1F8FFF;
  --push-comment-receiving-bg: #33B85F;
  --push-comment-text: white;

  &.theme-dark,
  .component-theme-dark {
    --push-background: #1C1C1E;
    --push-text-primary: #F6F7F8;
    --push-text-secondary: rgba(246, 247, 248, 0.5);
    --push-wallet-avatar-bg: #C0C0DA26;
    --push-help-button-bg: #C0C0DA26;
    --push-token-bg: rgba(58, 58, 60, 0.2);
    --push-badge-received: #2CD36F;
    --push-amount-sending: #F6F7F8;
    --push-amount-receiving: #2CD36F;
    --push-comment-sending-bg: #469CEC;
    --push-comment-receiving-bg: #2CD36F;
    --push-comment-text: white;
    --color-gray-button-background: #252527;
  }
}
