node_modules
dist
dist-electron
MyTonWallet-chrome.zip
MyTonWallet-firefox.zip
MyTonWallet-firefox-sources.tgz
MyTonWallet-opera.zip
.cache
.env*
!.env.example
.idea
.vscode
*.iml
dev/perf/screenshot*
.DS_store
.DS_Store
test-results
public/statoscope-build-statistics.json
public/statoscope-reference.json
public/statoscope-report.html
public/statoscope-master-reference.json
trash/
coverage/
src/i18n/en.json
notarization-error.log
.patch-version
