node_modules
dist
dist-electron
MyTonWallet.zip
MyTonWallet-firefox.zip
.cache
.env*
!.env.example
.idea
.vscode
*.iml
dev/perf/screenshot*
.DS_store
.DS_Store
test-results
public/build-stats.json
public/reference.json
public/statoscope-report.html
trash/
coverage/
src/i18n/en.json
notarization-error.log
