{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",

  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml"],
      "options": {
        "parser": "yml",
        "singleQuote": false
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    }
  ]
}
