<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTC7ayQkYZ55R3qrfZUSjjyKp9iuOkJr8</string>
	<key>GCM_SENDER_ID</key>
	<string>155616896352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mytonwallet.app-air</string>
	<key>PROJECT_ID</key>
	<string>mytonwallet-19cac</string>
	<key>STORAGE_BUCKET</key>
	<string>mytonwallet-19cac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155616896352:ios:e88ab09f6c3fe6b37eaa05</string>
</dict>
</plist>