@use "../../styles/mixins";

.root {
  position: fixed;
  z-index: var(--z-media-viewer);
  top: 0;
  left: 0;

  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: stretch;

  width: 100vw;
  height: 100%;

  color: #FFF;

  background: rgba(12, 12, 12, 0.9);

  // Potential perf improvement
  &:not(:global(.shown)) {
    transform: scale(0);
    display: block !important;
  }

  @include mixins.respond-below(xs) {
    background: rgba(0, 0, 0, 1);
  }
}

.header {
  position: relative;
  z-index: 3;

  display: flex;
  grid-area: 1 / 1 / 2 / -2;

  min-width: 0;
  padding: max(0.75rem, var(--safe-area-top)) max(0.75rem, env(safe-area-inset-left));

  background: linear-gradient(to bottom, rgba(12, 12, 12, 1) 0%, rgba(12, 12, 12, 0) 100%);

  @include mixins.respond-below(xs) {
    padding: max(1rem, var(--safe-area-top)) max(1rem, env(safe-area-inset-left));
  }
}

.headerTransition {
  max-width: calc(100% - 6.5rem);
}

.actions {
  --offset-y-value: 2.75rem;

  display: flex;
}

.actionButton {
  cursor: var(--custom-cursor, pointer);
  user-select: none;

  display: flex;
  grid-area: close;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  min-width: auto;
  height: 2.5rem;
  margin-left: auto;
  margin-inline-start: 0.75rem;
  padding: 0.3125rem;
  border: 0;
  border-radius: 0.625rem;

  line-height: 1;
  color: #A3A3A3;
  text-decoration: none;
  white-space: nowrap;

  background-color: rgba(0, 0, 0, 0.32);
  outline: none;

  transition: background-color 0.15s, color 0.15s;

  &:hover,
  &:focus-visible {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &:active {
    text-decoration: none;
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: var(--no-animation-transition) !important;
  }
}

.actionIcon {
  font-size: 1.875rem;

  &:global(.icon-tonexplorer) {
    font-size: 1.5rem;
  }

  &:global(.icon-send) {
    position: relative;
    bottom: 0.0625rem;
  }
}

.menuButton {
  @include mixins.respond-below(xs) {
    color: #A3A3A3;
    background-color: rgba(0, 0, 0, 0.32);

    &:hover,
    &:focus-visible {
      color: #A3A3A3;
      background-color: rgba(0, 0, 0, 0.32);
    }
  }

  &_active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}

.menuItem {
  padding: 0.75rem 1rem !important;

  @media (pointer: coarse) {
    padding: 0.875rem 1rem !important;
  }

  > :global(.icon) {
    order: 2;

    margin-inline-start: 0.25rem;
    margin-inline-end: 0;

    font-size: 1rem;
    color: var(--color-gray-3);

    transition: color 150ms;

    @media (pointer: coarse) {
      font-size: 1.125rem;
    }
  }

  &:hover,
  &:focus-visible {
    > :global(.icon) {
      color: var(--color-accent);
    }
  }
}

.slides {
  touch-action: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
  display: flex;

  width: 100%;
  height: 100%;
  min-height: -moz-available;
  max-height: 100vh;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  max-height: -webkit-fill-available;
}

.slide {
  touch-action: none;

  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;

  flex: 100% 0 0;

  height: 100%;

  &_active {
    z-index: 1;
  }

  &_moving {
    cursor: var(--custom-cursor, move);
  }
}

.content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: none;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 4rem 0 2rem;

  &::before {
    content: "";
    display: block;
    flex: 1;
  }

  @include mixins.respond-below(xs) {
    padding: 3rem 0 0.5rem;
  }
}

.image {
  overflow: hidden;

  aspect-ratio: 1;
  max-width: 100vw;
  max-height: calc(100vh - 14rem);
  border-radius: var(--border-radius-normal);

  object-fit: contain;

  -webkit-touch-callout: default;

  :global(body.ghost-animating) & {
    opacity: 0;
  }

  @include mixins.respond-below(xs) {
    border-radius: 0;
  }
}

.contentDescription {
  --max-height: 4.25rem;
  --background-color: #202020;

  overflow: auto;
  flex: 1;
  max-width: min(50rem, calc(100% - 4rem));
  margin-top: 1.75rem;

  @include mixins.respond-below(xs) {
    --background-color: #000;

    max-width: 100%;
    margin-top: 0.5rem;
  }
}

.contentTextWrapper {
  position: relative;

  overflow: hidden;

  max-height: var(--max-height);
  border-radius: var(--border-radius-normal);

  background: var(--background-color);

  &::before,
  &::after {
    pointer-events: none;
    content: "";

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;

    height: 1rem;

    background: linear-gradient(to bottom, var(--background-color) 0%, transparent 100%);
  }

  &::after {
    top: auto;
    bottom: 0;
    background: linear-gradient(to top, var(--background-color) 0%, transparent 100%);
  }

  @include mixins.respond-below(xs) {
    border-radius: 0;
  }
}

.contentText {
  user-select: text;

  position: relative;

  overflow: auto;

  max-height: var(--max-height);
  padding: 1rem;

  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.navigation {
  cursor: var(--custom-cursor, pointer);

  position: fixed;
  z-index: 1;
  top: 4rem;
  bottom: 0;

  width: 10vw;
  margin: 0;
  padding: 0;
  border: none;

  appearance: none;
  opacity: 0;
  background: transparent no-repeat;
  background-size: 1.875rem;
  outline: none;

  transition: opacity 0.15s;

  @include mixins.respond-below(xs) {
    display: none;
  }

  .portraitContainer & {
    width: 20vw;
  }

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  &_prev {
    left: env(safe-area-inset-left);
    background-image: url("../../assets/mediaViewer/navigation_previous.svg");
    background-position: 50% calc(50% - 3rem);

    &[dir="rtl"] {
      right: env(safe-area-inset-right);
      left: auto;
      transform: scaleX(-1);
    }
  }

  &_next {
    right: env(safe-area-inset-right);
    background-image: url("../../assets/mediaViewer/navigation_next.svg");
    background-position: 50% calc(50% - 3rem);

    &[dir="rtl"] {
      right: auto;
      left: env(safe-area-inset-left);
      transform: scaleX(-1);
    }
  }
}

.mediaInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;

  :global(html.is-electron.is-macos) & {
    padding-left: 5rem;
  }
}

.mediaInfoTitle {
  overflow: hidden;

  margin-bottom: 0.375rem;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.0625rem;
  color: #FFF;
  text-overflow: ellipsis;
  white-space: pre;
}

.mediaInfoDescription {
  display: inline-flex;
  align-items: center;

  margin-inline-end: auto;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.8125rem;
  color: rgba(255, 255, 255, 0.8);

  outline: none;

  transition: color 0.15s;

  &:focus-visible,
  &:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

    .descriptionText {
      text-decoration: underline;
    }
  }
}

.tooltip {
  position: relative;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.ghost {
  will-change: transform, opacity, border-radius;

  position: absolute;
  z-index: var(--z-media-viewer);

  overflow: hidden;

  border-radius: var(--border-radius-normal);

  transition: transform 0.2s ease, opacity 0.2s ease, border-radius 0.2s ease;

  @include mixins.respond-below(xs) {
    border-radius: 0;
  }

  &_roundedOpening {
    border-radius: 4rem;
  }

  &_roundedClosing {
    border-radius: 0.75rem;
  }
}

.ghostImage {
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scamImage {
  width: 2.375rem;
  margin-right: 0.25rem;
}
