.modalDialog {
  height: 37rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(37rem + var(--safe-area-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: 24rem;
  }
}

.sticker {
  margin: 0 auto 1.25rem;
}

.stickerHuge {
  margin-top: 2rem;
}

.error,
.step {
  align-self: center;

  padding: 0.5625rem 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
}

.step {
  color: var(--light-gray-1);
  background-color: var(--color-gray-button-background-light);
}

.error {
  color: var(--color-transaction-amount-red-text);
  background-color: var(--color-transaction-amount-red-bg);
}
