@use "../../../../../styles/mixins";

.button {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;
  padding: 0;

  font-size: 1.5rem;
  color: var(--color-accent);
  text-shadow: inherit;

  @include mixins.respond-above(xs) {
    width: 1.375rem;
    height: 1.375rem;
    font-size: 1.375rem;
  }
}

@include mixins.respond-below(xs) {
  .qrScannerButton {
    position: absolute;
    z-index: 1;
    top: calc(0.75rem + var(--safe-area-top, 0px));
    left: calc(1rem + var(--safe-area-left, 0px));
  }
}
