.calendarIconStroke {
  stroke: var(--color-accent);
}

.calendarIconFill {
  fill: #E1F1F9;
}

.failed .calendarIconStroke {
  stroke: var(--color-activity-red-text);
}

.failed .calendarIconFill {
  fill: var(--color-activity-red-background) !important;
}

:global(.theme-dark) .calendarIconFill {
  fill: #133F59;
}
