.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 2rem;
  padding: 0.875rem 0.75rem;
  border-radius: 1rem;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 0.9375rem;
  color: var(--color-black);

  background-color: var(--color-background-first);
}

.instantBadge {
  margin-top: 2rem;
  padding: 0.625rem 0.875rem;
  border-radius: 0.75rem;

  color: var(--color-activity-red-text);

  background-color: var(--color-transaction-amount-red-bg);
}

.sectionFlex {
  display: flex;
  align-items: center;
}

.sectionFlexText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionFlexItem + .sectionFlexItem {
  margin-top: 0.3125rem;
}

.textSmall {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
}

.sectionRight {
  text-align: end;
}

.description {
  color: var(--color-gray-2);
}

.textExpired {
  color: var(--color-red);
}

.calendarIcon {
  margin-right: 0.625rem;
}
