@font-face {
    font-family: "brilliant-icons";
    src: url("./brilliant-icons.woff?42d79570c05c705cb2bff792c3636ff9") format("woff"),
url("./brilliant-icons.woff2?42d79570c05c705cb2bff792c3636ff9") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: brilliant-icons !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400 !important;
}

.icon-accept::before {
    content: "\f101";
}
.icon-action-add::before {
    content: "\f102";
}
.icon-action-earn::before {
    content: "\f103";
}
.icon-action-send::before {
    content: "\f104";
}
.icon-action-swap::before {
    content: "\f105";
}
.icon-arrow-down::before {
    content: "\f106";
}
.icon-arrow-up-swap::before {
    content: "\f107";
}
.icon-arrow-up::before {
    content: "\f108";
}
.icon-auction-alt::before {
    content: "\f109";
}
.icon-auction::before {
    content: "\f10a";
}
.icon-backspace::before {
    content: "\f10b";
}
.icon-can-in::before {
    content: "\f10c";
}
.icon-can-out::before {
    content: "\f10d";
}
.icon-card::before {
    content: "\f10e";
}
.icon-caret-down::before {
    content: "\f10f";
}
.icon-chain-ton::before {
    content: "\f110";
}
.icon-chain-tron::before {
    content: "\f111";
}
.icon-changelly::before {
    content: "\f112";
}
.icon-check-alt::before {
    content: "\f113";
}
.icon-check::before {
    content: "\f114";
}
.icon-chevron-down::before {
    content: "\f115";
}
.icon-chevron-left::before {
    content: "\f116";
}
.icon-chevron-right::before {
    content: "\f117";
}
.icon-close-filled::before {
    content: "\f118";
}
.icon-close::before {
    content: "\f119";
}
.icon-cog::before {
    content: "\f11a";
}
.icon-copy::before {
    content: "\f11b";
}
.icon-crypto::before {
    content: "\f11c";
}
.icon-diamond::before {
    content: "\f11d";
}
.icon-dot::before {
    content: "\f11e";
}
.icon-download-filled::before {
    content: "\f11f";
}
.icon-download::before {
    content: "\f120";
}
.icon-earn::before {
    content: "\f121";
}
.icon-exclamation::before {
    content: "\f122";
}
.icon-exit::before {
    content: "\f123";
}
.icon-explore::before {
    content: "\f124";
}
.icon-external::before {
    content: "\f125";
}
.icon-eye-closed::before {
    content: "\f126";
}
.icon-eye-filled::before {
    content: "\f127";
}
.icon-eye::before {
    content: "\f128";
}
.icon-face-id::before {
    content: "\f129";
}
.icon-fire::before {
    content: "\f12a";
}
.icon-flashlight::before {
    content: "\f12b";
}
.icon-fullscreen-exit::before {
    content: "\f12c";
}
.icon-fullscreen::before {
    content: "\f12d";
}
.icon-gift::before {
    content: "\f12e";
}
.icon-github::before {
    content: "\f12f";
}
.icon-globe-alt::before {
    content: "\f130";
}
.icon-globe::before {
    content: "\f131";
}
.icon-key::before {
    content: "\f132";
}
.icon-laptop::before {
    content: "\f133";
}
.icon-ledger-alt::before {
    content: "\f134";
}
.icon-ledger::before {
    content: "\f135";
}
.icon-link::before {
    content: "\f136";
}
.icon-lock::before {
    content: "\f137";
}
.icon-magic-wand-loading::before {
    content: "\f138";
}
.icon-magic-wand::before {
    content: "\f139";
}
.icon-manual-lock::before {
    content: "\f13a";
}
.icon-menu-close::before {
    content: "\f13b";
}
.icon-menu-copy::before {
    content: "\f13c";
}
.icon-menu-dots::before {
    content: "\f13d";
}
.icon-menu-gem::before {
    content: "\f13e";
}
.icon-menu-globe::before {
    content: "\f13f";
}
.icon-menu-multisend::before {
    content: "\f140";
}
.icon-menu-params::before {
    content: "\f141";
}
.icon-menu-percent::before {
    content: "\f142";
}
.icon-menu-plus::before {
    content: "\f143";
}
.icon-menu-receive::before {
    content: "\f144";
}
.icon-menu-reload::before {
    content: "\f145";
}
.icon-menu-send::before {
    content: "\f146";
}
.icon-menu-swap::before {
    content: "\f147";
}
.icon-missed::before {
    content: "\f148";
}
.icon-more::before {
    content: "\f149";
}
.icon-params::before {
    content: "\f14a";
}
.icon-paste::before {
    content: "\f14b";
}
.icon-pen::before {
    content: "\f14c";
}
.icon-percent::before {
    content: "\f14d";
}
.icon-plus::before {
    content: "\f14e";
}
.icon-purchase::before {
    content: "\f14f";
}
.icon-qr-scanner-alt::before {
    content: "\f150";
}
.icon-qr-scanner::before {
    content: "\f151";
}
.icon-question::before {
    content: "\f152";
}
.icon-receive-alt::before {
    content: "\f153";
}
.icon-receive::before {
    content: "\f154";
}
.icon-replace::before {
    content: "\f155";
}
.icon-search::before {
    content: "\f156";
}
.icon-send-alt::before {
    content: "\f157";
}
.icon-send-small::before {
    content: "\f158";
}
.icon-send::before {
    content: "\f159";
}
.icon-settings::before {
    content: "\f15a";
}
.icon-share-android::before {
    content: "\f15b";
}
.icon-share-ios::before {
    content: "\f15c";
}
.icon-share::before {
    content: "\f15d";
}
.icon-snow::before {
    content: "\f15e";
}
.icon-sort::before {
    content: "\f15f";
}
.icon-spinner::before {
    content: "\f160";
}
.icon-star-filled::before {
    content: "\f161";
}
.icon-star::before {
    content: "\f162";
}
.icon-swap::before {
    content: "\f163";
}
.icon-telegram-filled::before {
    content: "\f164";
}
.icon-telegram::before {
    content: "\f165";
}
.icon-ton::before {
    content: "\f166";
}
.icon-tonexplorer-small::before {
    content: "\f167";
}
.icon-tonexplorer::before {
    content: "\f168";
}
.icon-tooltip::before {
    content: "\f169";
}
.icon-touch-id::before {
    content: "\f16a";
}
.icon-trash-small::before {
    content: "\f16b";
}
.icon-trash::before {
    content: "\f16c";
}
.icon-update::before {
    content: "\f16d";
}
.icon-versions::before {
    content: "\f16e";
}
.icon-wallet-add::before {
    content: "\f16f";
}
.icon-wallet-view::before {
    content: "\f170";
}
.icon-wallet::before {
    content: "\f171";
}
.icon-windows-close::before {
    content: "\f172";
}
.icon-windows-maximize::before {
    content: "\f173";
}
.icon-windows-minimize::before {
    content: "\f174";
}
