@font-face {
    font-family: "brilliant-icons";
    src: url("./brilliant-icons.woff?130ea017c9faa89f13a327e92bead72d") format("woff"),
url("./brilliant-icons.woff2?130ea017c9faa89f13a327e92bead72d") format("woff2");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: brilliant-icons !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400 !important;
}

.icon-windows-minimize::before {
    content: "\f101";
}
.icon-windows-maximize::before {
    content: "\f102";
}
.icon-windows-close::before {
    content: "\f103";
}
.icon-wallet::before {
    content: "\f104";
}
.icon-versions::before {
    content: "\f105";
}
.icon-update::before {
    content: "\f106";
}
.icon-trash::before {
    content: "\f107";
}
.icon-trash-small::before {
    content: "\f108";
}
.icon-touch-id::before {
    content: "\f109";
}
.icon-tooltip::before {
    content: "\f10a";
}
.icon-tonexplorer::before {
    content: "\f10b";
}
.icon-tonexplorer-small::before {
    content: "\f10c";
}
.icon-ton::before {
    content: "\f10d";
}
.icon-telegram::before {
    content: "\f10e";
}
.icon-swap::before {
    content: "\f10f";
}
.icon-star::before {
    content: "\f110";
}
.icon-star-filled::before {
    content: "\f111";
}
.icon-spinner::before {
    content: "\f112";
}
.icon-sort::before {
    content: "\f113";
}
.icon-snow::before {
    content: "\f114";
}
.icon-share::before {
    content: "\f115";
}
.icon-settings::before {
    content: "\f116";
}
.icon-send::before {
    content: "\f117";
}
.icon-send-small::before {
    content: "\f118";
}
.icon-send-alt::before {
    content: "\f119";
}
.icon-search::before {
    content: "\f11a";
}
.icon-replace::before {
    content: "\f11b";
}
.icon-receive::before {
    content: "\f11c";
}
.icon-receive-alt::before {
    content: "\f11d";
}
.icon-question::before {
    content: "\f11e";
}
.icon-qr-scanner::before {
    content: "\f11f";
}
.icon-qr-scanner-alt::before {
    content: "\f120";
}
.icon-plus::before {
    content: "\f121";
}
.icon-percent::before {
    content: "\f122";
}
.icon-pen::before {
    content: "\f123";
}
.icon-paste::before {
    content: "\f124";
}
.icon-params::before {
    content: "\f125";
}
.icon-more::before {
    content: "\f126";
}
.icon-missed::before {
    content: "\f127";
}
.icon-menu-dots::before {
    content: "\f128";
}
.icon-manual-lock::before {
    content: "\f129";
}
.icon-lock::before {
    content: "\f12a";
}
.icon-link::before {
    content: "\f12b";
}
.icon-ledger::before {
    content: "\f12c";
}
.icon-laptop::before {
    content: "\f12d";
}
.icon-globe::before {
    content: "\f12e";
}
.icon-github::before {
    content: "\f12f";
}
.icon-flashlight::before {
    content: "\f130";
}
.icon-fire::before {
    content: "\f131";
}
.icon-face-id::before {
    content: "\f132";
}
.icon-eye::before {
    content: "\f133";
}
.icon-eye-closed::before {
    content: "\f134";
}
.icon-external::before {
    content: "\f135";
}
.icon-explore::before {
    content: "\f136";
}
.icon-earn::before {
    content: "\f137";
}
.icon-download::before {
    content: "\f138";
}
.icon-download-filled::before {
    content: "\f139";
}
.icon-dot::before {
    content: "\f13a";
}
.icon-crypto::before {
    content: "\f13b";
}
.icon-copy::before {
    content: "\f13c";
}
.icon-cog::before {
    content: "\f13d";
}
.icon-close::before {
    content: "\f13e";
}
.icon-close-filled::before {
    content: "\f13f";
}
.icon-chevron-right::before {
    content: "\f140";
}
.icon-chevron-left::before {
    content: "\f141";
}
.icon-chevron-down::before {
    content: "\f142";
}
.icon-check::before {
    content: "\f143";
}
.icon-changelly::before {
    content: "\f144";
}
.icon-chain-tron::before {
    content: "\f145";
}
.icon-chain-ton::before {
    content: "\f146";
}
.icon-caret-down::before {
    content: "\f147";
}
.icon-card::before {
    content: "\f148";
}
.icon-backspace::before {
    content: "\f149";
}
.icon-arrow-up::before {
    content: "\f14a";
}
.icon-arrow-up-swap::before {
    content: "\f14b";
}
.icon-arrow-right::before {
    content: "\f14c";
}
.icon-arrow-right-swap::before {
    content: "\f14d";
}
.icon-arrow-down::before {
    content: "\f14e";
}
.icon-action-swap::before {
    content: "\f14f";
}
.icon-action-send::before {
    content: "\f150";
}
.icon-action-earn::before {
    content: "\f151";
}
.icon-action-add::before {
    content: "\f152";
}
.icon-accept::before {
    content: "\f153";
}
