@use "reboot";

@use "variables";

@use "brilliant-icons";

@use "mixins";

@use "mtwCustomCard";

html, body {
  overflow: hidden;
  overscroll-behavior: none;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--color-app-background);

  transition: background-color 350ms;

  @include mixins.respond-below(xs) {
    height: calc(var(--vh, 1vh) * 100);
  }
}

body {
  user-select: none;

  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
  color: var(--color-gray-1);
  text-align: left;

  caret-color: var(--color-accent, auto);

  -webkit-touch-callout: none;
}

html {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
  --bottombar-height: 0px;

  &.theme-dark {
    color-scheme: dark;
  }

  &.is-electron {
    --custom-cursor: default;
  }

  &.is-ios body,
  &.is-macos body {
    font-family: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;
  }

  // Required for closing over scrollable content (scroll tracking)
  &.is-native-bottom-sheet {
    overflow: auto;

    body {
      overflow: auto;
    }
  }

  &.with-bottombar {
    --bottombar-height: 3.25rem;
  }
}

#root,
#portals {
  font-size: 1.0625rem;
}

.not-implemented {
  opacity: 0.5;

  &,
  & * {
    cursor: not-allowed !important;
  }
}

* {
  box-sizing: border-box;
}

.custom-scroll,
.custom-scroll-x {
  // Fix scroll lock on iOS
  pointer-events: auto;
  scroll-behavior: smooth; // Primarily to smooth the scroll that happens when a virtual keyboard appears
  scrollbar-color: rgba(90, 90, 90, 0) transparent;
  scrollbar-width: thin;

  transition: scrollbar-color 300ms;

  -webkit-overflow-scrolling: touch;

  html.is-safari:not(.is-ios) & {
    scrollbar-width: auto;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-mini);
    background-color: rgba(90, 90, 90, 0);
    // `box-shadow` prevents repaint on macOS when hovering out of scrollable container
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
  }

  &:hover,
  &:focus,
  &:focus-within {
    scrollbar-color: rgba(90, 90, 90, 0.3) transparent;

    &::-webkit-scrollbar-thumb {
      background-color: rgba(90, 90, 90, 0.3);
    }
  }

  html.animation-level-0 & {
    scroll-behavior: initial;
  }
}

html:not(.is-ios):not(.is-android) {
  .custom-scroll {
    &::-webkit-scrollbar {
      width: 0.375rem;
    }
  }

  .custom-scroll-x {
    &::-webkit-scrollbar {
      height: 0.375rem;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

div[role="button"] {
  cursor: var(--custom-cursor, pointer);
  outline: none !important;
}

.opacity-transition {
  opacity: 1;
  transition: opacity 0.15s ease;

  &.not-open {
    opacity: 0;
  }

  &.not-shown {
    display: none;
  }

  &.slow {
    transition-duration: 0.3s;
  }
}

a {
  cursor: var(--custom-cursor, pointer);
  color: var(--color-accent);

  &:hover,
  &:focus-visible {
    color: var(--color-accent);
    text-decoration: underline;
  }
}

.no-transitions * {
  transition: none !important;
}

.with-notch-on-scroll {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.0625rem;

    opacity: 0;

    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: 0 0.035rem 0 0 var(--color-separator);

    transition: opacity 200ms;
  }

  &.is-scrolled::after {
    opacity: 1;
  }
}

.rounded-font {
  font-family: "Nunito", "Nunito Sans", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.browser-update-message {
  position: fixed;
  z-index: var(--z-notification);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 360px;
  padding: 1.5rem;

  font-size: 2rem;
  color: var(--color-gray-1);
  text-align: center;
  white-space: pre-wrap;

  background: var(--color-background-first);
  box-shadow: var(--default-shadow);

  html.is-rendered & {
    display: none;
  }
}

.no-selection {
  user-select: none !important;
}

/*
 See the article for more information on this visually-hidden pattern.
 https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visually-hidden {
  position: absolute !important;
  z-index: -1;

  overflow: hidden;

  width: 0;
  height: 0;

  clip: rect(0, 0, 0, 0);
}

/* A class for visually hiding elements used for various measurements. For example, the font size in `RichNumberInput`. */
.measure-hidden {
  pointer-events: none;

  position: absolute !important;
  z-index: -1;
  top: 0;
  left: 0;

  visibility: hidden;
  opacity: 0;
}

.glare-text {
  --glare-main: rgba(255, 255, 255, 0.3);
  --glare-accent: rgba(255, 255, 255, 0.7);

  color: transparent;

  background: linear-gradient(
                  45deg,
                  var(--glare-main) 0%,
                  var(--glare-main) 25%,
                  var(--glare-accent) 50%,
                  var(--glare-main) 75%,
                  var(--glare-main) 100%
  );
  background-clip: text;
  background-size: 200% 100%;

  animation: glare 2s ease-in-out infinite;
}

@keyframes glare {
  0% {
    background-position: -50% 0;
  }
  100% {
    background-position: -450% 0;
  }
}

.glare-image {
  --glare-main: rgba(255, 255, 255, 0.3);
  --glare-accent: rgba(255, 255, 255, 0.7);

  animation: glare-mask-image 2s ease-in-out infinite;

  mask-image: linear-gradient(
                  45deg,
                  var(--glare-main) 0%,
                  var(--glare-main) 25%,
                  var(--glare-accent) 50%,
                  var(--glare-main) 75%,
                  var(--glare-main) 100%
  );
  mask-size: 200% 100%;
}

@keyframes glare-mask-image {
  0% {
    mask-position: -50% 0;
  }
  100% {
    mask-position: -450% 0;
  }
}
