:root {
  // Color names comes from figma file
  --color-white: #FFF;
  --color-default-accent: #0088CC;
  --color-default-accent-hover: #0088CCCC;
  --color-accent: #0088CC;
  --color-black: #2C333E;
  --color-gray-1: #616770;
  --color-gray-2: #8B8F96;
  --color-gray-3: #A5A8AD;
  --color-gray-3-desktop: #B7B9BD;
  --color-gray-4: #C8CACD;
  --color-green: #2CD36F;
  --color-red: #F35B5B;
  --color-purple-1: #5E6BDE;
  --color-purple-2: #6875E9;
  --color-yellow: #DC7C00;
  --color-accent-10o: #0088CC1A;

  --color-background-first: #FFFFFF;
  --color-background-first-disabled: #FAFAFA;
  --color-background-second: #F3F4F5;
  --color-background-window: #F3F4F5;
  --color-background-drop-down: #FFFFFF;
  --color-background-tab-bar: #F3F4F5CC;
  --color-background-lock: rgba(255, 255, 255, 0.8);
  --color-background-purple-1: #F9FAFE;
  --color-background-purple-2: #DFE1FE;
  --color-background-blue-first: #F7FBFD;
  --color-background-blue-second: #CCE7F5;
  --color-background-yellow: #F2E7D8;
  --color-app-background: var(--color-background-second);

  --color-input-button-text: #616770;
  --color-input-button-background: #F4F5F6;
  --color-input-button-background-hover: #E8E8EA;
  --color-input-button-background-purple-rest: #E8EAFE;
  --color-input-button-background-purple-hover: #DFE1FE;

  --color-input-hint: #88A6C2;

  --color-accent-button-text: #FFFFFF;
  --color-accent-button-text-hover: #FFFFFF;
  --color-accent-button-background: #0088CC;
  --color-accent-button-background-hover: #16A5ED;

  --color-red-button-text: #FFFFFF;
  --color-red-button-text-hover: #FFFFFF;
  --color-red-button-background: #F35B5B;
  --color-red-button-background-hover: #FF7070;

  --color-green-button-text: #FFFFFF;
  --color-green-button-text-hover: #FFFFFF;
  --color-green-button-background: #1EC160;
  --color-green-button-background-hover: #26D76D;

  --color-secondary-button-text: #007FBE;
  --color-secondary-button-text-hover: #007FBE;
  --color-secondary-button-background: #DCEAF1;
  --color-secondary-button-background-hover: #CCE0ED;

  --color-red-warning-text: #FFFFFF;
  --color-red-warning-text-70: rgba(255, 255, 255, 0.7);
  --color-red-warning-text-hover: rgba(255, 255, 255, 0.85);
  --color-red-warning-background: rgba(243, 91, 91, 0.9);
  --color-red-warning-button-background: rgba(255, 255, 255, 0.3);
  --color-red-warning-button-background-hover: rgba(255, 255, 255, 0.4);

  --color-gray-button-text: #3F4650;
  --color-gray-button-text-hover: #353A43;
  --color-gray-button-background: #E2E3E5;
  --color-gray-button-background-hover: #D7D7DA;
  --color-gray-button-background-light: #E5E6E8;
  --color-gray-button-background-light-hover: #D9DBDE;
  --color-gray-button-desktop-text: #2D4C5C;
  --color-gray-button-desktop-text-hover: #486371;
  --color-gray-button-desktop-background: #EDEEEF;
  --color-gray-button-desktop-background-hover: #E3E3E5;

  --color-purple-button-text: #FFFFFF;
  --color-purple-button-text-hover: #FFFFFF;
  --color-purple-button-background: #6875E9;
  --color-purple-button-background-hover: #707EFF;
  --color-gpurple-button-text-rest: #5E6BDE;
  --color-gpurple-button-text-hover: #3D46D2;
  --color-gpurple-button-background-rest: #D0D2FE;
  --color-gpurple-button-background-hover: #C0C2FE;

  --color-close-button-text: #8399AE;
  --color-close-button-text-hover: #616770;
  --color-close-button-background: #E5E6E8;
  --color-close-button-background-hover: #D7D7DA;

  --color-activity-icon: #FFFFFF;
  --color-activity-blue: #007FBE;
  --color-activity-blue-background: #E7F2F7;
  --color-activity-gray-text: #616770;
  --color-activity-gray-background: #F1F1F3;
  --color-activity-green-text: #10B853;
  --color-activity-green-text-2: #83AE94;
  --color-activity-green-background: #EBF7F1;
  --color-activity-purple-text: #5E6BDE;
  --color-activity-purple-background: #EFF1F9;
  --color-activity-red-text: #E64F4F;
  --color-activity-red-text-2: #CD9595;
  --color-activity-red-background: #F9EFF0;

  --color-transaction-amount-text: #007FBE;
  --color-transaction-amount-bg: #D6E7F0;
  --color-transaction-amount-purple-text: #5E6BDE;
  --color-transaction-amount-purple-bg: #E2E5F4;
  --color-transaction-amount-green-text: #10B853;
  --color-transaction-amount-green-bg: #DBF0E5;
  --color-transaction-amount-red-text: #E64F4F;
  --color-transaction-amount-red-bg: #F3E2E3;
  --color-transaction-amount-gray-text: #3F4650;
  --color-transaction-amount-gray-bg: #E5E6E8;

  --color-separator: rgba(44, 51, 62, 0.12);
  --color-separator-input-stroke: rgba(32, 51, 62, 0.12);
  --color-linear-effect-1: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  --color-skeleton-shimmer: rgba(255, 255, 255, 0.62);

  --color-interactive-item-hover: #FAFAFA;
  --color-interactive-tab-hover: rgba(44, 51, 62, 0.08);
  --color-interactive-tab-active: rgba(0, 136, 204, 0.08);
  --color-interactive-input-text-hover-active: #8B8F96;
  --color-interactive-popup-menu-hover: #F0F6FB;
  --color-interactive-popup-menu-descructive-hover: #FEF4F4;
  --color-interactive-drop-down-menu-hover: #F9F9F9;
  --color-interactive-drop-down-menu-active: #F2F2F3;

  --color-tint: rgba(0, 0, 0, 0.32);
  --color-tint-lock: rgba(243, 244, 245, 0.4);

  --color-card-text: #FFFFFF;
  --color-card-text-hover: rgba(255, 255, 255, 0.7);
  --color-card-second-text: rgba(255, 255, 255, 0.6);
  --color-card-button: rgba(255, 255, 255, 0.2);
  --color-card-button-hover: rgba(255, 255, 255, 0.3);
  --color-card-button-shimmer: rgba(255, 255, 255, 0.4);
  --color-card-toggle: rgba(255, 255, 255, 0.3);
  --color-card-green-text: #54F293;
  --color-card-green-background: rgba(44, 211, 111, 0.25);
  --color-card-red-text: #FAD2EA;
  --color-card-red-background: rgba(250, 210, 234, 0.25);
  --color-card-apy-text: #FFF;
  --color-card-apy-background: rgba(86, 233, 145, 0.7);
  --color-card-connected-bg: rgba(0, 0, 0, 0.16);

  --color-add-wallet-text: #616770;
  --color-add-wallet-text-hover: #434953;
  --color-add-wallet-background: #F4F5F6;
  --color-add-wallet-background-hover: #E8E8EA;

  --color-apy-text: #10B853;
  --color-apy-background: #EBF7F1;
  --color-apy-active-text: #FFFFFF;
  --color-apy-active-background: #8892EB;

  --color-default-dapp-logo: #FFFFFF;
  --color-default-dapp-logo-background: #FF9900;

  --color-flashlight-button-background: rgba(255, 255, 255, 0.35);
  --color-flashlight-button-enabled-background: rgba(255, 255, 255, 0.95);
  --color-flashlight-button-text: #000;
  --color-flashlight-button-enabled-text: #53657B;

  --color-vesting-close-background: #B4DBF0;
  --color-vesting-close-background-hover: #9ACEEB;
  --color-vesting-blue: #007FBE;
  --color-vesting-blue-hover: #0053A7;
  --color-vesting-text: #007FBE;
  --color-vesting-background: #B4DBF0;

  --color-gradient-main-blue2-green: linear-gradient(81.88deg, #0088CC 19.42%, #1EC160 71.55%);
  --color-gradient-main-gray2-green: linear-gradient(90deg, #8B8F96 25%, #10B853 75%);
  --color-gradient-activity-gray-green-bg: linear-gradient(135deg, #EAFBF1 13.89%, #EDF1F6 86.11%);

  --default-shadow: 0 0 1.5625rem 0 #00000026;

  --spinner-green-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzJDRDM2RiIvPjwvc3ZnPg==);

  --layer-blackout-opacity: 0.1;

  --border-radius-micro: 0.1875rem;
  --border-radius-mini: 0.375rem;
  --border-radius-tiny: 0.5rem;
  --border-radius-small: 0.625rem;
  --border-radius-normal: 0.75rem;
  --border-radius-buttons: 0.75rem;
  --border-radius-default: 1rem;
  --border-radius-card: 1.25rem;
  --border-radius-big: 1.5rem;

  --blur-app-locked: 4rem;

  --scrollbar-width: 0;
  --safe-area-bottom-value: var(--safe-area-bottom);
  --safe-area-top-value: var(--safe-area-top);

  --electron-header-height: 3rem;
  --header-padding-top: 1.125rem;
  --header-title-height: 1.0625rem;
  --header-padding-bottom: 0.8125rem;

  --z-below: -1;
  --z-card: 10;
  --z-sticky-card: 10;
  --z-loading-overlay: 98;
  --z-media-viewer: 99;
  --z-modal: 100;
  --z-menu-backdrop: 199;
  --z-menu-bubble: calc(var(--z-menu-backdrop) + 1);
  --z-over-menu-bubble: calc(var(--z-menu-bubble) + 1);
  --z-notification: 250;
  --z-tooltip: 300;
  --z-confetti: 400;
  --z-portal-menu: 2500;
  --z-autolock: 3000;
  --z-modal-in-autolock: calc(var(--z-autolock) + 1);

  --no-animation-transition: 200ms opacity ease;
  --layer-transition: 300ms cubic-bezier(0.33, 1, 0.68, 1);
  --layer-transition-behind: 300ms cubic-bezier(0.33, 1, 0.68, 1);
  --slide-transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
  --select-transition: 200ms ease-out;
  --dropdown-transition: opacity 200ms cubic-bezier(0.2, 0, 0.2, 1), transform 200ms cubic-bezier(0.2, 0, 0.2, 1),
  scrollbar-color 300ms;
  --dropdown-transition-backwards: opacity 200ms ease-in, transform 200ms ease-in;

  --color-beidge-background: #D9EAF5;

  --sticky-card-height: 3.75rem;

  &.is-ios {
    --layer-transition: 650ms cubic-bezier(0.22, 1, 0.36, 1);
    --layer-transition-behind: 650ms cubic-bezier(0.33, 1, 0.68, 1);
    --slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);
  }

  &.is-android {
    --slide-transition: 350ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &.with-safe-area-top {
    --sticky-card-height: 2.625rem;
  }

  // Fix for opera, dead zone of 37 pixels in extension window on windows
  &.is-windows.is-opera.is-extension {
    --sticky-card-height: 4.75rem;
  }

  &.is-macos.is-electron {
    --sticky-card-height: var(--electron-header-height);
  }

  &.theme-dark,
  .component-theme-dark {
    --color-default-accent: #469CEC;
    --color-default-accent-hover: #469CECCC;
    --color-accent: #469CEC;
    --color-black: #F6F7F8;
    --color-gray-1: #BFC0C2;
    --color-gray-2: #89898B;
    --color-gray-3: #626363;
    --color-gray-3-desktop: #89898B;
    --color-gray-4: #515252;
    --color-purple-1: #95A0FE;
    --color-purple-2: #7986F7;
    --color-yellow: #E49329;
    --color-accent-10o: #469CEC1A;

    --color-background-first: #1C1C1E;
    --color-background-first-disabled: #141415;
    --color-background-second: #000000;
    --color-background-window: #0E0E0F;
    --color-background-drop-down: #222224;
    --color-background-tab-bar: #1C1C1EE5;
    --color-background-lock: rgba(28, 28, 30, 0.8);
    --color-background-purple-1: #191D2A;
    --color-background-purple-2: #292F46;
    --color-background-blue-first: #0B1E29;
    --color-background-blue-second: #123245;
    --color-background-yellow: #221A10;

    --color-input-button-text: #BFC0C2;
    --color-input-button-background: #2E2F30;
    --color-input-button-background-hover: #252525;
    --color-input-button-background-purple-rest: #252B40;
    --color-input-button-background-purple-hover: #292F46;

    --color-input-hint: #435362;

    --color-accent-button-background: #469CEC;
    --color-accent-button-background-hover: #51A7F7;

    --color-red-button-background: #D74A4A;
    --color-red-button-background-hover: #F35B5B;
    --color-red-warning-background: rgba(215, 74, 74, 0.9);

    --color-gray-button-text: #D8DADC;
    --color-gray-button-text-hover: #ECEEF0;
    --color-gray-button-background: #1E1E1F;
    --color-gray-button-background-hover: #2E2F30;
    --color-gray-button-background-light: #161617;
    --color-gray-button-background-light-hover: #1F1F21;
    --color-gray-button-desktop-text: #C7D7E6;
    --color-gray-button-desktop-text-hover: #DCEDFF;
    --color-gray-button-desktop-background: #2E2F30;
    --color-gray-button-desktop-background-hover: #3A3A3B;

    --color-purple-button-text: #FFFFFF;
    --color-purple-button-text-hover: #FFFFFF;
    --color-purple-button-background: #7986F7;
    --color-purple-button-background-hover: #8591FB;
    --color-gpurple-button-text-rest: #95A0FE;
    --color-gpurple-button-text-hover: #ACB5FE;
    --color-gpurple-button-background-rest: #3A456C;
    --color-gpurple-button-background-hover: #475484;

    --color-close-button-text: #89898B;
    --color-close-button-text-hover: #BFC0C2;
    --color-close-button-background: #1E1E1F;
    --color-close-button-background-hover: #2E2F30;

    --color-activity-blue: #58AFFF;
    --color-activity-blue-background: #1B2D3B;
    --color-activity-gray-text: #BFC0C2;
    --color-activity-gray-background: #2D2D2D;
    --color-activity-green-text: #2CD36F;
    --color-activity-green-text-2: #79A28B;
    --color-activity-green-background: #163623;
    --color-activity-purple-text: #95A0FE;
    --color-activity-purple-background: #25273D;
    --color-activity-red-text: #FF7A7A;
    --color-activity-red-text-2: #A97B7B;
    --color-activity-red-background: #3C2020;

    --color-transaction-amount-text: #58AFFF;
    --color-transaction-amount-bg: #0D1E2D;
    --color-transaction-amount-purple-text: #95A0FE;
    --color-transaction-amount-purple-bg: #17192F;
    --color-transaction-amount-green-text: #2BC469;
    --color-transaction-amount-green-bg: #082815;
    --color-transaction-amount-red-text: #FF7A7A;
    --color-transaction-amount-red-bg: #2E1111;
    --color-transaction-amount-gray-text: #D8DADC;
    --color-transaction-amount-gray-bg: #1E1E1F;

    --color-separator: rgba(246, 247, 248, 0.12);
    --color-separator-input-stroke: rgba(246, 247, 248, 0.12);
    --color-linear-effect-1: linear-gradient(90deg, rgba(28, 28, 30, 0) 0%, #1C1C1E 100%);
    --color-skeleton-shimmer: rgba(255, 255, 255, 0.052);

    --color-interactive-item-hover: #222224;
    --color-interactive-tab-hover: rgba(246, 247, 248, 0.08);
    --color-interactive-tab-active: rgba(70, 156, 236, 0.08);
    --color-interactive-input-text-hover-active: #89898B;
    --color-interactive-popup-menu-hover: #253A4D;
    --color-interactive-popup-menu-descructive-hover: #353543;
    --color-interactive-drop-down-menu-hover: #28292A;
    --color-interactive-drop-down-menu-active: #2E2F30;

    --color-tint: rgba(0, 0, 0, 0.64);
    --color-tint-lock: rgba(0, 20, 0, 0.4);

    --color-add-wallet-text: #BFC0C2;
    --color-add-wallet-text-hover: #D7D8D9;
    --color-add-wallet-background: #2E2F30;
    --color-add-wallet-background-hover: #414244;

    --color-apy-text: #2BC469;
    --color-apy-background: #163623;
    --color-apy-active-text: #FFFFFF;
    --color-apy-active-background: #6B78D9;

    --color-vesting-close-background: #174C6A;
    --color-vesting-close-background-hover: #1C5D81;
    --color-vesting-blue: #58AFFF;
    --color-vesting-blue-hover: #6BC1FF;
    --color-vesting-text: #58AFFF;
    --color-vesting-background: #174C6A;

    --color-beidge-background: #1A2938;

    --color-gradient-main-blue2-green: linear-gradient(81.88deg, #469CEC 19.42%, #2CD36F 71.55%);
    --color-gradient-main-gray2-green: linear-gradient(90deg, #89898B 25%, #2CD36F 75%);
    --color-gradient-activity-gray-green-bg: linear-gradient(135deg, #1F3838 13.89%, #2E3947 86.11%);

    --color-secondary-button-text: #58AFFF;
    --color-secondary-button-text-hover: #58AFFF;
    --color-secondary-button-background: #151F2A;
    --color-secondary-button-background-hover: #1A2530;
  }
}

.static-container {
  --color-gray-button-text: var(--color-gray-button-desktop-text);
  --color-gray-button-text-hover: var(--color-gray-button-desktop-text-hover);
  --color-gray-button-background: var(--color-gray-button-desktop-background);
  --color-gray-button-background-hover: var(--color-gray-button-desktop-background-hover);
}
