@use "sass:math";

@use "../../../../styles/mixins";

/* stylelint-disable-next-line plugin/whole-pixel */
$iconExtraBorderWidth: 0.03898rem; // The sub-pixel part of the icon border width
$subIconSize: 1rem;
$subheaderReleaseHeight: 1.25rem;

.item {
  $leftPadding: 0.75rem;
  $iconColumnWidth: 2.875rem;

  --border-radius-value: 0.25rem;

  position: relative;

  display: grid;
  grid-template-areas: "icon header" "icon subheader" "useless nft" "useless comment";
  grid-template-columns: $iconColumnWidth 1fr;
  grid-template-rows: 1.5rem 1.25rem auto auto;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.625rem 1rem 0.625rem $leftPadding;

  color: var(--color-black);
  text-align: left;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: $leftPadding + $iconColumnWidth;

    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }

  @include mixins.is-mobile() {
    $iconColumnWidth: 3rem;

    grid-template-columns: $iconColumnWidth 1fr;

    &::after {
      left: $leftPadding + $iconColumnWidth;
    }
  }

  &.interactive {
    @media (hover: hover) {
      &:focus-visible,
      &:hover {
        --color-background-first: var(--color-interactive-item-hover);

        background-color: var(--color-interactive-item-hover);
      }
    }
  }

  &:not(.interactive) {
    cursor: inherit;
  }

  &.active {
    --color-background-first: var(--color-interactive-item-hover);

    background-color: var(--color-interactive-item-hover);
  }

  &:active {
    // Optimization
    transition: none;
  }
}

.itemLast {
  &::after {
    content: none;
  }
}

.icon {
  $desktopIconScale: math.div(22, 24);
  $fontSize: 1.5rem;

  position: relative;

  grid-area: icon;

  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;

  font-size: $fontSize * $desktopIconScale;
  line-height: 2.25rem;
  color: var(--color-activity-gray-text);
  text-align: center;

  background-color: var(--color-activity-gray-background);

  @include mixins.is-mobile() {
    width: 2.375rem;
    height: 2.375rem;
    font-size: $fontSize;
    line-height: 2.375rem;
  }

  &:global(.icon-cog),
  &:global(.icon-fire) {
    $fontSize: 1.625rem;

    font-size: $fontSize * $desktopIconScale;

    @include mixins.is-mobile() {
      font-size: $fontSize;
    }
  }

  &:global(.icon-swap) {
    $fontSize: 2rem;

    font-size: $fontSize * $desktopIconScale;

    @include mixins.is-mobile() {
      font-size: $fontSize;
    }
  }

  &.dnsIcon {
    $fontSize: 0.9375rem;

    font-size: $fontSize * $desktopIconScale;
    font-weight: 650;
    font-style: normal;

    @include mixins.is-mobile() {
      font-size: $fontSize;
    }
  }
}

.iconFromToken {
  position: absolute;
  top: 0;
  left: 0;
}

.iconToToken {
  $borderWidth: 0.0625rem;

  position: absolute;
  right: -$borderWidth;
  bottom: -$borderWidth;

  padding: $borderWidth;
  border-radius: 50%;

  background: var(--color-background-first);
}

.iconWaiting,
.iconError {
  position: absolute;
  bottom: -0.125rem;
  inset-inline-end: -0.125rem;

  border-radius: 50%;

  font-size: $subIconSize;
  line-height: 1;

  background-color: var(--color-background-first);
}

.iconError {
  transform: scale(math.div($subIconSize + $iconExtraBorderWidth * 2, $subIconSize));
  color: var(--color-activity-red-text);
}

.iconToToken,
.iconWaiting {
  box-shadow: 0 0 0 $iconExtraBorderWidth var(--color-background-first);
}

.header,
.subheader {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  justify-content: space-between;

  min-width: 0;

  white-space: nowrap;
}

.header {
  grid-area: header;
  align-self: end;

  margin-block-end: 0.0625rem;

  font-size: 0.9375rem;
  font-weight: 600;

  @include mixins.is-mobile() {
    font-size: 1rem;
  }
}

.subheader {
  grid-area: subheader;
  align-self: start;

  margin-block-start: 0.125rem;

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-2);

  @include mixins.is-mobile() {
    margin-block-start: 0.0625rem;
    font-size: 0.8125rem;
  }
}

.header > .atMiddle {
  transform: translateY(0.5rem);

  @include mixins.is-mobile() {
    transform: translateY(0.625rem);
  }
}

.operationName,
.date {
  overflow: hidden;
  text-overflow: ellipsis;
}

.subheaderHighlight {
  font-weight: 700;

  > small {
    font-size: 0.625rem;
  }
}

.chainIcon {
  vertical-align: -0.125rem;
}

.amount {
  display: flex;
  align-items: center;
  background: none !important;

  &TokenIcon {
    margin: -0.1875rem 0 -0.0625rem 0.25rem;

    @include mixins.is-mobile() {
      margin-top: -0.125rem;
      margin-bottom: -0.125rem;
    }

    & + & {
      margin-left: -0.4375rem;
      padding: 0.0625rem;
      border-radius: 50%;
      background: var(--color-background-first);
    }
  }
}

.commentIcon {
  font-size: 1rem;
  vertical-align: -0.25rem;
}

.comment {
  overflow: hidden;
  grid-area: comment;

  padding: 0.4375rem 0.625rem;
  border-radius: var(--border-radius-default);

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include mixins.is-mobile() {
    font-size: 0.875rem;
  }

  &.outgoing {
    border-bottom-right-radius: var(--border-radius-mini); // Yes, it's intended to be the bottom corner
  }

  &:not(.outgoing) {
    border-top-left-radius: var(--border-radius-mini);
  }
}

.scamImage {
  width: 2.4375rem;
  margin-left: 0.3125rem;
}

.swapArrowRight {
  margin: 0 0.125rem;

  color: transparent;

  background: var(--color-gradient-main-gray2-green);
  background-clip: text;
  background-size: 100%;
}

.swapSell {
  color: var(--color-gray-2);
}

.swapBuy {
  color: var(--color-activity-green-text);
}

// .swapBuy should be stronger than .swapSell, but weaker than .swapHold
/* stylelint-disable-next-line plugin/stylelint-group-selectors */
.swapHold {
  color: var(--color-gray-2);
}

.swapError {
  color: var(--color-activity-red-text);
}

.nft {
  overflow: hidden;
  display: flex;
  grid-area: nft;
  align-items: center;

  height: 3.5rem;
  border-radius: var(--border-radius-normal);

  &.nonInteractive {
    pointer-events: none !important;
  }
}

.nftImage {
  width: 3.5rem;
  height: 3.5rem;
  border-top-right-radius: var(--border-radius-normal);
  border-bottom-right-radius: var(--border-radius-normal);

  object-fit: cover;
}

.nftData {
  min-width: 0;
  padding: 0 0.75rem 0 0.625rem;
}

.nftName,
.nftCollection {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nftName {
  font-size: 0.9375rem;
  font-weight: 700;

  @include mixins.is-mobile() {
    font-size: 1rem;
  }
}

.nftCollection {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-2);

  @include mixins.is-mobile() {
    font-size: 0.8125rem;
  }
}

.attachment {
  $topMargin: 0.375rem;

  max-width: 100%;
  margin-top: $topMargin;
  color: var(--color-activity-gray-text);
  background-color: var(--color-activity-gray-background);

  &.outgoing {
    margin-inline-start: auto;
  }

  &:not(.outgoing) {
    margin-inline-end: auto;
  }

  &:not(& + &) {
    .attachmentsInFullSubheader > &,
    .attachmentsInLeftSubheader > & {
      margin-top: $topMargin - $subheaderReleaseHeight;
    }

    .attachmentsInLeftSubheader > & {
      $maxSubAmountWidth: 4rem;

      max-width: calc(100% - $maxSubAmountWidth);
    }
  }
}

.color {
  &In {
    color: var(--color-activity-green-text);
    background-color: var(--color-activity-green-background);
  }

  &Out {
    color: var(--color-activity-blue);
    background-color: var(--color-activity-blue-background);
  }

  &Stake {
    color: var(--color-activity-purple-text);
    background-color: var(--color-activity-purple-background);
  }

  &Negative {
    color: var(--color-activity-red-text);
    background-color: var(--color-activity-red-background);
  }

  &Swap {
    background: linear-gradient(135deg, var(--color-activity-blue-background) 14%, var(--color-activity-green-background) 86%);

    // Firefox (checked in v139) doesn't support `background-clip: text, border-box`, so we don't use a multi-layer background
    &::before {
      background: linear-gradient(85deg, var(--color-transaction-amount-text) 30%, var(--color-transaction-amount-green-text) 45%);
      background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }
}
