@use "../../../../styles/mixins";

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 1.875rem;
  padding-bottom: 2rem;

  color: var(--color-gray-2);

  @include mixins.respond-above(xs) {
    justify-content: center;
  }
}

.emptyListTitle {
  margin: 1.25rem 0 0;
  font-size: 1.0625rem;
  font-weight: 700;
  color: var(--color-black);
}

.emptyListLoading {
  padding-top: 8rem;

  @include mixins.respond-above(xs) {
    padding-bottom: 8rem;
  }
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 2rem 0;
}

.sticker {
  width: 9.75rem;
  height: 9.75rem;
}

.loaderThreshold {
  pointer-events: none;

  position: absolute;
  bottom: min(100%, 40rem);

  width: 0;
  height: 0;
}

.itemLoading {
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.date {
  --color-dot: var(--color-activity-gray-text);

  width: max-content;
  margin: 0.25rem auto;
  padding: 0.25rem 0.5625rem;
  border-radius: var(--border-radius-default);

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-activity-gray-text);

  background-color: var(--color-activity-gray-background);

  @include mixins.is-mobile() {
    font-size: 0.8125rem;
  }

  &_withLoadingDots {
    position: relative;
    padding-right: 2.5rem;
  }
}

.loadingDots {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scale(0.6);
}

.dateContainer {
  display: flex;
  align-items: center;
  height: 1.625rem;
  margin: 0.75rem auto 0.25rem;
}

.dateSlide {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  & > .date {
    margin: 0 auto !important;
  }
}

.listItem {
  position: absolute;
  width: 100%;
  text-align: center;
}

.listGroup {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
