@import "../../../../styles/mixins";

.wrapper {
  height: 100%;
}

.wrapperLoading {
  height: 4rem;
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 8rem;

  @include respond-above(xs) {
    justify-content: center;

    padding-top: 0;
  }
}

.emptyListSeparate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}
