@import "../../../../styles/mixins";

.wrapper {
  height: 100%;
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 8rem;

  /* stylelint-disable-next-line order/order, at-rule-empty-line-before */
  @include respond-above(xs) {
    justify-content: center;

    height: 8rem;
    padding-top: 0;
  }
}
