.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &.portraitContainer {
    flex: 1 1 auto;
  }

  &.landscapeContainer {
    overflow: hidden;
  }
}

.assetsPanel {
  overflow: hidden;
  flex-shrink: 0;

  margin-bottom: 0.75rem;

  background: var(--color-background-first);
  border-radius: var(--border-radius-default);
}

.tabs {
  position: relative;
  z-index: 1;

  padding: 0 1.75rem;

  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: 0 0.025rem 0 0 var(--color-separator);

  .landscapeContainer & {
    justify-content: flex-start;

    padding: 0 0.75rem;
  }
}

.tab {
  flex: 1 1 33.3%;

  .landscapeContainer & {
    flex: 0 0 auto;

    padding-right: 0;
    padding-left: 0;
  }
}

.slides {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-background-first);
  border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);

  .landscapeContainer & {
    flex-grow: 1;
  }
}

.slide {
  overflow: auto;
  overflow-y: scroll;
}

.portraitContainer {
  .slides {
    flex: 1 1 auto;

    border-radius: 0;
  }

  .slide {
    overflow: hidden;
    flex: 1 1 auto;

    min-height: 0;
  }
}
