@import "../../../../styles/mixins";

.wrapper {
  padding-top: 0.75rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-content: start;

  padding: 0.5rem;

  &.landscapeList {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include adapt-padding-to-scrollbar(0.5rem);
}

.suggestions {
  --offset-y-value: 0;

  z-index: 1;

  margin: 0 0.5rem;

  @include adapt-margin-to-scrollbar(0.5rem);
}

@include respond-below(xs) {
  .suggestionsMenu {
    max-height: 9.5rem;
  }
}

.suggestion {
  align-items: center;

  padding: 0.5rem 2.25rem 0.5rem 0.5rem !important;
}

.suggestionIcon {
  margin-inline-end: 0.5rem;

  font-size: 1.25rem !important;
  color: var(--color-gray-3);
}

.suggestionAddress {
  overflow: hidden;

  font-size: 1rem;
  text-overflow: ellipsis;
}

.clearSuggestion {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  padding: 0;

  font-size: 1.25rem;
  line-height: 1rem;
  color: var(--color-gray-4);

  background: none;
  border: none;

  transition: color 150ms;

  &:hover,
  &:focus-visible {
    color: var(--color-gray-3);
  }
}

.item {
  cursor: var(--custom-cursor, pointer);

  padding-bottom: 0.125rem;

  font-size: 0.9375rem;
  font-weight: 600;
  text-decoration: none;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      text-decoration: none;

      .image {
        transform: scale(1.05);
      }
    }
  }

  @media (pointer: coarse) {
    &:active {
      text-decoration: none;

      .image {
        transform: scale(1.05);
      }
    }
  }
}

.imageWrapper {
  /* Fix for `border-radius` missing during transform on Safari. See https://stackoverflow.com/a/58283449 */
  isolation: isolate;
  position: relative;

  overflow: hidden;
  display: block !important;

  aspect-ratio: 1;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.4375rem;

  border-radius: var(--border-radius-normal);

  @supports not (aspect-ratio: 1) {
    height: auto;
    max-height: 100%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform 300ms, opacity 300ms ease;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.infoWrapper {
  padding: 0 0.25rem;

  line-height: 1.0625rem;
}

.title {
  font-weight: 700;
  color: var(--color-black);
  word-break: break-word;
}

.description {
  overflow: hidden;

  padding: 0.125rem 0.25rem 0;

  font-size: 0.75rem;
  line-height: 0.875rem;
  color: var(--color-gray-2);
  text-overflow: ellipsis;
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 1.875rem;
  padding-bottom: 2rem;

  color: var(--color-gray-2);

  @include respond-above(xs) {
    justify-content: center;
  }
}

.emptyListLoading {
  padding-top: 8rem;

  @include respond-above(xs) {
    padding-bottom: 8rem;
  }
}

.searchWrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 2.25rem;
  margin: 0 0.75rem 0.5rem;

  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-gray-3);

  background-color: var(--color-background-second);
  border-radius: var(--border-radius-big);

  @include adapt-margin-to-scrollbar(0.75rem);
}

.searchIcon {
  margin-left: 0.5rem;
}

.searchInput {
  width: 100%;
  padding: 0 0.25rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);

  background: transparent;
  border: none;
  outline: none;

  appearance: none;

  &::placeholder {
    font-weight: 600;
    color: var(--color-gray-2);
  }

  &:hover,
  &:focus {
    &::placeholder {
      color: var(--color-interactive-input-text-hover-active);
    }
  }
}
