.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;

  &.panel {
    flex-direction: row;
    gap: 1rem;
  }

  &.emptyList {
    flex-direction: column;
    gap: 1.25rem;
  }
}

.emptyList .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 0.75rem;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--color-black);

  .emptyList & {
    font-size: 1.0625rem;
  }
}

.description {
  margin-bottom: 0;
  font-size: 0.8125rem;
  color: var(--color-gray-2);

  .emptyList & {
    max-width: 28ch;
    font-size: 0.9375rem;
  }
}
