.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 1.875rem;
  padding-bottom: 2rem;

  color: var(--color-gray-2);
}

.emptyListTitle {
  margin: 1.25rem 0 0;

  font-size: 1.0625rem;
  font-weight: 700;
  color: var(--color-black);
}

.emptyListText {
  margin: 1.0625rem 0 1.125rem;

  font-size: 0.9375rem;
  text-align: center;
}

.emptyListLoading {
  padding-top: 8rem;
}

.emptyListButton {
  display: inline-block;

  margin: 0 auto;
  padding: 0.5rem 1rem;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--color-blue-button-text);
  text-decoration: none;

  background-color: var(--color-blue-button-background);
  border-radius: 0.5rem;

  transition: background-color 150ms, color 150ms;

  &:hover,
  &:focus {
    color: var(--color-blue-button-text-hover);
    text-decoration: none;

    background-color: var(--color-blue-button-background-hover);
  }

  &:active {
    // @optimization
    transition: none !important;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.sticker {
  width: 9.75rem;
  height: 9.75rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  padding: 0.5rem;
}

.item {
  padding-bottom: 0.125rem;

  font-size: 0.9375rem;
  font-weight: 600;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;

    .image {
      transform: scale(1.05);
    }
  }

  &_onSale {
    position: relative;

    &::before {
      content: '';

      position: absolute;
      z-index: 1;
      top: -0.375rem;
      right: 0.25rem;

      width: 2.75rem;
      height: 2.9375rem;

      background: url("../../../../assets/sale.png") no-repeat;
      background-size: contain;
    }
  }
}

.imageWrapper {
  position: relative;

  overflow: hidden;
  display: block !important;

  aspect-ratio: 1;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.4375rem;

  border-radius: 0.5rem;

  @supports not (aspect-ratio: 1) {
    height: auto;
    max-height: 100%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform 300ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.infoWrapper {
  padding: 0 0.25rem;

  line-height: 1.0625rem;
}

.title {
  font-weight: 700;
  color: var(--color-black);
  word-break: break-word;
}

.collection {
  overflow: hidden;

  padding: 0.125rem 0.25rem 0;

  font-size: 0.75rem;
  line-height: 1;
  color: var(--color-gray-1);
  text-overflow: ellipsis;
}
