@import "../../../../styles/mixins";

.root {
  display: flex;
  align-items: center;

  width: 100%;
  height: 2.75rem;

  background: var(--color-background-first);
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

  transition: background-color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.backButton {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: 2.75rem;
  padding: 0.125rem 0.5rem 0;

  font-size: 0.9375rem;
  color: var(--color-accent);
}

.backIcon {
  font-size: 1.25rem;
}

.content {
  flex: 1 1 auto;

  max-width: 100%;
  padding: 0 4.75rem;

  text-align: center;
}

.title {
  overflow: hidden;

  font-size: 0.9375rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.amount {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}

.menuButton {
  position: absolute;
  top: 0;
  right: 0;

  width: 2.75rem;
  height: 2.75rem;
  padding-top: 0.3125rem;
  padding-right: 0.125rem;

  font-size: 1rem;
  color: var(--color-accent);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-button-background-hover);
  }
}

.menu {
  --offset-x-value: 0.5rem;

  overflow: hidden;

  padding-right: 0.5rem !important;
}

.menuItem > :global(.icon) {
  overflow: hidden;
  order: 2;

  max-width: 14rem;
  margin-inline-start: 0.25rem;
  margin-inline-end: 0;

  font-size: 1rem;
  color: var(--color-gray-3);
  text-overflow: ellipsis;

  transition: color 150ms;
}

.sendAllButton {
  position: absolute;
  top: 0;
  right: 2.5rem;

  width: 2.25rem !important;
  height: 2.75rem !important;

  color: var(--color-accent);
}

.burnAllButton {
  position: absolute;
  top: 0;
  right: 0.5rem;

  width: 2.25rem !important;
  height: 2.75rem !important;

  color: var(--color-red);
}

.buttonIcon {
  font-size: 1.25rem !important;
}
