@use "../../../../styles/mixins";

.root {
  display: flex;
  align-items: center;

  width: 100%;
  height: 3rem;
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

  color: var(--color-black);

  background: var(--color-background-first);

  transition: background-color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.backButton {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 3rem;
  height: 3rem;
  padding: 0.125rem 0.5rem 0;

  font-size: 1.0625rem;
  color: var(--color-accent);
}

.backIcon {
  font-size: 1.25rem;
}

.content {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0 3rem;
  text-align: center;
}

.title {
  overflow: hidden;

  font-size: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.amount {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}

.menuButton {
  position: absolute;
  top: 0;
  right: 0;

  width: 3rem;
  height: 3rem;
  padding-top: 0.3125rem;
  padding-right: 0.125rem;

  font-size: 1rem;
  color: var(--color-accent);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-button-background-hover);
  }
}

.menu {
  --offset-x-value: 0.5rem;

  max-height: 65vh;
}

.menuItem {
  padding: 0.75rem 1rem !important;

  @media (pointer: coarse) {
    padding: 0.875rem 1rem !important;
  }

  > :global(.icon) {
    overflow: hidden;
    order: 2;

    max-width: 14rem;
    margin-inline-start: 0.25rem;
    margin-inline-end: 0;

    font-size: 1rem;
    color: var(--color-gray-3);
    text-overflow: ellipsis;

    transition: color 150ms;

    @media (pointer: coarse) {
      font-size: 1.125rem;
    }
  }

  &:hover,
  &:focus-visible {
    > :global(.icon) {
      color: var(--color-accent);
    }
  }
}

.menuItemDescription:first-letter {
  text-transform: uppercase;
}

.sendAllButton {
  position: absolute;
  top: 0;
  right: 2.5rem;

  width: 2.25rem !important;
  height: 2.75rem !important;

  color: var(--color-accent);
}

.burnAllButton {
  position: absolute;
  top: 0;
  right: 0.5rem;

  width: 2.25rem !important;
  height: 2.75rem !important;

  color: var(--color-red);
}

.buttonIcon {
  font-size: 1.25rem !important;
}
