.button {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 2.25rem;
  margin: 0;
  padding: 0;
  border: none;
  border-top-right-radius: var(--border-radius-normal);
  border-bottom-left-radius: var(--border-radius-normal);

  color: var(--color-white);

  appearance: none;
  background: rgba(0, 0, 0, 0.26);

  transition: opacity 0.2s ease, transform 0.2s ease;

  @media (hover: hover) {
    &:hover .icon,
    &:focus-visible .icon,
    &:active .icon {
      opacity: 0.6;
    }
  }

  @media (pointer: coarse) {
    &:active .icon {
      opacity: 0.6;
    }
  }

  :global(.ghost-target) & {
    transform: translateY(-15%) scale(0.8);
    opacity: 0;
    transition: none;
  }
}

.icon {
  position: relative;
  z-index: 2;
  transition: opacity 300ms;
}

.menu {
  --offset-y-bottom-value: 0rem;
  --offset-y-value: 2rem;
  --offset-x-value: 0.25rem;
}

.contextMenu {
  --offset-y-bottom-value: 0rem;
  --offset-y-value: 0rem;
  --offset-x-value: 0rem;
}

.menuBubble {
  max-height: 65vh;
}

.item {
  padding: 0.75rem 1rem !important;

  @media (pointer: coarse) {
    padding: 0.875rem 1rem !important;
  }

  > :global(.icon) {
    order: 2;

    margin-inline-start: 0.25rem;
    margin-inline-end: 0;

    font-size: 1rem;
    color: var(--color-gray-3);

    transition: color 150ms;

    @media (pointer: coarse) {
      font-size: 1.125rem;
    }
  }

  &:hover,
  &:focus-visible {
    > :global(.icon) {
      color: var(--color-accent);
    }
  }
}

.menuItemDescription:first-letter {
  text-transform: uppercase;
}
