@import "../../../../styles/mixins";

.item {
  position: relative;

  display: grid;
  grid-template-areas: "icon header" "icon subheader" "useless nft" "useless comment";
  grid-template-columns: 2.875rem 1fr;
  grid-template-rows: 1.3125rem 0.9375rem auto auto;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.875rem 0.875rem 0.875rem 0.75rem;

  color: var(--color-black);
  text-align: left;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 3.625rem;

    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }

  @media (hover: hover) {
    &:focus-visible,
    &:hover {
      --color-background-first: var(--color-interactive-item-hover);

      background-color: var(--color-interactive-item-hover);
    }
  }

  &.active {
    --color-background-first: var(--color-interactive-item-hover);

    background-color: var(--color-interactive-item-hover);
  }

  &:active {
    // Optimization
    transition: none;
  }
}

.itemLast {
  &::after {
    content: none;
  }
}

.iconArrow {
  position: absolute;
  top: 0.8125rem;
  right: 0.5rem;

  font-size: 1rem;
  color: var(--color-gray-4);
}

.icon {
  grid-area: icon;

  width: 2.25rem;
  height: 2.25rem;
  margin: 0 0.625rem 0 0;

  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-activity-gray-text);
  text-align: center;

  background-color: var(--color-activity-gray-background);
  border-radius: 50%;

  &::before {
    line-height: 2.25rem;
  }

  &_staking {
    font-size: 1.875rem;
  }

  &_operationPositive {
    color: var(--color-activity-green-text);

    background-color: var(--color-activity-green-background);
  }

  &_purple {
    color: var(--color-activity-purple-text);

    background-color: var(--color-activity-purple-background);
  }

  &_error {
    color: var(--color-activity-red-text);

    background: var(--color-activity-red-background) !important;
  }

  &_swap {
    transform: rotate(180deg);

    font-size: 1.875rem;

    background-image: var(--color-gradient-activity-gray-green-bg);

    &:not(.icon_error)::before {
      color: transparent;

      background: var(--color-gradient-activity-gray-green-text);
      background-clip: text;
      background-size: 100%;
    }
  }
}

.iconWaiting {
  position: absolute;
  top: 2.25rem;
  left: 2.125rem;

  line-height: 1;

  background-color: var(--color-background-first);
  border-radius: 50%;
}

.iconError {
  position: absolute;
  top: 2.25rem;
  left: 2.125rem;

  font-size: 1rem;
  line-height: 1;
  color: var(--color-red);

  background-color: var(--color-background-first);
  border-radius: 50%;
}

.iconWaitingStake {
  color: var(--color-activity-purple-text);
}

.header,
.subheader {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  justify-content: space-between;

  min-width: 0;

  white-space: nowrap;
}

.header {
  grid-area: header;

  padding-bottom: 0.125rem;

  font-size: 0.9375rem;
  font-weight: 600;
}

.subheader {
  grid-area: subheader;

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-2);
}

.operationName,
.address {
  overflow: hidden;

  text-overflow: ellipsis;
}

.amount,
.address {
  text-align: right;
}

.addressValue {
  font-weight: 650;
}

.chainIcon {
  vertical-align: -0.125rem;
}

.amount {
  &_operationPositive {
    color: var(--color-green);
  }

  &_operationNegative {
    color: var(--color-gray-1);
  }

  &_stake {
    color: var(--color-purple-2);
  }
}

.commentIcon {
  margin-left: -0.125rem;

  font-size: 1rem;
  vertical-align: -0.25rem;
}

.comment {
  overflow: hidden;
  grid-area: comment;

  max-width: 100%;
  margin-top: 0.4375rem;
  padding: 0.5rem 0.625rem;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-radius: 1rem;

  &_incoming {
    margin-inline-end: auto;

    color: var(--color-activity-green-text);

    background-color: var(--color-activity-green-background);
    border-top-left-radius: 0.3125rem;
  }

  &_outgoing {
    margin-inline-start: auto;

    color: var(--color-activity-gray-text);

    background-color: var(--color-activity-gray-background);
    border-top-right-radius: 0.3125rem;
  }
}

.scamImage {
  width: 2.375rem;
  margin-left: 0.25rem;
}

.swapAmount {
  display: flex;
  align-items: center;
}

.swapArrowRight {
  padding: 0 0.125rem;

  color: transparent;

  background: var(--color-gradient-main-gray2-green);
  background-clip: text;
  background-size: 100%;
}

.swapBuy {
  color: var(--color-green);
}

.swapError {
  color: var(--color-red);
}

.swapSell,
.swapHold {
  color: var(--color-gray-2);
}

.isSwapErrorMessage {
  font-size: 0.75rem;
  color: var(--color-red);
}

.nft {
  overflow: hidden;
  display: flex;
  grid-area: nft;

  max-width: 100%;
  height: 3.5rem;
  margin-top: 0.5rem;
  margin-inline-start: auto;

  background-color: var(--color-activity-gray-background);
  border-radius: var(--border-radius-normal) 0.3125rem var(--border-radius-normal) var(--border-radius-normal);

  &.received {
    margin-inline-start: 0;
    margin-inline-end: auto;

    background-color: var(--color-activity-green-background);
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: var(--border-radius-normal);
  }
}

.nftWithComment {
  border-bottom-right-radius: 0.3125rem;

  &.received {
    border-bottom-right-radius: var(--border-radius-normal);
    border-bottom-left-radius: 0.3125rem;
  }
}

.nftImage {
  width: 3.5rem;
  height: 3.5rem;

  object-fit: cover;
}

.nftData {
  min-width: 0;
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
}

.nftName,
.nftCollection {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.nftName {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-activity-gray-text);

  .received & {
    color: var(--color-activity-green-text);
  }
}

.nftCollection {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-gray-2);

  .received & {
    color: var(--color-green-2);
  }
}
