.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.wallet {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  transition: opacity 200ms;

  &_empty {
    opacity: 0;
  }
}

.walletAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  background-color: var(--push-wallet-avatar-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%238B8F96' fill-rule='evenodd' d='m21.747 10.137.003 3.682c-.026.35-.06.701-.1 1.05a1.293 1.293 0 0 1-1.14 1.124c-1.87.21-3.805.21-5.675 0a1.293 1.293 0 0 1-1.14-1.123 24.741 24.741 0 0 1 0-5.748A1.293 1.293 0 0 1 14.835 8a25.757 25.757 0 0 1 5.674 0 1.292 1.292 0 0 1 1.14 1.123c.04.338.073.677.098 1.016Zm-4.075.335a1.524 1.524 0 1 0 0 3.048 1.524 1.524 0 0 0 0-3.048Z' clip-rule='evenodd'/%3E%3Cpath fill='%238B8F96' d='M21.13 5.94c.159.273-.138.579-.452.544a27.281 27.281 0 0 0-6.012 0 2.817 2.817 0 0 0-2.486 2.461 26.268 26.268 0 0 0 0 6.102 2.817 2.817 0 0 0 2.486 2.46c1.998.222 4.014.222 6.012 0 .316-.035.616.274.456.55a5.051 5.051 0 0 1-3.841 2.49l-.663.069c-3.364.353-6.758.33-10.117-.07l-.44-.052a3.995 3.995 0 0 1-3.487-3.44 38.25 38.25 0 0 1 0-10.117 3.995 3.995 0 0 1 3.488-3.439l.439-.052c3.359-.4 6.753-.424 10.117-.07l.663.07A5.04 5.04 0 0 1 21.13 5.94Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 200ms;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      opacity: 0.85;
    }
  }
}

.walletAvatarImg {
  width: 1.5rem;
}

.walletInfo {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-left: 0.75rem;
}

.walletBalance {
  height: 1.25rem;
  margin-top: 0.1875rem;

  font-size: 1rem;
  font-weight: 700;
  color: var(--push-text-primary);
}

.walletBalanceLink {
  color: var(--push-text-primary);
  transition: color 150ms;
}

.walletDisconnectLink {
  font-size: 0.875rem;
  color: var(--push-text-secondary);
  text-decoration: none !important;
  transition: color 150ms;
}

.helpButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  background-color: var(--push-help-button-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%238B8F96' d='M11.97 15.051c-.325 0-.583-.103-.775-.31-.178-.222-.266-.518-.266-.888 0-.43.051-.829.155-1.198a4.81 4.81 0 0 1 .487-1.154c.237-.385.547-.777.931-1.176.266-.311.48-.577.643-.8a2.1 2.1 0 0 0 .354-.665c.074-.222.11-.444.11-.666 0-.414-.154-.74-.464-.976-.296-.237-.724-.355-1.286-.355-.531 0-1.026.066-1.484.2a5.978 5.978 0 0 0-1.307.576c-.385.208-.732.289-1.042.244a1.215 1.215 0 0 1-.709-.399 1.447 1.447 0 0 1-.11-1.642c.162-.296.435-.555.82-.777a7.364 7.364 0 0 1 2.015-.799A8.852 8.852 0 0 1 12.103 4c.975 0 1.832.163 2.57.488.739.326 1.308.77 1.707 1.332.413.562.62 1.22.62 1.975 0 .458-.067.887-.2 1.287-.132.4-.347.799-.642 1.198-.295.385-.702.792-1.219 1.22a9.32 9.32 0 0 0-1.085 1.044 3.147 3.147 0 0 0-.576.865c-.119.266-.2.555-.244.866a.945.945 0 0 1-.333.554c-.162.148-.406.222-.73.222ZM11.926 20c-.591 0-1.064-.177-1.418-.533-.34-.355-.51-.813-.51-1.375 0-.548.17-.992.51-1.332.354-.355.827-.533 1.418-.533.59 0 1.049.178 1.374.533.34.34.51.784.51 1.331 0 .563-.17 1.021-.51 1.376-.325.356-.783.533-1.374.533Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 200ms;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      opacity: 0.85;
    }
  }
}

.tokenContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 16rem;
}

.particles {
  position: absolute;
  bottom: 0;
}

.tokenLogo {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 2rem;
}

.tokenImgContainer {
  overflow: hidden;
  display: block;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--push-token-bg);
}

.tokenImg {
  width: 100%;
  height: 100%;
}

.tokenBadgeTransition {
  position: static;
  width: 0;
  height: 0;
}

.tokenBadge {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.0625rem;
  height: 2.0625rem;
  border: 0.1875rem solid var(--push-background);
  border-radius: 50%;

  &_clock {
    background-color: #8C8E96;
  }

  &_check {
    background-color: var(--push-badge-received);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='M2 7.333 4.5 10 12 2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.iconCheck {
  width: 0.8125rem;
  margin-top: -0.125rem;
}

.mainTransition {
  flex: 1;
}

.mainTransitionSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--push-background);

  // Allow Telegram to animate background on launch
  :global(html.force-transparent-bg) & {
    background-color: transparent;
  }
}

.amount {
  font-size: 2.5rem;
  font-weight: 800;

  &_sending, &_receiving {
    // Center of mass compensation for +/- signs
    margin-left: -0.875rem;
  }

  &_sending {
    color: var(--push-amount-sending);

    &::before {
      content: '-';
      margin-right: 0.25rem;
    }
  }

  &_receiving {
    color: var(--push-amount-receiving);

    &::before {
      content: '+';
      margin-right: 0.25rem;
    }
  }
}

.status {
  display: flex;

  height: 1.5rem;
  margin-top: 0.5rem;

  font-size: 1.25rem;
  color: var(--push-text-secondary);
  text-align: center;
}

.statusLink {
  display: flex;
  color: var(--push-text-secondary);
  text-decoration: none !important;
  transition: color 150ms;
}

.txIcon, .whyNotFoundIcon {
  width: 1.25rem;

  background-repeat: no-repeat;
  background-position: center 0.4375rem;
  background-size: 0.8125rem;

  transition: opacity 200ms;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      opacity: 0.85;
    }
  }
}

.txIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='191' height='191' fill='none'%3E%3Ccircle cx='95.5' cy='95.5' r='87.5' stroke='%238B8F96' stroke-width='16'/%3E%3Cpath stroke='%238B8F96' stroke-linecap='round' stroke-width='24' d='M95 95v44'/%3E%3Ccircle cx='95' cy='54' r='15' fill='%238B8F96'/%3E%3C/svg%3E");
}

.whyNotFoundIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%238B8F96' d='M11.97 15.051c-.325 0-.583-.103-.775-.31-.178-.222-.266-.518-.266-.888 0-.43.051-.829.155-1.198a4.81 4.81 0 0 1 .487-1.154c.237-.385.547-.777.931-1.176.266-.311.48-.577.643-.8a2.1 2.1 0 0 0 .354-.665c.074-.222.11-.444.11-.666 0-.414-.154-.74-.464-.976-.296-.237-.724-.355-1.286-.355-.531 0-1.026.066-1.484.2a5.978 5.978 0 0 0-1.307.576c-.385.208-.732.289-1.042.244a1.215 1.215 0 0 1-.709-.399 1.447 1.447 0 0 1-.11-1.642c.162-.296.435-.555.82-.777a7.364 7.364 0 0 1 2.015-.799A8.852 8.852 0 0 1 12.103 4c.975 0 1.832.163 2.57.488.739.326 1.308.77 1.707 1.332.413.562.62 1.22.62 1.975 0 .458-.067.887-.2 1.287-.132.4-.347.799-.642 1.198-.295.385-.702.792-1.219 1.22a9.32 9.32 0 0 0-1.085 1.044 3.147 3.147 0 0 0-.576.865c-.119.266-.2.555-.244.866a.945.945 0 0 1-.333.554c-.162.148-.406.222-.73.222ZM11.926 20c-.591 0-1.064-.177-1.418-.533-.34-.355-.51-.813-.51-1.375 0-.548.17-.992.51-1.332.354-.355.827-.533 1.418-.533.59 0 1.049.178 1.374.533.34.34.51.784.51 1.331 0 .563-.17 1.021-.51 1.376-.325.356-.783.533-1.374.533Z'/%3E%3C/svg%3E");

  &::after {
    content: "";

    display: block;

    width: 0.875rem;
    height: 0.875rem;
    margin: 0.4375rem 0.1875rem;
    border: 0.0625rem solid #8B8F96;
    border-radius: 50%;
  }
}

.comment {
  position: relative;

  max-width: 18rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;

  font-size: 1rem;
  color: var(--push-comment-text);

  &_sending {
    background-color: var(--push-comment-sending-bg);

    &::after {
      content: '';

      position: absolute;
      right: -0.1875rem;
      bottom: 0;

      width: 1.375rem;
      height: 1.1875rem;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' fill='none'%3E%3Cpath fill='%231F8FFF' d='M16.25 18.75S15 23 5 23H0l2.563-.754c5.284-1.554 7.926-2.331 10.123-3.755a18.002 18.002 0 0 0 4.959-4.784c1.501-2.146 2.372-4.758 4.114-9.983L23 0v4c0 18.5 4 18.5 4 18.5-10 0-10.75-3.75-10.75-3.75Z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    :global(html.theme-dark) &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' fill='none'%3E%3Cpath fill='%23469CEC' d='M16.25 18.75S15 23 5 23H0l2.563-.754c5.284-1.554 7.926-2.331 10.123-3.755a18.002 18.002 0 0 0 4.959-4.784c1.501-2.146 2.372-4.758 4.114-9.983L23 0v4c0 18.5 4 18.5 4 18.5-10 0-10.75-3.75-10.75-3.75Z'/%3E%3C/svg%3E");
    }
  }

  &_receiving {
    background-color: var(--push-comment-receiving-bg);

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: -0.1875rem;

      width: 1.375rem;
      height: 1.1875rem;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' fill='none'%3E%3Cpath fill='%2333B85F' d='M10.75 4.25S12 0 22 0h5l-2.563.754c-5.284 1.554-7.926 2.331-10.123 3.755a18 18 0 0 0-4.959 4.785c-1.501 2.145-2.372 4.757-4.114 9.982L4 23v-4C4 .5 0 .5 0 .5c10 0 10.75 3.75 10.75 3.75Z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    :global(html.theme-dark) &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' fill='none'%3E%3Cpath fill='%232CD36F' d='M10.75 4.25S12 0 22 0h5l-2.563.754c-5.284 1.554-7.926 2.331-10.123 3.755a18 18 0 0 0-4.959 4.785c-1.501 2.145-2.372 4.757-4.114 9.982L4 23v-4C4 .5 0 .5 0 .5c10 0 10.75 3.75 10.75 3.75Z'/%3E%3C/svg%3E");
    }
  }

  &_empty {
    visibility: hidden;
  }
}
