@import "../../styles/mixins/index";

.appLocked {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  color: var(--color-black);
}

.appLockedFixed {
  position: fixed;
  top: calc(50% - 10rem); // Computed empirically

  gap: 2rem;

  width: 100%;
  height: unset;

  @include respond-below(xs) {
    top: auto;
    bottom: 0;
  }

  @media (max-height: 43.5rem) {
    top: auto;
    bottom: 0;
  }
}

.unlockButtonWrapper {
  position: absolute;
  top: 0;
  left: 0;

  gap: 2rem;

  height: 100%;
}

.unlockButtonWrapper,
.passwordFormWrapper {
  --header-gap-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  opacity: 0;

}

.unlockButtonWrapperActive,
.passwordFormWrapperActive {
  opacity: 1;
}

.passwordFormWrapperFixed {
  position: fixed;
  top: var(--position-top);
}

.passwordFormWrapperFullHeight {
  height: 100vh;
}

.unlockButtonHidden :global {
  opacity: 0;

  animation: fade-out-opacity 0.3s ease;
}

.title {
  font-size: 1.6875rem;
  font-weight: 800;
  line-height: 1;
  color: var(--color-black);
}

.passwordFormContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  min-width: 20rem;
  height: fit-content;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.passwordInputWrapper {
  width: 100%;
  margin-bottom: 0;
}

.appLockedWrapper {
  position: fixed;
  z-index: var(--z-autolock);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-tint-lock);
  backdrop-filter: blur(var(--blur-app-locked));

  // On mobile devices in TMA, the blur filter causes visual glitches
  :global(html.is-mobile-telegram-app) & {
    background-color: var(--color-background-lock);
    backdrop-filter: none;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: var(--color-background-first);
    }
  }
}
