.appLocked {
  --header-gap-size: 2rem;

  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  color: var(--color-black);
}

.innerContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .withPinPad & {
    width: 100% !important;
    max-width: 31.4375rem !important;
    height: 100% !important;
  }
}

.appLockedFixed {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  & .innerContent {
    position: absolute;
    top: var(--position-top, 0);
  }
}

.title {
  font-size: 1.6875rem;
  font-weight: 800;
  line-height: 1;
  color: var(--color-black);
}

.passwordFormContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  min-width: 20rem;
  height: fit-content;
  max-height: 100vh;
  margin: auto;
}

.logo {
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  min-height: 10rem;
}

.passwordInputWrapper {
  width: 100%;
  margin-bottom: 0;
}

.appLockedWrapper {
  position: fixed;
  z-index: var(--z-autolock);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-tint-lock);
  backdrop-filter: blur(var(--blur-app-locked));

  // On mobile devices in TMA, the blur filter causes visual glitches
  :global(html.is-mobile-telegram-app) & {
    background-color: var(--color-background-lock);
    backdrop-filter: none;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: var(--color-background-first);
    }
  }
}
