.sticker {
  margin: -0.5rem auto 1.25rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;
}

.copyButtonWrapper {
  margin-bottom: 1rem;
}

.button {
  width: auto;
  max-width: 70% !important;
  padding: 0.5rem 1.5rem;

  white-space: nowrap;
}

.clockIcon {
  margin-inline-start: 0.25rem;

  vertical-align: -0.125rem;
}

.iconStar {
  font-size: 1.0625rem;
}

.tonscan {
  position: absolute;
  top: 1rem;
  left: 1rem;

  width: 1.875rem !important;
  height: 1.875rem !important;
  padding: 0;

  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--color-gray-3);
  text-align: center;
  text-decoration: none;

  border-radius: 50%;

  transition: color 150ms;

  &:active {
    color: var(--color-gray-1) !important;
    text-decoration: none;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      color: var(--color-blue);
      text-decoration: none;
    }
  }
}

.nameInput {
  margin-bottom: 1.5rem;
}
