@use "../../styles/mixins";

.modalDialog {
  height: 35rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35rem + var(--safe-area-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: 24rem;
  }
}

:global(.is-native-bottom-sheet) .modalDialogInsideSettings {
  height: 100% !important;
}

.slide {
  padding-top: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem max(var(--safe-area-bottom, 1rem), 1rem);

  :global(html.is-android-app) &:not(.containerStatic) {
    padding-bottom: 0;
  }

  &.containerStatic {
    padding-top: calc(var(--header-padding-top) + var(--header-title-height) + var(--header-padding-bottom));
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.iconBlockSlide {
  background-color: var(--color-background-window);
}

.iconBlockSlideStatic {
  background-color: var(--color-background-second);
}

.iconBlock {
  position: relative;

  display: flex;
  justify-content: center;

  height: 10rem;
  margin: 0 0 1.25rem;

  &.mobile {
    height: 14rem;
  }
}

.ledgerIcon {
  width: 100%;
  max-width: 23.4375rem;
  object-fit: contain;
}

.textBlock {
  display: flex;
  flex-direction: column;

  padding: 0.75rem;
  border-radius: var(--border-radius-default);

  background: var(--color-gray-button-background-light);

  &_gap {
    gap: 0.5rem;
  }

  &_success {
    color: var(--color-transaction-amount-green-text);
    background: var(--color-transaction-amount-green-bg);
  }

  &_small {
    padding: 0.75rem;
  }
}

.textIcon {
  display: flex;
  align-self: flex-start;
  font-size: 1.25rem;
  line-height: 1;
}

.text {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--color-gray-1);

  &_failed {
    color: var(--color-red);
  }

  &_connected {
    color: var(--color-accent);
  }

  &_success {
    color: var(--color-transaction-amount-green-text);
  }
}

.actionBlock {
  display: flex;
  gap: 1rem;
  margin-top: auto;

  &_single {
    gap: 0;
    justify-content: center;
  }
}

.button {
  width: 100%;

  &_single {
    width: unset;
  }
}

.accounts {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  max-height: 13.25rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: var(--border-radius-default);

  background-color: var(--color-background-first);

  @include mixins.adapt-padding-to-scrollbar(0.5rem, !important);

  &_two {
    grid-template-columns: repeat(6, 1fr);
  }
}

.account {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 3.75rem;
  margin: 0;
  padding: 0 0.5rem;
  border: none;
  border-radius: var(--border-radius-tiny);

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-card-text);
  text-align: left;

  opacity: 0.84;
  background-image: url('../../assets/account_button_bg.jpg'), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  background-clip: padding-box, padding-box;
  background-origin: border-box;
  background-size: cover, cover;

  transition: opacity 200ms;

  &_current {
    cursor: default;
    opacity: 1;
  }

  .accounts_two & {
    grid-column: span 2;

    &:first-child {
      grid-column-end: 4;
    }

    &:nth-child(2) {
      grid-column-end: 6;
    }
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url('../../assets/account_button_bg@2x.jpg'), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  }
}

.addAccountContainer {
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: space-between !important;

  width: 100% !important;
  min-width: auto !important;
  max-width: 100% !important;
  height: 3.75rem !important;
  padding: 0.5rem !important;
  border-radius: 0.5rem !important;

  font-size: 0.75rem !important;
  line-height: 1 !important;
  color: var(--color-add-wallet-text) !important;

  background-color: var(--color-add-wallet-background) !important;

  &:focus-visible,
  &:hover {
    color: var(--color-add-wallet-text-hover) !important;
    background-color: var(--color-add-wallet-background-hover) !important;
  }

  &:active {
    // Optimization
    transition: none;
  }
}

.addAccountIcon {
  font-size: 1.5rem;
}

.accountName {
  overflow: hidden;

  max-width: 100%;
  margin-top: 0.5rem;
  padding-right: 1.125rem;

  text-overflow: ellipsis;
  white-space: nowrap;

  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-height: 0.8125rem;
    white-space: normal;
  }
}

.accountFooter {
  display: flex;
  align-items: center;

  margin-top: auto;
  margin-bottom: 0.5rem;

  font-size: 0.6875rem;
  line-height: 0.6875rem;
}

.accountCurrencyIcon {
  margin-right: 0.125rem;
  font-size: 0.5rem;
  line-height: 0.5rem;
}

.accountAddress {
  color: var(--color-card-second-text);
}

.accountCheckMark {
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;

  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-default);

  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: inset 0 0 0 0.075rem var(--color-card-toggle);

  &_active {
    background: var(--color-accent) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjciIGZpbGw9Im5vbmUiPjxwYXRoIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTEgMy41IDIgMkw3IDEiLz48L3N2Zz4=") no-repeat 50% 50%;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 0 0 0.075rem var(--color-white);
  }
}

.sticker {
  margin: 0 auto 1.25rem;
}

.declinedLabel {
  display: flex;
  align-items: center;

  margin: 0.75rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-normal);

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-transaction-amount-red-text);
  text-align: center;

  background-color: var(--color-transaction-amount-red-bg);
}

.declinedLabelDetailed {
  text-align: left;
}

.dropdownBlock {
  cursor: var(--custom-cursor, pointer);

  display: grid;
  grid-template-areas: "content action";
  grid-template-columns: 1fr min-content;
  gap: 0.75rem;
  align-items: center;

  margin-top: 1.25rem;
  padding: 1rem;
  border-radius: var(--border-radius-default);

  background: var(--color-background-first);
}
