@import "../../../styles/mixins";

.modalDialog {
  height: 35rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35rem + var(--safe-area-bottom));
  }
}

.modalText {
  max-width: 20rem;
  margin: 0 auto 1.25rem;

  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.button {
  width: 100%;
  min-width: 0 !important;
  max-width: 68vw !important;
  margin: 0 auto;

  &_single {
    width: 13.4375rem;
  }

  @media (max-width: 350px) {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
}

.importText {
  position: relative;

  font-size: 0.9375rem !important;
  font-weight: 400;
  line-height: 1.0625rem;
  color: var(--color-gray-3);

  &::before,
  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0.5rem;
    left: -5.125rem;

    width: 4.5rem;
    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.0375rem 0 0 var(--color-separator);
  }

  &::after {
    position: absolute;
    right: -5.125rem;
    left: auto;
  }
}

.importButtons {
  display: grid;
  grid-auto-columns: minmax(max-content, 1fr);
  grid-auto-flow: column;
  gap: 1rem;
  justify-items: center;

  width: 100%;
  padding: 0 1rem;
}

.importButtonsWithMargin {
  margin-bottom: 1rem;

  @include respond-below(xs) {
    :global(html:not(.is-android-app)) & {
      @supports (margin-bottom: max(var(--safe-area-bottom), 1.5rem)) {
        margin-bottom: max(var(--safe-area-bottom), 1.5rem);
      }
    }
  }
}

.sticker {
  margin: 0 auto 1.375rem;
}

.ledgerButton {
  width: auto;
  min-width: 8rem !important;

  @supports (width: stretch) {
    width: stretch;
  }
}

.walletVersionBlock {
  display: flex;

  margin-bottom: 1rem;

  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--color-gray-2);
  text-align: center;

  @include respond-below(xs) {
    :global(html:not(.is-android-app)) & {
      @supports (margin-bottom: max(var(--safe-area-bottom), 1.5rem)) {
        margin-bottom: max(var(--safe-area-bottom), 1.5rem);
      }
    }
  }
}

.walletVersionText {
  display: inline;

  color: var(--color-accent);
}
