@use "../../../styles/mixins";

.modalDialog {
  height: 35rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35rem + var(--safe-area-bottom));
  }
}

.modalContent {
  :global(html.is-telegram-app) & {
    padding-bottom: 0 !important;
  }
}

.actionsSection {
  margin: 0 1rem 1.5rem;

  &Shift {
    margin-top: 1rem;
  }
}

.importText {
  position: relative;

  margin: 0 auto 1.5rem;

  font-size: 0.9375rem !important;
  font-weight: 400;
  line-height: 1.0625rem;
  color: var(--color-gray-3);

  &::before,
  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0.5rem;
    left: -5.125rem;

    width: 4.5rem;
    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.0375rem 0 0 var(--color-separator);
  }

  &::after {
    position: absolute;
    right: -5.125rem;
    left: auto;
  }
}

.walletVersionBlock {
  margin: auto 1rem 1rem;

  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--color-gray-2);
  text-align: center;

  @include mixins.respond-below(xs) {
    :global(html:not(.is-android-app)) & {
      @supports (margin-bottom: max(var(--safe-area-bottom), 1.5rem)) {
        margin-bottom: max(var(--safe-area-bottom), 1.5rem);
      }
    }
  }
}

.walletVersionText {
  display: inline;
  color: var(--color-accent);
}
