.modalDialog {
  height: 34rem;

  @supports (height: env(safe-area-inset-bottom)) {
    height: calc(34rem + env(safe-area-inset-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: 24rem;
  }
}
