.modalDialog {
  height: 38.5rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(38.5rem + var(--safe-area-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: 24rem;
  }
}
