.content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.description {
  margin-bottom: 1.375rem;
  padding: 0.5rem 0.5rem 0;

  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--color-gray-1);
}
