.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1.5rem 1rem 1rem;
}

.description {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 0.9375rem;
  color: var(--color-gray-1);
}

.buttons {
  display: flex;
  justify-content: space-between;
}