@use "../../../styles/mixins";

.modalDialog {
  overflow: hidden;
  height: 38.5rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(38.5rem + var(--safe-area-bottom));
  }

  :global(.is-native-bottom-sheet) & {
    height: 100% !important;
    padding-bottom: var(--safe-area-bottom);
  }
}

.content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.iframe {
  border: none !important;
}

.loaderContainer {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--color-background-second);
}

.fadeOut {
  opacity: 1;
  animation: fade-out-opacity 0.15s ease forwards;
}

.fadeIn {
  opacity: 0;
  animation: fade-in-opacity 0.15s ease forwards;
}

.inactive {
  display: none;
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
