.title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(calc(-16rem / 2 - 5rem));

  width: 100%;

  font-size: 2rem;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 16rem;
  height: 16rem;
  border-radius: var(--border-radius-small);

  box-shadow: 0 0 0 250rem rgba(0, 0, 0, 0.45);
}

.squareInner {
  position: absolute;
  top: 0;
  left: 0;

  width: 16rem;
  height: 16rem;
}

.square::before, .square::after,
.squareInner::before, .squareInner::after {
  content: '';

  position: absolute;

  width: 2rem;
  height: 2rem;
  border: solid var(--color-white);
}

.square::before {
  top: -0.125rem;
  left: -0.125rem;
  border-width: 0.25rem 0 0 0.25rem;
  border-top-left-radius: var(--border-radius-small);
}

.square::after {
  top: -0.125rem;
  right: -0.125rem;
  border-width: 0.25rem 0.25rem 0 0;
  border-top-right-radius: var(--border-radius-small);
}

.squareInner::before {
  bottom: -0.125rem;
  left: -0.125rem;
  border-width: 0 0 0.25rem 0.25rem;
  border-bottom-left-radius: var(--border-radius-small);
}

.squareInner::after {
  right: -0.125rem;
  bottom: -0.125rem;
  border-width: 0 0.25rem 0.25rem 0;
  border-bottom-right-radius: var(--border-radius-small);
}

.closeButton,
.flashLightButton {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: var(--color-flashlight-button-text);

  background-color: var(--color-flashlight-button-background);
  backdrop-filter: blur(1rem);

  transition: background-color 200ms, color 200ms;
}

.closeButton {
  top: max(var(--safe-area-top), 1rem);
  right: 1rem;
  width: 1.875rem !important;
  height: 1.875rem !important;

  &:hover,
  &:focus-visible {
    color: var(--color-flashlight-button-enabled-text) !important;
    background-color: var(--color-flashlight-button-enabled-background) !important;
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: var(--no-animation-transition) !important;
  }
}

.flashLightButton {
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);

  width: 4.5rem;
  height: 4.5rem;

  font-size: 2.5rem !important;

  @supports (bottom: max(4rem, var(--safe-area-bottom))) {
    bottom: max(4rem, var(--safe-area-bottom));
  }
}

.flashLightButtonEnabled {
  color: var(--color-flashlight-button-enabled-text) !important;
  background-color: var(--color-flashlight-button-enabled-background) !important;
}

.documentRoot {
  --color-app-background: tranparent !important;
  --color-background-second: transparent !important;
  --color-background-window: transparent !important;

  visibility: hidden;

  :global(#portals) {
    visibility: visible;
  }
}

.scanner {
  position: absolute;
  z-index: 1 !important;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  visibility: visible;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--color-background-window);

    transition: opacity 500ms;
  }
}

.scannerStarted {
  pointer-events: all;

  &::before {
    opacity: 0;
    transition-delay: 300ms;

    :global(html.is-android) & {
      transition-delay: 200ms;
    }
  }
}
