.passwordModal {
  min-height: 24.5rem;
}

.passwordFormContent {
  padding: 0 !important;
}

.sticker {
  margin: -0.5rem auto 1.25rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  padding-top: 3rem;
}

.copyButtonWrapper {
  margin-bottom: 1.25rem;
}

.comment {
  word-break: break-word;
}

.button {
  width: auto;
  max-width: 70% !important;
  padding: 0.5rem 1.5rem;

  white-space: nowrap;
}

.clockIcon {
  margin-inline-start: 0.25rem;

  vertical-align: -0.125rem;
}

.tonscan {
  position: absolute;
  top: 1.0625rem;
  left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.875rem !important;
  padding: 0;

  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--color-gray-3);
  text-align: center;
  text-decoration: none;

  border-radius: 50%;

  transition: color 150ms;

  &:active {
    text-decoration: none;

    // Optimization
    transition: none;
  }

  &:hover,
  &:focus {
    color: var(--color-blue);
    text-decoration: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.unstakeNotice {
  max-width: 18rem;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.3125rem;
  color: var(--color-transaction-green-text);
  text-align: center;

  background: var(--color-transaction-green-background);
  border-radius: var(--border-radius-tiny);
}

.unstakeTime {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 19rem;
  margin: 0.25rem auto 0;
  padding: 0.75rem;

  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--color-gray-1);
  text-align: center;

  background: var(--color-gray-button-background-light);
  border-radius: var(--border-radius-buttons);
}

.unstakeTimeIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scamImage {
  width: 2.75rem;
  height: 1.0625rem;
}

.scamAddress {
  color: var(--color-red);
}

.transactionHeader {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  margin-bottom: 0.25rem;

  font-size: 1.0625rem;
  font-weight: 700;
  color: var(--color-black);
}

.headerDate {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  margin-top: 2rem;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textFieldLabel {
  display: flex;
  align-items: center;

  padding-left: 0.5rem;

  font-size: 0.8125rem;
  font-weight:  700;
  color: var(--color-gray-2);
}

.textField {
  display: flex;
  align-items: center;

  padding: 1rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
  word-break: break-all;

  background-color: var(--color-background-first);
  border-radius: 1rem;
}

.advancedTooltip {
  cursor: var(--custom-cursor, pointer);

  margin-left: 0.25rem;

  color: var(--color-gray-4);

  transition: color 150ms;
}

.advancedTooltipContainer {
  z-index: 1;

  width: 18.9375rem;
}

.errorCexBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  margin-top: 0.75rem;
}

.errorCexMessage {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.8125rem;
  color: var(--color-gray-2);
  text-align: center;
}

.errorCexEmail {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.0625rem;
  color: var(--color-blue);
  text-align: center;
}

.changellyInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.changellyDescription {
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--color-gray-2);
  text-align: center;
}

.changellyTextField {
  width: 100%;
}

.changellyDescriptionBold {
  font-weight: 700;
}
