@use "../../../../styles/mixins";

.root {
  position: absolute;
  top: calc(0.75rem + var(--safe-area-top, 0px));
  right: calc(0.75rem + var(--safe-area-right, 0px));

  display: flex;
  gap: 1rem;
  align-items: center;

  width: fit-content;
  height: 1.5rem;
}

.qrScannerButton {
  position: absolute;
  top: calc(0.75rem + var(--safe-area-top, 0px));
  left: calc(0.75rem + var(--safe-area-left, 0px));
}

.button {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;
  padding: 0;

  font-size: 1.5rem;
  color: var(--color-accent);
  text-shadow: inherit;
}
