@use "../../../../styles/mixins";

@use "../../../../styles/scssVariables" as v;

.header {
  z-index: var(--z-header);

  @include mixins.respond-below(xs) {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    background-color: var(--color-background-tab-bar);
    backdrop-filter: saturate(180%) blur(20px);

    :global(html.is-electron:not(.is-linux)) & {
      top: var(--electron-header-height);
    }

    @include mixins.separatorBottom();

    &::after {
      opacity: 0;
      transition: opacity 200ms;
    }

    &.withSeparator::after {
      opacity: 1;
    }
  }

  @include mixins.respond-above(xs) {
    position: relative;
    margin-bottom: 0.75rem;
    border-radius: var(--border-radius-default);
    background-color: var(--color-background-first);
  }
}

.headerInner {
  position: relative;

  max-width: v.$portraitContentMaxWidth;
  height: calc(#{v.$portraitHeaderHeight} + var(--safe-area-top, 0px));
  margin: 0 auto;
  padding-top: var(--safe-area-top);

  @include mixins.respond-above(xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8125rem;
  }
}

.landscapeActions {
  display: flex;
  flex-shrink: 0;
  gap: 0.75rem;
  align-items: center;

  height: 1.375rem;
}

.portraitActions {
  position: absolute;
  top: calc(0.75rem + var(--safe-area-top, 0px));
  right: calc(1rem + var(--safe-area-right, 0px));

  display: flex;
  gap: 1rem;
  align-items: center;

  width: fit-content;
  height: 1.5rem;
}
