.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 0.5rem;
}

.content {
  max-width: 32rem;
  margin: auto;
  padding: 1.5rem;
  border-radius: var(--border-radius-default);

  text-align: center;

  background: var(--color-background-first);
}

.actions,
.title {
  margin-top: 1rem;
}

.description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-2);
}

.img {
  width: 100%;
  max-width: 20rem;
}

.button {
  margin: auto;
}
