@use "../../styles/mixins";

$suggestionPaddingSize: 0.375rem;
$paddingSize: 0.875rem;
$imageSize: 3rem;
$imageGapSize: 0.75rem;
$listHorizontalPadding: 1rem;

.rootSlide {
  overflow: visible !important;
}

.slide {
  overflow: auto;
  overflow-y: scroll;
  height: 100%;

  @include mixins.respond-above(xs) {
    --color-gray-button-background-light: var(--color-background-second);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.25rem 0.75rem;
  align-content: start;

  padding: 0 $listHorizontalPadding calc(max(var(--safe-area-bottom), 1rem) + var(--bottombar-height) + 1rem);

  &.landscapeList {
    padding-bottom: 1rem;
  }

  @include mixins.adapt-padding-to-scrollbar($listHorizontalPadding);
}

@include mixins.respond-below(xs) {
  .suggestionsMenu {
    max-height: 15rem;
  }
}

.suggestions {
  --offset-y-value: 0.5rem;

  z-index: 3;
  margin: 0 0.5rem;

  @include mixins.adapt-margin-to-scrollbar(0.5rem);
}

.suggestion {
  align-items: center;
  font-size: 1rem;
}

.suggestionIcon {
  margin-inline-end: 0.5rem;
  font-size: 1.25rem !important;
  color: var(--color-gray-3);

  @media (pointer: coarse) {
    font-size: 1.5rem !important;
  }
}

.suggestionAddress {
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.clearSuggestion {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border: none;

  font-size: 1.25rem;
  line-height: 1rem;
  color: var(--color-gray-4);

  background: none;

  transition: color 150ms;

  &:hover,
  &:focus-visible {
    color: var(--color-gray-3);
  }

  @media (pointer: coarse) {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

.item {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  padding: $paddingSize;

  font-size: 0.9375rem;
  font-weight: 650;

  transition: background-color 150ms, color 150ms;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      --color-background-first: var(--color-interactive-item-hover);

      background-color: var(--color-interactive-item-hover);

      .trendingImage,
      .imageWrapperScalable {
        transform: scale(1.05);
      }
    }
  }

  @media (pointer: coarse) {
    &:active {
      .trendingImage,
      .imageWrapperScalable {
        transform: scale(1.05);
      }
    }
  }

  &:not(:first-child)::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    left: calc($imageSize + $imageGapSize + $paddingSize);

    height: 0.0625rem;

    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator) !important;
  }

  &.suggestion:not(:first-child)::before {
    left: calc($imageSize + $imageGapSize + $paddingSize - $suggestionPaddingSize);
  }

  @include mixins.respond-above(xs) {
    &:not(.trending):first-child .badge {
      top: 0;
    }
  }
}

.trending {
  flex-direction: column;

  width: 11.6875rem;
  height: 11.6875rem;
  padding: 0;
  border-radius: var(--border-radius-normal);

  .imageWrapper {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .infoWrapper {
    --color-black: var(--color-card-text);
    --color-gray-2: var(--color-card-second-text);

    position: relative;
    z-index: 1;

    overflow: hidden;

    margin-top: auto;
    padding: 0.75rem;
    border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);

    text-overflow: ellipsis;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.98) 40%, #000000 50%);
      backdrop-filter: blur(1px);
    }
  }

  &.extended {
    width: min(23.375rem, calc(100vw - calc(2 * $listHorizontalPadding - var(--scrollbar-width))));
  }
}

.withBorder::after {
  content: '';

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border: 0.125rem solid var(--color-accent);
  border-radius: var(--border-radius-normal);
}

.badge {
  position: absolute;
  z-index: 2;
  top: -0.25rem;
  right: 0;

  padding: 0 0.25rem;
  border-radius: 0.3125rem;

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-accent-button-text);

  background: var(--color-accent);

  .trending & {
    right: -0.25rem;
  }
}

.imageWrapper {
  /* Fix for `border-radius` missing during transform on Safari. See https://stackoverflow.com/a/58283449 */
  isolation: isolate;
  position: relative;
  transform-origin: center;

  overflow: hidden;
  display: block !important;
  flex: 0 0 $imageSize;

  width: $imageSize;
  height: $imageSize;
  margin-right: $imageGapSize;
  border-radius: var(--border-radius-normal);
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-normal);

  object-fit: cover;
}

.imageWrapperScalable,
.trendingImage {
  transition: transform 300ms, opacity 0.15s ease !important;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.0625rem;
}

.title {
  font-weight: 650;
  color: var(--color-black);
  overflow-wrap: anywhere;
}

.description {
  overflow: hidden;

  margin-top: 0.1875rem;

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.875rem;
  color: var(--color-gray-2);
  text-overflow: ellipsis;
}

.telegram {
  margin-inline-start: 0.25rem;

  font-size: 0.9375rem;
  line-height: 1;
  color: var(--color-gray-4);
  vertical-align: -0.125rem;
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 1.875rem;
  padding-bottom: 2rem;

  color: var(--color-gray-2);

  @include mixins.respond-above(xs) {
    justify-content: center;
  }
}

.emptyListLoading {
  padding-top: 8rem;

  @include mixins.respond-above(xs) {
    padding-bottom: 8rem;
  }
}

.searchWrapper {
  width: 100%;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  background-color: var(--color-background-first);

  @include mixins.respond-below(xs) {
    position: sticky !important;
    z-index: 3;
    top: 0;

    padding-top: calc(0.5rem + var(--safe-area-top));

    background-color: var(--color-background-second);

    transition: background-color 300ms;

    :global(html.animation-level-0) & {
      transition: none !important;
    }

    &:global(.is-scrolled) {
      @supports (backdrop-filter: saturate(180%) blur(20px)) {
        background-color: var(--color-background-tab-bar);
        backdrop-filter: saturate(180%) blur(20px);
      }
    }
  }
}

.searchContainer {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 2.5rem;
  margin: 0 1rem;
  border-radius: var(--border-radius-normal);

  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-gray-3);

  background-color: var(--color-gray-button-background-light);

  @include mixins.adapt-margin-to-scrollbar(1rem);

  @include mixins.respond-below(xs) {
    margin-top: 0.25rem;
  }
}

.searchIcon {
  margin-left: 0.75rem;
}

.searchInput {
  scroll-margin: 0.625rem 0.5rem;

  width: 100%;
  padding: 0 0.25rem;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);

  appearance: none;
  background: transparent;
  outline: none;

  &::placeholder {
    font-weight: 600;
    color: var(--color-gray-2);
  }

  &:hover,
  &:focus {
    &::placeholder {
      color: var(--color-interactive-input-text-hover-active);
    }
  }
}

.sectionHeader {
  margin: 0 1rem 0.75rem;

  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75rem;
  color: var(--color-black);
}

.trendingSection {
  margin-bottom: 2rem;
}

.trendingList {
  scrollbar-width: none;

  overflow-x: auto;
  display: flex;
  gap: 0.75rem;

  margin-top: -0.25rem;
  padding: 0.25rem 1rem 0;

  &::-webkit-scrollbar {
    display: none !important;
  }

  @include mixins.adapt-padding-to-scrollbar(1rem);
}
