@use "../../styles/mixins";

.root {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;

  :global(html.with-safe-area-top) & {
    --header-padding-top: 0.75rem;
  }

  // Fix for opera, dead zone of 37 pixels in extension window on windows
  :global(html.is-windows.is-opera.is-extension) & {
    --header-padding-top: 2.3125rem;
  }

  @include mixins.respond-below(xs) {
    min-height: 100%;
    padding-bottom: calc(max(var(--safe-area-bottom), 1rem) + var(--bottombar-height) + 1rem);
  }
}

.list {
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-first);

  @include mixins.respond-below(xs) {
    margin: 0.375rem 1rem 0;

    @include mixins.adapt-margin-to-scrollbar(1rem);
  }
}
