.container {
  margin-bottom: 0.75rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;

  width: 21.4375rem;


  @supports (aspect-ratio: 1) {
    width: 100%;
  }
}

.button {
  user-select: none;

  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.4375rem;
  padding: 0;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-black);
  text-transform: none;

  background: var(--color-background-first);
  border-radius: var(--border-radius-default);

  transition: background-color 150ms, color 150ms;

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  &_purple {
    color: var(--color-purple-1);
  }
}

.buttonIcon {
  display: block;

  margin-top: -0.375rem;
  margin-bottom: 0.0625rem;

  font-size: 1.9375rem;
  line-height: 1.875rem;
  color: var(--color-blue);

  transition: color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}
