@use "../../../../styles/mixins";

.root {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;

  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;

  width: 100%;
  padding-bottom: max(0.25rem, var(--safe-area-bottom));

  background-color: var(--color-app-background);
  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: inset 0 0.025rem 0 0 var(--color-separator);

  @include mixins.transition(transform 200ms);

  @supports (backdrop-filter: saturate(180%) blur(20px)) {
    background-color: var(--color-background-tab-bar);
    backdrop-filter: saturate(180%) blur(20px);
  }

  &.hidden {
    pointer-events: none;
    transform: translateY(100%);
  }

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    background: var(--color-tint);

    @include mixins.transition(opacity 200ms);
  }

  :global(html.with-menu-backdrop) &::after {
    opacity: 1;
  }
}

.button {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
  align-items: center;
  justify-content: center;

  height: 3.125rem;

  color: var(--color-gray-2);
  text-align: center;
}

.active {
  color: var(--color-accent);
}

.icon {
  font-size: 2rem;
  line-height: 2rem;
}

.label {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1;
}
