@use "../../../../styles/mixins";

$tab-0-height: 229;
$tab-1-height: 348;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-default);
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  width: 100%;
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

  background: var(--color-background-first-disabled);
}

.notAllTabs {
  grid-auto-flow: column;
  grid-template-columns: auto;
}

.tab {
  cursor: var(--custom-cursor, pointer);
  user-select: none;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.125rem 0.5rem 0.5625rem;
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-black);

  background: transparent;

  transition: color 150ms;

  @media (hover: hover) {
    &:not(.active) {
      &:hover,
      &:focus-visible {
        color: var(--color-accent);
      }
    }
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  &_purple {
    --color-accent: --color-purple-1;

    color: var(--color-purple-1);
    background-color: var(--color-background-purple-2) !important;
  }

  &_purpleText {
    color: var(--color-purple-1);
  }

  &.active + & {
    .tabDelimiter {
      display: none;
    }
  }

  &.active {
    font-weight: 700;
    background: var(--color-background-first);

    &:not(.withContextMenu) {
      pointer-events: none;
    }

    &::before,
    &::after,
    .tabDecoration::before,
    .tabDecoration::after {
      content: "";

      position: absolute;
      bottom: 0;

      display: block;

      width: var(--border-radius-default);
      height: var(--border-radius-default);

      background: inherit;
    }

    &::before,
    .tabDecoration::before {
      right: 100%;
    }

    &::after,
    .tabDecoration::after {
      left: 100%;
    }

    .tabDecoration::before,
    .tabDecoration::after {
      z-index: 1;
      background: var(--color-background-first-disabled);
    }

    .tabDecoration::before {
      border-bottom-right-radius: var(--border-radius-default);
    }

    .tabDecoration::after {
      border-bottom-left-radius: var(--border-radius-default);
    }

    &:last-child {
      &::after,
      .tabDecoration::after {
        display: none;
      }
    }

    &:first-child {
      &::before,
      .tabDecoration::before {
        display: none;
      }
    }

    .tabDelimiter {
      display: none;
    }
  }
}

.tabIcon {
  display: block;

  margin-bottom: 0.0625rem;

  font-size: 1.875rem;
  color: var(--color-accent);

  transition: color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.tabText {
  z-index: 2;
}

.tabDelimiter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 0.0625rem;
  height: 2rem;

  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: inset 0.025rem 0 0 0 var(--color-separator);
}

.contentHeader {
  background: var(--color-background-first-disabled);

  &:not(.firstActive) .contentHeaderInner {
    border-top-left-radius: var(--border-radius-default);
  }

  &:not(.lastActive) .contentHeaderInner {
    border-top-right-radius: var(--border-radius-default);
  }
}

.contentHeaderInner {
  height: 1rem;
  background: var(--color-background-first);
  transition: opacity 100ms;
}

.contentBg, .contentFooter {
  position: absolute;
  top: 4.4375rem; // `.tabs` + `.contentHeader`
  right: 0;
  left: 0;

  background: var(--color-background-first);

  transition: transform 250ms ease, opacity 100ms; // as in `.Transition.slide-fade`

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.contentSlideStaked {
  opacity: 0;
}

.contentBg {
  transform-origin: top;
  // Using lesser base height (such as `1px`) causes incorrect scaling after zooming in Blink-based browsers
  height: 6.25rem;

  &.tab-0 {
    transform: scaleY(calc(#{$tab-0-height} / 100));
  }

  &.tab-1 {
    transform: scaleY(calc(#{$tab-1-height} / 100));
  }
}

.contentFooter {
  height: 1rem;
  border-bottom-right-radius: var(--border-radius-default);
  border-bottom-left-radius: var(--border-radius-default);

  &.tab-0 {
    transform: translateY(#{$tab-0-height}px);
  }

  &.tab-1 {
    transform: translateY(#{$tab-1-height}px);
  }
}

.slideContent,
.transitionContent {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.slideContent {
  height: auto !important;
  padding: 0 1rem;
}

.slideContentAddBuy {
  padding: 0;
}

.transferSlideContent {
  height: auto !important;
  background-color: var(--color-background-first);
}

.spinner {
  align-self: center;
}

.menu {
  --offset-y-value: 0;
  --offset-y-bottom-value: 0;
  --offset-x-value: 0;

  right: auto !important;
  left: 0 !important;
  max-height: max(70vh, 20rem);
}
