@use "../../../../styles/mixins";

.container {
  margin-bottom: 0.75rem;
}

.buttons {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 0.5rem;

  width: 21.4375rem;

  @supports (aspect-ratio: 1) {
    width: 100%;
  }
}

.button {
  user-select: none;

  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.625rem;
  padding: 0;
  border-radius: var(--border-radius-default);

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.75rem;
  color: var(--color-black);

  background: var(--color-background-first);

  transition: background-color 150ms, color 150ms;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-accent);
    }
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  &_purple {
    color: var(--color-purple-1);
  }
}

.buttonActive {
  color: var(--color-accent);
}

.buttonIcon {
  display: block;

  width: 2rem;
  height: 2rem;
  margin-top: -0.375rem;
  margin-bottom: 0.0625rem;

  font-size: 2rem;
  line-height: 1;
  color: var(--color-accent);

  .button_purple > & {
    color: unset;
  }

  @include mixins.is-not-mobile() {
    width: 1.875rem;
    height: 1.875rem;
    font-size: 1.875rem;
  }
}

.menu {
  --offset-y-value: 0;
  --offset-y-bottom-value: 0;
  --offset-x-value: 0;

  right: auto !important;
  left: 0 !important;
  max-height: max(70vh, 20rem);
}
