body, html {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

a:hover {
  opacity: 0.8;
}

.animate-opacity {
  transition: opacity 200ms ease;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.6875rem 0.375rem;
  border: 1px solid rgba(32, 51, 62, 0.12);
  border-radius: 1rem;

  font-size: 1rem;

  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #007BFF;
}

input[type="text"]::placeholder {
  color: rgba(32, 51, 62, 0.32);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.faded {
  pointer-events: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.success {
  color: #065B00;
}

.container {
  min-width: 18rem;
  padding: 0.5rem 1rem;
}

.bold {
  font-weight: bold;
}

.mono {
  font-family: monospace;
  font-size: 1rem;
  color: #007BFF;
  text-decoration: none;
}

.white-link {
  border-bottom: 1px dotted white;
  font-size: 0.75rem;
  color: white;
  text-decoration: none;
}

.white-link:hover {
  border-bottom-color: transparent;
}

#slide-container {
  position: relative;
  width: 100%;
  min-height: 13.5rem;
  /* stylelint-disable-next-line */
  transition: height 100ms ease; /* This is bad, but the way it worked before was even worse */
}

.slide {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  min-height: 13.5rem;

  transition: opacity 200ms ease;
}

#cf-turnstile iframe {
  border-radius: 1rem;
}

#cf-turnstile, #processing {
  color: #173556;
}

#error {
  color: #B03737;
}

#ref-container .download-btn {
  margin: 0.75rem 0.25rem 0 0.25rem;
}

#join-giveaway {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

#join-giveaway a {
  color: #007BFF;
}
