.content {
  position: relative;

  padding-top: 1.5rem !important;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin: 0 auto 0.875rem;
}

.title {
  margin-bottom: 0.75rem;

  font-size: 1.0625rem;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
}

.titleLink {
  display: block;

  margin-top: 0.25rem;

  font-size: small;
  font-weight: normal;
}

.heading,
.text {
  margin-bottom: 1.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  font-size: 0.9375rem;
}

.text:last-of-type {
  margin-bottom: 1.5rem;
}

.heading {
  font-weight: 700;
  color: var(--color-black);
}

.github {
  font-size: 1rem;
  color: #000;
  vertical-align: bottom;

  :global(.theme-dark) & {
    color: #fff;
  }
}

.telegram {
  position: relative;

  font-size: 1rem;
  color: var(--color-blue);
  vertical-align: bottom;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width:95%;
    height: 95%;

    background: #fff;
    border-radius: 50%;
  }
}
