@use "../../styles/mixins";

.accounts {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  padding: 0.5rem;
  border-radius: var(--border-radius-default);

  background-color: var(--color-background-first);

  @include mixins.adapt-padding-to-scrollbar(0.5rem);

  &_two {
    grid-template-columns: repeat(6, 1fr);
  }
}

.account {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 3.75rem;
  margin: 0;
  padding: 0 0.5rem;
  border: none;
  border-radius: var(--border-radius-tiny);

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-card-text);
  text-align: left;

  background-image: url('../../assets/account_button_bg.jpg'), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  background-clip: padding-box, padding-box;
  background-origin: border-box;
  background-size: cover, cover;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--border-radius-tiny);

    opacity: 0;

    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: 0 0 0 0.8px var(--color-accent),
          inset 0 0 0 1.4px var(--color-accent),
          inset 0 0 0 3.2px var(--color-background-first);

    transition: opacity 300ms;
  }

  &_current::after {
    cursor: default;
    opacity: 1;
  }

  &_disabled {
    cursor: auto;
  }

  &_inactive {
    cursor: auto;
    background-image: url('../../assets/account_button_bg.jpg');
    filter: grayscale(100%);
  }

  .accounts_single & {
    grid-column-start: 2;
  }

  .accounts_two & {
    grid-column: span 2;

    &:first-child {
      grid-column-end: 4;
    }

    &:nth-child(2) {
      grid-column-end: 6;
    }
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url('../../assets/account_button_bg@2x.jpg'), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  }

  &.customCard {
    background-image: var(--bg), linear-gradient(125deg, #71A9ED 0, #436CB6 100%) !important;
  }
}

.accountName {
  overflow: hidden;

  max-width: 100%;
  margin-top: 0.5rem;
  padding-right: 1.125rem;

  text-overflow: ellipsis;
  white-space: nowrap;

  .button_current > & {
    margin-right: 1rem;
  }

  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-height: 0.8125rem;
    overflow-wrap: anywhere;
    white-space: normal;
  }
}

.accountFooter {
  display: flex;
  align-items: center;

  margin-top: auto;
  margin-bottom: 0.5rem;

  font-size: 0.6875rem;
  line-height: 0.6875rem;
}

.icon,
.accountAddress {
  color: var(--color-card-second-text);
}

.icon {
  margin-inline-end: 0.25rem;
}

.accountCheckMark {
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;

  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-default);

  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: inset 0 0 0 0.075rem var(--color-card-toggle);

  &_active {
    background: var(--color-accent) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjciIGZpbGw9Im5vbmUiPjxwYXRoIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTEgMy41IDIgMkw3IDEiLz48L3N2Zz4=") no-repeat 50% 50%;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 0 0 0.075rem var(--color-white);
  }
}
