.sticker {
  margin: 0 auto 1.25rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  min-width: auto !important;
  height: auto !important;
  padding: 0.75rem 1.25rem !important;
  border-radius: 0 !important;

  line-height: 1rem !important;

  &:first-child {
    border-top-left-radius: var(--border-radius-buttons) !important;
    border-bottom-left-radius: var(--border-radius-buttons) !important;
  }

  &:last-child {
    border-top-right-radius: var(--border-radius-buttons) !important;
    border-bottom-right-radius: var(--border-radius-buttons) !important;
  }

  & + & {
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0.025rem 0 0 0 var(--color-separator)
  }
}

.changellyInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  margin-top: 2rem;
}

.changellyDescription {
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--color-gray-2);
  text-align: center;
}

.changellyDescriptionBold {
  font-weight: 700;
}

.changellyTextField {
  width: 100%;
}
