@use "../../styles/mixins";

.wrapper {
  position: relative;
}

.icon {
  overflow: hidden;
  display: block;
  flex: 0 0 2.25rem;

  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;

  @include mixins.is-mobile() {
    flex-basis: 2.625rem;
    width: 2.625rem;
    height: 2.625rem;
  }

  &.large {
    @include mixins.is-not-mobile() {
      flex-basis: 2.5rem;
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }

  &.x-small {
    width: 1.0625rem !important;
    height: 1.0625rem !important;

    @include mixins.is-mobile() {
      width: 1.125rem !important;
      height: 1.125rem !important;
    }
  }

  &.small {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  &.middle {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.fallbackIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  /* stylelint-disable-next-line plugin/whole-pixel */
  border: 0.0875rem solid var(--color-gray-4);

  font-size: 1.0625rem;
  font-weight: 800;
  line-height: 1;
  color: var(--color-gray-3);

  &.x-small {
    font-size: 0.75rem;
  }
}

.blockchainIcon {
  position: absolute;
  top: 1.4375rem;
  left: 1.4375rem;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: 0 0 0 0.1rem var(--color-background-first);

  @include mixins.is-mobile() {
    top: 1.625rem;
    left: 1.625rem;
    width: 1.125rem;
    height: 1.125rem;
  }

  &.large {
    @include mixins.is-not-mobile() {
      top: 1.5rem;
      left: 1.5rem;
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &.small,
  &.x-small, {
    top: 0.625rem !important;
    left: 0.625rem !important;

    width: 0.6875rem !important;
    height: 0.6875rem !important;

    box-shadow: 0 0 0 0.0625rem var(--color-background-first);
  }

  &.middle {
    top: 0.9375rem !important;
    left: 0.9375rem !important;
    width: 0.625rem !important;
    height: 0.625rem !important;
  }
}
