.wrapper {
  position: relative;
}

.icon {
  overflow: hidden;
  flex: 0 0 2.25rem;

  width: 2.25rem;
  height: 2.25rem;

  border-radius: 50%;

  :global(html.is-android) &,
  :global(html.is-ios) & {
    flex-basis: 2.625rem;

    width: 2.625rem;
    height: 2.625rem;
  }

  &.small {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  &.middle {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.blockchainIcon {
  position: absolute;
  top: 1.4375rem;
  left: 1.4375rem;

  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: 0 0 0 0.1rem var(--color-background-first);

  :global(html.is-android) &,
  :global(html.is-ios) & {
    top: 1.625rem;
    left: 1.625rem;

    width: 1.125rem;
    height: 1.125rem;
  }

  &.small {
    top: 0.625rem !important;
    left: 0.625rem !important;

    width: 0.6875rem !important;
    height: 0.6875rem !important;

    box-shadow: 0 0 0 0.0625rem var(--color-background-first);
  }

  &.middle {
    top: 0.9375rem !important;
    left: 0.9375rem !important;

    width: 0.625rem !important;
    height: 0.625rem !important;
  }
}
