.sticker {
  margin: 0 auto 1.25rem;
}

.amount {
  overflow: hidden;

  max-width: 100%;
  margin: 0 auto 1.5rem;

  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-black);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  &_purple {
    color: var(--color-purple-2);
  }

  &_green {
    color: var(--color-activity-green-text);
  }
}

.amountSymbol,
.amountFraction {
  font-size: 1rem;
  font-weight: 700;
}

.amountSymbol {
  margin-inline-start: 0.25rem;
}

.buttons {
  --color-gray-button-background: var(--color-gray-button-background-light);
  --color-gray-button-background-hover: var(--color-gray-button-background-light-hover);

  display: flex;
  justify-content: center;
  margin-top: -0.25rem;
}

.buttonsAfterNft {
  margin-top: 0.75rem;
}

.button {
  min-width: auto !important;
  height: auto !important;
  padding: 0.75rem 1.25rem !important;
  border-radius: 0 !important;

  line-height: 1rem !important;

  &:first-child {
    border-top-left-radius: var(--border-radius-buttons) !important;
    border-bottom-left-radius: var(--border-radius-buttons) !important;
  }

  &:last-child {
    border-top-right-radius: var(--border-radius-buttons) !important;
    border-bottom-right-radius: var(--border-radius-buttons) !important;
  }

  & + & {
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0.025rem 0 0 0 var(--color-separator)
  }
}
