.amountSensitiveData {
  --border-radius-value: var(--border-radius-default);

  overflow: hidden;

  margin: 1rem auto;

  border-radius: var(--border-radius-default);

  &.withStatus {
    margin: 0 auto 1rem;
  }
}

.amount {
  overflow: hidden;

  max-width: 100%;
  padding: 0.75rem 1rem;

  font-size: 3rem;
  font-weight: 600;

  border-radius: var(--border-radius-default);

  @media (prefers-color-scheme: dark) {
    :global(.theme-system) & {
      box-shadow: none;
    }
  }

  &.withStatus {
    margin-bottom: 0.25rem;

    border-bottom-right-radius: var(--border-radius-mini);
    border-bottom-left-radius: var(--border-radius-mini);
  }
}

.amount,
.status {
  line-height: 1;
  color: var(--color-transaction-amount-gray-text);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: var(--color-transaction-amount-gray-bg);
}

.amountSymbol,
.amountFraction {
  font-size: 1rem;
  font-weight: 700;
}

.amountSymbol {
  margin-inline-start: 0.25rem;
}

.operationPositive {
  color: var(--color-transaction-amount-green-text);

  background-color: var(--color-transaction-amount-green-bg);
}

.operationScam {
  color: var(--color-transaction-amount-red-text);

  background-color: var(--color-transaction-amount-red-bg);
}

.status {
  margin: 0 auto;
  padding: 0.8125rem 0.75rem;

  font-size: 1.0625rem;
  font-weight: 700;

  border-radius: var(--border-radius-mini) var(--border-radius-mini) var(--border-radius-default) var(--border-radius-default);
}
