@use "../../../../styles/mixins";

.portraitContainer, .container {
  margin-bottom: 0.75rem;
}

.portraitContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.container {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: var(--border-radius-default);
}

.testnetWarning {
  padding: 0.5rem;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-accent-button-text);
  text-align: center;

  background-color: var(--color-accent-button-background);
}

.wrapper {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  margin: 0.5rem 0 0.75rem;
  padding: 0.75rem;
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 700;
  line-height: 0.9375rem;
  color: var(--color-red-warning-text);

  background-color: var(--color-red-warning-background);

  transition: 150ms color, 150ms opacity !important;

  &_landscape {
    margin-top: 0;
    font-size: 0.9375rem;
  }

  &:active {
    color: var(--color-red-warning-text-hover);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-red-warning-text-hover);
    }
  }

  @media (pointer: coarse) {
    padding-inline-end: 3rem;
  }
}

.wrapperFlex {
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  top: 0.125rem;
  /* stylelint-disable-next-line plugin/whole-pixel */
  left: -0.03125rem;

  font-size: 0.8125rem;
  line-height: 0.625rem;
  color: var(--color-red-warning-text-70);
  vertical-align: 0;
}

.text {
  max-width: 100%;
  margin: 0.25rem 0 0;
  padding: 0;

  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.75rem;
  color: var(--color-red-warning-text-70);
  overflow-wrap: anywhere;
}

.light {
  font-weight: 500;
}

.closeButton {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.25rem !important;
  height: 1.25rem !important;
  padding: 0 !important;
  border: none;
  border-radius: 50% !important;

  font-size: 1.25rem !important;
  color: var(--color-red-warning-text) !important;

  background-color: var(--color-red-warning-button-background) !important;

  transition: background-color 150ms;

  &:hover,
  &:focus-visible {
    background-color: var(--color-red-warning-button-background-hover) !important;
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  @media (pointer: coarse) {
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);

    width: 2rem !important;
    height: 2rem !important;

    font-size: 1.75rem !important;
  }
}

.domainPreviewWrapper {
  position: relative;

  flex-shrink: 0;

  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}

.domainPreview {
  position: absolute;
  z-index: calc(3 - var(--index));
  bottom: 0;
  left: 0;

  width: var(--domain-preview-size);
  height: var(--domain-preview-size);
  border: 1px solid var(--color-red-warning-background);
  border-radius: var(--border-radius-domain);
}

.domainPreview_1 {
  --domain-preview-size: 2.5rem;
  --border-radius-domain: 0.375rem;
}

.domainPreview_2 {
  --domain-preview-size: 1.75rem;
  /* stylelint-disable-next-line plugin/whole-pixel */
  --border-radius-domain: 0.28125rem;

  transform: translate(calc(var(--index) * 0.75rem), calc(var(--index) * -0.75rem));
}

.domainPreview_3 {
  --domain-preview-size: 1.625rem;
  /* stylelint-disable-next-line plugin/whole-pixel */
  --border-radius-domain: 0.2625rem;

  transform: translate(calc(var(--index) * 0.4375rem), calc(var(--index) * -0.4375rem));
}
