.root {
  cursor: var(--custom-cursor, pointer);

  display: flex;

  max-width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.75rem;

  text-align: left;
  text-decoration: none;

  background: var(--color-background-first);
  border: none;
  border-radius: var(--border-radius-default);

  appearance: none !important;

  & .icon:focus-visible,
  & .icon:hover {
    color: var(--color-accent);
  }
}

.rootStatic {
  margin-bottom: 1.3125rem;

  background: transparent;
  border: 1px solid var(--color-separator-input-stroke);
}

.thumbnail {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 0.75rem;

  border-radius: var(--border-radius-tiny);
}

.info {
  overflow: hidden;

  min-width: 0;
  max-width: 100%;
}

.title {
  overflow: hidden;

  margin-top: 0.125rem;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-gray-1);
  text-overflow: ellipsis;
  word-break: break-word;
}

.icon {
  margin-inline-start: 0.125rem;

  font-size: 1rem;
  color: var(--color-gray-3);
  vertical-align: -0.1875rem;

  transition: color 150ms;
}

.description {
  overflow: hidden;

  margin-top: 0.125rem;

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
  text-overflow: ellipsis;
  word-break: break-word;
}
