.root {
  display: flex;

  margin-bottom: 1.25rem;
  padding: 0.75rem;

  text-align: left;
  text-decoration: none;

  background: var(--color-background-first);
  border: none;
  border-radius: var(--border-radius-default);

  appearance: none !important;
}

.rootStatic {
  margin-bottom: 1.3125rem;

  background: transparent;
  border: 1px solid var(--color-separator-input-stroke);
}

.interactive {
  cursor: var(--custom-cursor, pointer);
}

.thumbnail {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 0.75rem;

  border-radius: var(--border-radius-tiny);
}

.title {
  margin-top: 0.125rem;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-gray-1);
}

.description {
  margin-top: 0.125rem;

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}
