@use "../../styles/mixins";

@include mixins.respond-above(xs) {
  .modalDialog {
    max-height: 48rem;
  }
}

.modalHeader {
  padding-right: 0;
  padding-left: 0;
}

.passwordModalDialog {
  height: 35.5rem;

  @supports (height: var(--safe-area-bottom)) {
    height: calc(35.5rem + var(--safe-area-bottom));
  }

  :global(.is-native-bottom-sheet) & {
    height: calc(35.5rem + var(--safe-area-bottom, 0rem));
  }
}

.amountWrapper {
  --color-black: var(--color-vesting-blue);

  padding: 0 1rem 1rem;
  border-radius: var(--border-radius-default);
  background: var(--color-background-blue-second) url(../../assets/vesting_bg.png) no-repeat 0 0;
  background-size: 91%;

  :global(.theme-dark) & {
    background-image: url("../../assets/vesting_bg_dark.png");
  }

  @include mixins.respond-below(xs) {
    :global(.is-android) & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url("../../assets/vesting_bg@2x.png");

    :global(.theme-dark) & {
      background-image: url("../../assets/vesting_bg_dark@2x.png");
    }
  }
}

.close {
  --color-close-button-text: var(--color-vesting-blue);
  --color-close-button-text-hover: var(--color-vesting-blue-hover);
  --color-close-button-background: var(--color-vesting-close-background);
  --color-close-button-background-hover: var(--color-vesting-close-background-hover);
}

.inputWrapper {
  --color-background-first: var(--color-background-blue-first);

  margin-bottom: 0.75rem;
}

.inputLabel,
.inputValue {
  color: var(--color-vesting-blue) !important;
}

.unfreezeInput {
  display: block;
}

.unfreezeResult {
  display: inline-flex;
  align-items: baseline;

  width: auto;

  background: linear-gradient(81.88deg, var(--color-vesting-blue) 19.42%, #1EC160 71.55%);
  background-clip: text;

  -webkit-text-fill-color: transparent;

  :global(.theme-dark) & {
    background: linear-gradient(81.88deg, #58AFFF 19.42%, #2CD36F 71.55%);
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}

.buttons {
  margin-top: 1.25rem;
}

.button {
  width: 100%;
  max-width: 100% !important;
  font-size: 0.9375rem !important;
}

.unfreezeTime {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 17rem;
  margin: 1.25rem auto 0;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--color-vesting-text);
  text-align: center;

  background: var(--color-vesting-background);
}

.unfreezeTimeIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1rem;
}

.actions {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 0;
  padding: 1.25rem 1rem 1rem;

  @include mixins.adapt-padding-to-scrollbar(1rem);
}

.actionsTitle {
  margin-left: 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.8125rem;
  color: var(--color-gray-2);
}

.actionsList {
  overflow: hidden;
  overflow-y: scroll;
  flex-grow: 1;

  margin-top: 0.5rem;
  border-radius: var(--border-radius-default);
}

.block {
  border-radius: var(--border-radius-default);
  background: var(--color-background-first);

  & + & {
    margin-top: 1rem;
  }
}

.vestingInfo {
  padding: 1rem;

  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
}

.blockTitle {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-black);
}

.blockSubtitle {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-2);
}

.part {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0.875rem 0.75rem;

  font-weight: 600;
  color: var(--color-black);

  &:not(:global(.ready)) {
    pointer-events: none;
    opacity: 0.5;
  }

  &:global(.ready)::after {
    opacity: 0.5;
  }

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 3.625rem;

    height: 0.0625rem;

    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }
}

.partInteractive {
  cursor: var(--custom-cursor, pointer);
  transition: background-color 150ms;

  @media (hover: hover) {
    &:focus-visible,
    &:hover {
      background-color: var(--color-interactive-item-hover);
    }
  }

  &.active {
    background-color: var(--color-interactive-item-hover);
  }

  &:active {
    // Optimization
    transition: none;
  }
}

.partIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.625rem;
  border-radius: 50%;

  font-size: 1.5rem;

  background: var(--color-gradient-activity-gray-green-bg);

  &:global(.frozen) {
    font-size: 1.6875rem;
    color: var(--color-activity-blue);
    background: var(--color-activity-blue-background);
  }

  &:global(.unfrozen) {
    color: var(--color-activity-green-text);
    background: var(--color-activity-green-background);
  }

  &:global(.missed) {
    color: var(--color-activity-red-text);
    background: var(--color-activity-red-background);
  }

  &:global(.ready) {
    :global(.theme-dark) & {
      background: linear-gradient(135deg, #133F59 13.89%, #1F3838 86.11%);
    }

    &::before {
      color: transparent;
      background: var(--color-gradient-main-blue2-green);
      background-clip: text;
      background-size: 100%;
    }
  }
}

.partValue {
  margin-inline-start: auto;
  padding-inline-start: 0.75rem;
  font-size: 0.9375rem;

  &:global(.frozen) {
    color: var(--color-activity-blue);
  }

  &:global(.unfrozen) {
    color: var(--color-activity-green-text);
  }

  &:global(.missed) {
    color: var(--color-red);
  }

  &:global(.ready) {
    color: transparent;
    background: var(--color-gradient-main-blue2-green);
    background-clip: text;
    background-size: 100%;
  }
}

.transactionBanner {
  margin-bottom: 1rem;
}

.operationInfoFee {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-gray-2);
  text-align: center;
}

.operationInfoFeeWithGap {
  margin-bottom: 2rem;
}

.partName {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.bold {
  font-weight: 700;
}

.date {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-2);
}
