@import "../../../../styles/mixins";

.accountTitle {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0.375rem;
  left: 0.25rem;

  display: inline-grid;
  grid-template-areas: "title icon";

  max-width: calc(100% - 4rem);
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;

  font-size: 1.0625rem;
  font-weight: 700;
  color: var(--main-text, var(--color-card-text));

  transition: color 300ms;

  &:focus-visible,
  &:hover {
    color: var(--second-text, var(--color-card-text-hover));
  }

  :global(html.animation-level-0) &,
  // Optimization
  &:active {
    transition: none !important;
  }

  &:global(.gradientText) {
    transition: opacity 150ms;

    &:focus-visible,
    &:hover {
      opacity: 0.65;
    }
  }

  @media (hover: hover) {
    top: 1.125rem;
    left: 1rem;

    padding: 0 0.6875rem 0 0;
  }
}

.accountTitleInner {
  overflow: hidden;
  grid-area: title;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.accountTitleShort {
  max-width: calc(100% - 6rem);
}

.arrowIcon {
  position: relative;
  top: 0.3125rem;

  grid-area: icon;

  font-size: 0.8125rem;
  line-height: 0.8125rem;
  vertical-align: 0;
}

.menuButton {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;
  padding: 0;

  font-size: 1.5rem;
  color: var(--action-color, var(--color-card-second-text));
  text-shadow: inherit;

  &:focus-visible,
  &:active,
  &:hover {
    color: var(--action-color-hover, var(--color-card-text));
  }

  @include respond-below(xs) {
    width: 1.75rem;
    height: 1.75rem;

    font-size: 1.75rem;
  }
}

.edit {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  width: 1.75rem;
  height: 1.75rem;

  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--main-text, var(--color-card-text));
  text-align: center;

  opacity: 0.8;
  border-radius: 50%;

  transition: opacity 150ms;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.inputContainer {
  position: absolute;
  z-index: 1;
  top: 0.5625rem;
  right: 0.5rem;
  left: 0.5rem;

  background-color: var(--color-card-button);
  border-radius: var(--border-radius-small);
}

.input {
  width: 100%;
  padding: 0.5rem 4rem 0.5625rem 0.5rem;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1;
  color: var(--main-text, var(--color-card-text));

  background: none;
  border: none;
  border-radius: var(--border-radius-small);
  outline: none;
}

.saveButton {
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;

  padding: 0.5rem 0.75rem 0.4375rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1;
  color: var(--main-text, var(--color-card-text));

  background-color: var(--color-card-button);
  border-radius: var(--border-radius-tiny);

  transition: background-color 150ms;

  &:hover,
  &:focus-visible {
    background-color: var(--color-card-button-hover);
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.container {
  position: absolute;
  z-index: 3;
  top: 2.8125rem;
  right: 0.5rem;
  left: 0.5rem;

  max-width: 19.625rem;

  &:global(.sticky-card-account-selector) {
    top: 3.125rem;
    right: -0.5rem;
    left: -0.5rem;

    @supports (top: var(--safe-area-top)) {
      top: max(2.0625rem, calc(3.125rem - var(--safe-area-top)));
    }
  }

  &:global(.shown) .dialog {
    transform: translateY(-1rem);

    opacity: 0;
  }

  &:global(.shown.open) .dialog {
    transform: translateY(0);

    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;
}

.dialog {
  --main-text: var(--color-card-text);
  --second-text: var(--color-card-second-text);

  position: relative;
  z-index: 2;

  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  max-height: 16rem;
  padding: 0.5rem !important;

  background-color: var(--color-background-drop-down);
  border-radius: var(--border-radius-default);
  box-shadow: var(--default-shadow);

  transition: var(--dropdown-transition), scrollbar-color 300ms !important;

  scrollbar-width: none !important;

  &_compact {
    grid-template-columns: 1fr 1fr;

    max-width: calc(66% + 1rem);
  }

  .container:global(.closing) > & {
    transition: var(--dropdown-transition-backwards) !important;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.actionIcon {
  font-size: 1.5rem;
}

.button {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 3.75rem;
  margin: 0;
  padding: 0 0.5rem;

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--main-text, var(--color-card-text));
  text-align: left;

  background-image: url('../../../../assets/account_button_bg.jpg'), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  background-clip: padding-box, padding-box;
  background-origin: border-box;
  background-size: cover, cover;
  border: none;
  border-radius: var(--border-radius-tiny);

  &_current {
    cursor: default;

    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: 0 0 0 0.046875rem var(--color-accent),
          inset 0 0 0 0.046875rem var(--color-accent),
          inset 0 0 0 0.140625rem var(--color-background-drop-down);
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url('../../../../assets/account_button_bg@2x.jpg'), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  }

  &.customCard {
    --border-radius-card: 0;

    background-image: var(--bg), linear-gradient(125deg, #71A9ED 0, #436CB6 100%) !important;
  }
}

.accountName {
  z-index: 1;

  overflow: hidden;

  max-width: 100%;
  margin-top: 0.5rem;

  text-overflow: ellipsis;
  white-space: nowrap;

  .button_current > & {
    margin-right: 1rem;
  }

  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;

    word-wrap: break-word;
    white-space: normal;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.accountAddressBlock {
  z-index: 1;

  display: flex;
  gap: 0.25rem;

  margin-top: auto;
  margin-bottom: 0.375rem;

  font-size: 0.6875rem;
  color: var(--second-text, var(--color-card-second-text));
}

.createAccountButton {
  flex-direction: column !important;
  align-items: flex-start !important;

  width: 100% !important;
  min-width: auto !important;
  max-width: 100% !important;
  height: 3.75rem !important;
  padding: 0.5rem !important;

  font-size: 0.75rem !important;
  line-height: 1 !important;
  color: var(--color-add-wallet-text) !important;

  background-color: var(--color-add-wallet-background) !important;
  border-radius: 0.5rem !important;

  &:focus-visible,
  &:hover {
    color: var(--color-add-wallet-text-hover) !important;

    background-color: var(--color-add-wallet-background-hover) !important;
  }

  &:active {
    // Optimization
    transition: none;
  }
}

.createAccountIcon {
  margin-top: 0.375rem;

  font-size: 1.5rem !important;
}

.menuButtons {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  &.inStickyCard {
    top: unset;
    right: 0;
  }

  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: fit-content;
  height: 1.5rem;

  @include respond-below(xs) {
    gap: 0.5625rem;

    height: 1.75rem;
  }

  :global(.MtwCard__gold) & {
    --action-color: #835B0E;
    --action-color-hover: #654910;
  }

  :global(.MtwCard__standard.MtwCard__lightText) & {
    text-shadow: 0 0 1.5rem #000;
  }

  :global(.MtwCard__standard.MtwCard__darkText) & {
    text-shadow: 0 0 1.5rem #FFFFFFB2;
  }
}
