@use "sass:math";

@use "../../../../styles/mixins";

$color-transition: color 300ms;

.containerWrapper {
  position: relative;
  z-index: var(--z-card);

  box-sizing: border-box;
  width: 100%;
  min-width: 16rem;
  height: 0;
  margin: 0.75rem auto;
  padding-top: 58%;

  :global(html.is-electron) &,
  :global(html.is-mobile-telegram-app.with-safe-area-top) & {
    margin-top: 0;
  }

  @include mixins.respond-above(xs) {
    margin-top: 0;
  }
}

.isLoading {
  width: 100%;
  height: 100%;
  padding: 0;
}

.center {
  top: 33%;
  transform: translate(0, -50%);
  margin-right: auto;
  margin-left: auto
}

.container {
  --main-text: var(--color-card-text);
  --second-text: var(--color-card-second-text);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);

  background-image: url("../../../../assets/cards/card.jpg"), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);
  background-clip: border-box, padding-box, padding-box;
  background-origin: border-box;
  background-size: cover, cover;

  transition: transform var(--slide-transition), filter var(--slide-transition) !important;

  &:global(.tegro) {
    background-image: url("../../../../assets/cards/card_tegro.jpg"), linear-gradient(125deg, #479CFF 0, #0042A7 100%);
  }

  &:global(.red) {
    background-image: url("../../../../assets/cards/card_red.jpg"), linear-gradient(125deg, #BE647F 0, #8A2935 100%);
  }

  &:global(.orange) {
    background-image: url("../../../../assets/cards/card_orange.jpg"), linear-gradient(125deg, #D98A5E 0, #A04B26 100%);
  }

  &:global(.green) {
    background-image: url("../../../../assets/cards/card_green.jpg"), linear-gradient(125deg, #7CAD64 0, #497228 100%);
  }

  &:global(.sea) {
    background-image: url("../../../../assets/cards/card_sea.jpg"), linear-gradient(125deg, #5DAAAF 0, #1E7070 100%);
  }

  &:global(.purple) {
    background-image: url("../../../../assets/cards/card_purple.jpg"), linear-gradient(125deg, #8F6FD4 0, #502081 100%);
  }

  &:global(.pink) {
    background-image: url("../../../../assets/cards/card_pink.jpg"), linear-gradient(125deg, #BC67B4 0, #852B76 100%);
  }

  &.backstage {
    transform: translateY(-1.0625rem) scale(0.9);
    filter: brightness(65%);
  }

  &.tokenCard {
    z-index: 2;
    transform: translateY(0.625rem) scale(1.05);
    padding: 1rem;

    &:global(.open) {
      transform: translateY(0) scale(1);
    }
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url("../../../../assets/cards/card@2x.jpg"), linear-gradient(125deg, #71A9ED 0, #436CB6 100%);

    &:global(.tegro) {
      background-image: url("../../../../assets/cards/card_tegro@2x.jpg"),
        linear-gradient(125deg, #479CFF 0, #0042A7 100%);
    }

    &:global(.red) {
      background-image: url("../../../../assets/cards/card_red@2x.jpg"),
        linear-gradient(125deg, #BE647F 0, #8A2935 100%);
    }

    &:global(.orange) {
      background-image: url("../../../../assets/cards/card_orange@2x.jpg"),
        linear-gradient(125deg, #D98A5E 0, #A04B26 100%);
    }

    &:global(.green) {
      background-image: url("../../../../assets/cards/card_green@2x.jpg"),
        linear-gradient(125deg, #7CAD64 0, #497228 100%);
    }

    &:global(.sea) {
      background-image: url("../../../../assets/cards/card_sea@2x.jpg"),
        linear-gradient(125deg, #5DAAAF 0, #1E7070 100%);
    }

    &:global(.purple) {
      background-image: url("../../../../assets/cards/card_purple@2x.jpg"),
        linear-gradient(125deg, #8F6FD4 0, #502081 100%);
    }

    &:global(.pink) {
      background-image: url("../../../../assets/cards/card_pink@2x.jpg"),
        linear-gradient(125deg, #BC67B4 0, #852B76 100%);
    }
  }
}

.containerInner {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  padding: 4.125rem 1rem 0.5rem;
}

.balanceTransition {
  max-height: 2.5rem;
  margin-bottom: 0.25rem;
}

.primaryValue {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  color: var(--main-text);

  transition: $color-transition;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.primaryFractionPart {
  font-size: 1.1875rem;
  font-weight: 800;
  color: var(--second-text);

  :global(.glare-text) & {
    color: transparent;
  }

  transition: $color-transition;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.iconCaret {
  position: relative;
  top: -0.1875rem;
  left: -0.0625rem;
  font-size: 1.125rem;
}

.iconCaretSmall {
  font-size: 0.875rem;
  line-height: 0.875rem;
  vertical-align: -1px;
}

.iconCaretFraction {
  position: relative;
  top: 0.0625rem;
  left: 0.0625rem;

  font-size: 0.875rem;
  color: var(--second-text);

  transition: $color-transition;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.currencySwitcher {
  cursor: var(--custom-cursor, pointer);
  position: relative;
  padding-right: 0.875rem;

  & > .iconCaretSmall {
    position: absolute;
    top: 0.0625rem;
    right: 0;
  }
}

.addressContainer {
  margin-top: auto;
  margin-bottom: 0.375rem;
}

.addressLabel {
  display: inline-flex;
  align-items: center;

  height: 1rem;
  margin-right: 0.25rem;
  padding: 0 0.25rem;
  border-radius: 0.3125rem;

  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--second-text);
  vertical-align: -0.0625rem;

  background-color: var(--color-card-button);

  > .icon {
    margin: 0 0.25rem 0 0.125rem;
    font-size: 0.75rem;
  }
}

.address {
  cursor: var(--custom-cursor, pointer);

  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  color: var(--second-text);

  outline: none;

  transition: $color-transition;

  :global(html.animation-level-0) &,
  // Optimization
  &:active {
    transition: none !important;
  }

  &:hover,
  &:focus-visible {
    color: var(--main-text);
  }

  &:not(:global(.gradientText)) {
    background: transparent;
  }

  &:global(.gradientText) {
    transition: opacity 150ms;

    &:hover,
    &:focus-visible {
      color: var(--second-text);
      opacity: 0.65;
    }
  }
}

.icon {
  font-size: 1rem;
  vertical-align: -0.1875rem;

  &:global(.icon-ledger) {
    margin-inline-end: 0.25rem;
    color: var(--second-text);
    transition: $color-transition;

    :global(html.animation-level-0) & {
      transition: none !important;
    }
  }
}

.menuItem {
  --copy-icon-color: var(--color-gray-3);

  position: relative;
  display: flex;
  width: 100%;
  padding: 0.6875rem 0.9375rem 0.6875rem 0.75rem !important;

  @media (pointer: coarse) {
    padding: 0.75rem 0.9375rem 0.75rem 0.75rem !important;
  }
}

.menuIcon {
  width: 1.375rem;
  height: 1.375rem;

  @media (pointer: coarse) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.menuItemName {
  cursor: var(--custom-cursor, pointer);
  display: inline-flex;

  @media (hover: hover) {
    &:hover,
    &:focus {
      --copy-icon-color: var(--color-accent);
    }
  }
}

.menuFontIcon {
  margin-top: -0.0625rem;
  margin-inline-start: 0.25rem;
  margin-inline-end: 0;

  font-size: 1rem !important;
  color: var(--copy-icon-color);

  transition: $color-transition;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.menuExplorerIcon {
  cursor: var(--custom-cursor, pointer);
  order: 3;
  color: var(--color-gray-3);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.addressMenuBubble {
  --offset-x: -0.875rem;
}

.domainText {
  cursor: var(--custom-cursor, pointer);

  overflow: hidden;

  max-width: 11rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.addressText {
  cursor: var(--custom-cursor, pointer);
  color: var(--color-gray-3);
}

.separator {
  margin: 0 4px;
  color: var(--color-gray-3);
}

.explorerButton {
  font-size: 1.25rem;
  line-height: 1;
  color: var(--action-color, var(--second-text));
  text-decoration: none !important;

  transition: $color-transition;

  &:active {
    // Optimization
    transition: none;
  }

  &:hover,
  &:focus-visible {
    color: var(--action-color-hover, var(--main-text));
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  :global(.MtwCard__black) &,
  :global(.MtwCard__platinum) &,
  :global(.MtwCard__gold) &,
  :global(.MtwCard__silver) & {
    color: var(--action-color, var(--second-text));
    transition: opacity 150ms;

    &:hover,
    &:focus-visible {
      opacity: 0.65;
    }
  }
}

.changeSpoiler {
  --border-radius-value: var(--border-radius-tiny);
}

.blurred {
  backdrop-filter: blur(10px);
}

.change {
  align-self: flex-start;

  height: 1.5rem;
  padding: 0.3125rem 0.375rem 0;
  border-radius: var(--border-radius-tiny);

  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-card-default-text, var(--color-card-text));
  white-space: nowrap;

  background: var(--color-card-button);
  backdrop-filter: blur(12px);

  transition: $color-transition, background-color 300ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.changeCourseUp {
  color: var(--color-card-green-text);
  background: var(--color-card-green-background);
}

.changeCourseDown {
  color: var(--color-card-red-text);
  background: var(--color-card-red-background);
}

.tokenInfo {
  display: grid;
  grid-template-areas: "back icon header" "back icon subheader";
  grid-template-columns: min-content min-content minmax(0, 1fr); // `minmax` forces the column to stay within the grid boundaries and to cut the content with ellipsis
  align-items: center;
}

.tokenLogo {
  grid-area: icon;

  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.tokenInfoHeader,
.tokenInfoSubheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tokenInfoHeader {
  grid-area: header;
  align-self: flex-end;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-card-text);
}

.tokenInfoSubheader {
  grid-area: subheader;
  align-self: flex-start;

  margin-top: 0.25rem;

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-card-second-text);
}

.tokenAmount,
.tokenName {
  --border-radius-value: 0.25rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tokenValue,
.tokenAmount {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

.tokenValue,
.tokenChange {
  flex: none;
  margin-inline-start: 0.25rem;
  text-align: right;
}

.tokenChange {
  --border-radius-value: var(--border-radius-micro);

  line-height: 0.875rem;
}

.tokenChangeSensitiveData {
  min-height: 0.875rem !important;
  margin-left: 0.1875rem;
}

.tokenChangeSpoiler {
  top: -0.0625rem !important;
  right: -0.1875rem !important;
}

.tokenValue {
  --border-radius-value: 0.25rem;
  --offset-x-value: -0.3125rem;
  --offset-y-value: 0.1875rem;

  margin-inline-end: -0.1875rem;
}

.tokenTitle {
  display: flex;
  align-items: center;
  min-width: 0;
  line-height: 0.875rem;
}

.tokenHistoryPrice {
  bottom: 0;
}

.tokenCurrentPrice {
  right: 1rem;
  bottom: 1rem;
  line-height: 1;
  text-align: right;
}

.tokenHistoryPrice,
.tokenCurrentPrice {
  position: absolute;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-card-text);
}

.tokenPriceDate {
  margin-top: 0.125rem;

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-card-second-text);
}

.apy {
  flex: none;

  height: 0.9375rem;
  margin-block: -0.125rem -0.0625rem;
  margin-inline-start: 0.25rem;
  padding: 0.1875rem;
  border-radius: 0.25rem;

  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-card-apy-text);

  background-color: var(--color-card-apy-background);
}

.interactive {
  cursor: var(--custom-cursor, pointer);
}

.tokenExplorerButton {
  position: relative;
  top: 0.25rem;

  font-size: 1rem;
  line-height: 0.625rem;
  color: var(--color-card-second-text) !important;
  text-decoration: none !important;

  transition: $color-transition;

  &:active {
    // Optimization
    transition: none;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-card-text) !important;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.chart {
  touch-action: none;
  cursor: var(--custom-cursor, pointer);
  user-select: none;

  position: relative;

  width: 100%;
  height: auto;
  padding: 0.75rem 0 0.875rem 0;

  // Following pseudo-elements are used to enlarge interactive area without affecting bounding box

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -0.5rem;

    width: 0.5rem;
    height: 100%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: -0.5rem;

    width: 0.5rem;
    height: 100%;
  }
}

.chartImg {
  pointer-events: none;
  width: 100%;
  height: auto;
}

.backButton {
  grid-area: back;

  margin: 0.25rem 0 0 -0.875rem;
  padding-right: 0.125rem;
  padding-left: 0.375rem;

  font-size: 1.25rem;
  color: var(--color-card-text);
}

.periodChooser {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-card-text);

  transition: opacity 0.15s ease;
}

.periodChooserHidden {
  pointer-events: none;
  opacity: 0;
}

.periodItem {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  overflow: hidden;

  margin: 0;
  padding: 0.3125rem 0.3125rem 0.375rem;
  border-radius: var(--border-radius-tiny);

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.8125rem;
  color: var(--color-card-text);

  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-card-button);
  }

  &_active {
    background-color: var(--color-card-toggle) !important;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.periodInput {
  position: absolute;
  top: -2rem;
  left: -2rem;

  width: 0.0625rem;
  height: 0.0625rem;

  opacity: 0;
  clip: rect(0 0 0 0);
}

.loadingDotsContainer {
  position: absolute;
  z-index: 1;
  top: 0.5625rem;
  left: 50%;
  transform: translateX(-50%) scale(0.6);

  height: 0.375rem !important;

  opacity: 0.75 !important;
}

// Custom Card
.cardCustomBackground {
  pointer-events: none;

  position: absolute;
  // For gradient border positioning
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);

  opacity: 0;
  background-image: var(--bg);
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover;

  transition: opacity 300ms;

  &.visible {
    opacity: 1;
  }

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0.125rem;
    border-radius: var(--border-radius-card);

    background: radial-gradient(24.09% 50.19% at 74.09% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);

    /* Trim so that the gradient appears only on the borders */
    mask:
      linear-gradient(to right, #FFF 0%, #FFF 100%) content-box,
      linear-gradient(to right, #FFF 0%, #FFF 100%);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:global(.MtwCard__standard) {
    background-clip: border-box, content-box;
    background-origin: border-box, content-box;
    background-size: cover, cover;
  }
}

// Card's border with shine
.black::before {
  background-image: radial-gradient(30.47% 83.28% at 79.45% 3.2%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, #141518 33.29%, #292929 48.38%);
}

.platinum::before,
.gold::before,
.silver::before {
  background-image: radial-gradient(24.09% 50.19% at 74.09% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);
}

.borderShine_down::before {
  background-image: radial-gradient(10.43% 49.81% at 50% 100%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);
}

.borderShine_left::before {
  background-image: radial-gradient(50% 28.86% at 0% 50.19%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);
}

.borderShine_up::before {
  background-image: radial-gradient(10.51% 50.19% at 50% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);

}

.borderShine_right::before {
  background-image: radial-gradient(50% 28.86% at 100% 50.19%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);
}
