.menuWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.menu {
  --offset-x-value: -50%;
  --offset-y-value: 1rem;
  --translate-x: 50%;

  overflow: visible;
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  gap: 0.25rem;

  padding: 0.5rem !important;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: var(--z-over-menu-bubble);
    top: 0;
    left: 50%;
    transform: translate(-50%, -0.3125rem) rotate(45deg);

    width: 0;
    height: 0;
    border: 0.4375rem solid;
    border-color: var(--color-background-drop-down) transparent transparent var(--color-background-drop-down);
    border-radius: 0.125rem;
  }
}

.menuItem {
  --color-input-button-text: var(--color-gray-1);
  --color-selected-drop-down-item: var(--color-gray-1);

  justify-content: center;
  margin-bottom: 0 !important;
  padding: 0.5625rem 0.75rem !important;
  border-radius: var(--border-radius-small);

  &::before {
    display: none;
  }
}
