.root {
  pointer-events: none;

  isolation: isolate;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-width: 16rem;
  height: 0;
  padding-top: 58%;

  &.sticky {
    --border-radius-card: 0;

    min-width: auto;
    height: 100%;
    padding-top: 0;
  }

  &:not(.sticky)::before {
    content: "";

    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 1px;
    border-radius: var(--border-radius-card);

    background: radial-gradient(24.09% 50.19% at 74.09% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%);

    /* Trim so that the gradient appears only on the borders */
    mask:
      linear-gradient(to right, #FFF 0%, #FFF 100%) content-box,
      linear-gradient(to right, #FFF 0%, #FFF 100%);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:global(.MtwCard__standard) {
    background-clip: border-box, content-box;
    background-origin: border-box, content-box;
    background-size: cover, cover;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);

  object-fit: cover;
  object-position: center;
}

// Card's border with shine
.borderShine_down::before {
  background-image: radial-gradient(10.43% 49.81% at 50% 100%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_left::before {
  background-image: radial-gradient(50% 28.86% at 0% 50.19%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_up::before {
  background-image: radial-gradient(10.51% 50.19% at 50% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_right::before {
  background-image: radial-gradient(50% 28.86% at 100% 50.19%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, rgba(140, 148, 176, 0.5) 33.29%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_radioactive::before {
  background-image: linear-gradient(to bottom, #5CE850 0%, #5CE850 100%) !important;
}

:global(.MtwCard__black)::before {
  /* stylelint-disable-next-line plugin/whole-pixel */
  padding: 1.5px !important;
  background-image: radial-gradient(30.47% 83.28% at 79.45% 3.2%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.65deg, #141518 33.29%, #292929 48.38%) !important;
}

:global(.MtwCard__platinum)::before,
:global(.MtwCard__gold)::before,
:global(.MtwCard__silver)::before {
  background-image: radial-gradient(23.98% 49.81% at 73.98% 0.37%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.61deg, rgba(140, 148, 176, 0.5) 33.38%, rgba(186, 188, 194, 0.85) 48.39%) !important;
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 62%;
  border-radius: var(--border-radius-card) 0 0 var(--border-radius-card);

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  :global(.MtwCard__standard.MtwCard__lightText) & {
    &::before {
      z-index: 2;
      background: radial-gradient(161.19% 173.04% at -61.19% 50%, rgba(0, 0, 0, 0.16) 35%, rgba(0, 0, 0, 0) 100%);
      mix-blend-mode: normal;
    }

    &::after {
      z-index: 1;
      background: radial-gradient(161.19% 173.04% at -61.19% 50%, #000000 35%, rgba(0, 0, 0, 0) 100%);
      mix-blend-mode: overlay;
    }
  }

  :global(.MtwCard__standard.MtwCard__darkText) & {
    &::before {
      z-index: 2;
      background: radial-gradient(161.19% 173.04% at -61.19% 50%, rgba(255, 255, 255, 0.16) 35%, rgba(255, 255, 255, 0) 100%);
      mix-blend-mode: normal;
    }

    &::after {
      z-index: 1;
      background: radial-gradient(161.19% 173.04% at -61.19% 50%, #FFFFFF 35%, rgba(255, 255, 255, 0) 100%);
      mix-blend-mode: overlay;
    }
  }
}
