@use "../../../../styles/mixins";

.root {
  position: fixed;
  z-index: var(--z-sticky-card);
  top: 0;
  left: 0;

  width: 100%;
  height: 0;
}

.background {
  pointer-events: none;

  position: relative;

  padding: 0 1rem;

  opacity: 0;
  background-image: url("../../../../assets/cards/sticky_card_bg.jpg"),
                    linear-gradient(125deg, #71AAEF 10.21%, #3F79CF 29.02%, #2E74B5 49.57%, #2160A1 65.77%);
  background-size: cover;

  &:not(.noNoise)::before {
    pointer-events: none;
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url("../../../../assets/cards/sticky_card_noise.png") repeat-x;
    mix-blend-mode: multiply;
  }

  &:global(.shown) {
    transition: opacity 0.3s ease;
  }

  &:global(.open) {
    pointer-events: auto;
    opacity: 1;
  }

  @supports (padding-top: var(--safe-area-top)) {
    padding-top: var(--safe-area-top);
  }

  @include mixins.respond-below(xs) {
    // Fix for opera, dead zone of 37 pixels in extension window on windows
    :global(html.is-windows.is-opera.is-extension) & {
      padding-top: 1rem !important;
    }

    :global(html.is-macos.is-electron) & {
      padding-left: 5.5rem !important;
    }
  }
}

.content {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template: "account balance menu";
  grid-template-columns: minmax(33%, max-content) 1fr 1fr;
  align-items: center;

  max-width: 27rem;
  height: var(--sticky-card-height);
  margin: 0 auto;
}

.account {
  position: relative;
  top: initial;
  left: initial;

  display: grid;
  grid-area: account;
  grid-template-columns: auto 1fr;
  justify-self: start;

  width: 100%;
  max-width: 100%;

  @media not (hover: hover) {
    padding-right: 1rem;
    padding-left: 0;
  }
}

.menuButton {
  position: static;
  grid-area: menu;
  justify-self: end;

  -webkit-app-region: no-drag;
}

.balance {
  --border-radius-value: 0.3125rem;

  grid-area: balance;
  justify-self: center;

  font-size: 1.1875rem;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  color: var(--main-text, var(--color-card-text));
  text-align: center;
}

.balanceFractionPart {
  font-size: 0.9375rem;
  color: var(--second-text, var(--color-card-second-text));
}

.iconCaret {
  font-size: 0.875rem;
  line-height: 0.875rem;
  vertical-align: -1px;
}

.iconCaretFraction {
  position: relative;
  top: 0.0625rem;
  color: var(--second-text, var(--color-card-second-text));
}

.currencySwitcher {
  cursor: var(--custom-cursor, pointer);

  -webkit-app-region: no-drag;
}

// Custom Card
.darkText {
  --main-text: #000;
  --second-text: #2F3241;
}

.lightText {
  --main-text: #FFF;
  --second-text: rgba(255, 255, 255, 0.6);
}

.cardBackground {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--bg) center center no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover;

  &:global(.MtwCard__standard) {
    background-clip: border-box, content-box;
    background-origin: border-box, content-box;
    background-size: cover, cover;
  }
}
