@mixin _separator-base($position-offset, $inset: '') {
  content: '';

  position: absolute;
  left: 0;

  width: 100%;
  height: 0.0625rem;

  box-shadow: $inset 0 $position-offset 0 0 var(--color-separator);
}

@mixin separator() {
  &:not(:first-child)::before {
    @include _separator-base(-0.03rem);

    top: 0;
  }
}

@mixin separatorBottom() {
  &::after {
    @include _separator-base(0.03rem, inset);

    bottom: 0;
  }
}
