@import '../../styles/mixins';

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 0 1rem 1rem;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  }
}

.contentTitle {
  margin-bottom: 1.5rem;

  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: var(--color-gray-2);
  text-align: center;
}

.qrCode:not(.qrCodeHidden) + .contentTitle {
  margin-top: 1rem;
  margin-bottom: 0;
}

.qrCode {
  position: relative;

  overflow: hidden;

  aspect-ratio: 1;
  width: 100%;
  max-width: 11rem;
  margin: 1rem auto 0;

  background-color: var(--color-white);
  border-radius: var(--border-radius-card);

  transition: opacity 350ms ease-in-out;

  canvas {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    display: block;

    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
}

.qrCodeHidden {
  opacity: 0;
}

.label {
  margin: 0 0 0.5rem 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-gray-2);
}

.labelForInvoice {
  margin-top: 0.3125rem;
}

.copyButtonStatic {
  background: transparent !important;
  border: 1px solid var(--color-separator-input-stroke) !important;
}

.invoiceButton {
  max-width: 100% !important;

  background-color: var(--color-gray-button-background) !important;

  &:focus-visible,
  &:hover {
    background-color: var(--color-gray-button-background-hover) !important;
  }
}

.tokenDropdown {
  --offset-y-value: calc(100% - 3.25rem);
  --offset-x-value: 0;

  position: relative;
  top: 0.375rem;
  right: 0.375rem;
}

.invoiceComment {
  margin: 0.25rem 0 1.25rem;
}

.dottedLink {
  cursor: var(--custom-cursor, pointer);

  font-weight: 600;
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover,
  &:focus-visible {
    text-decoration: none;
  }
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actionButton {
  max-width: 100% !important;
}
