.container {
  position: relative;

  width: 100%;
  height: var(--electron-header-height);

  background-color: var(--color-background-second);

  transition: background-color  300ms, color 300ms, opacity 300ms;

  -webkit-app-region: drag;

  :global(html.is-modal-open) &,
  :global(body.is-media-viewer-open) & {
    pointer-events: none;
    opacity: 0;

    -webkit-app-region: no-drag;
  }
}

.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 61.25rem;
  height: 100%;
  margin: auto;
  padding: 0 1rem;

  :global(html.is-electron.is-windows) & {
    justify-content: flex-start;
    max-width: 100%;
  }
}

.applicationName {
  user-select: none;
  align-self: center;
  font-size: 0.9375rem;
  font-weight: 700;
}

.buttons {
  position: relative;
  z-index: var(--z-menu-bubble);
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  :global(html.is-electron.is-macos) & {
    position: absolute;
    right: 0.75rem;
  }

  :global(html.is-electron.is-windows) & {
    -webkit-app-region: no-drag;
  }
}

.windowsButtons {
  position: absolute;
  z-index: var(--z-menu-bubble);
  top: 50%;
  right: 0.8125rem;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  height: 100%;
}

.windowsButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.625rem;
  height: 100%;

  font-size: 1.5rem;
  text-align: center;

  transition: color 150ms;

  -webkit-app-region: no-drag;

  &:hover {
    color: var(--color-black);
  }
}
