.container {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  right: 100%;

  display: flex;
  align-items: center;

  min-width: 0;
  height: 1.75rem;
  margin-right: auto;
  padding: 0 0.5rem;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.9375rem;
  color: var(--color-accent-button-text);

  background-color: var(--color-green-button-background);
  border-radius: var(--border-radius-default);

  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: opacity 400ms, background-color 150ms;

  -webkit-app-region: no-drag;

  &:hover {
    background-color: var(--color-green-button-background-hover);

    .icon {
      color: var(--color-green-button-background-hover);
    }
  }

  &.disabled {
    cursor: not-allowed;

    opacity: 0.3;
  }

  :global(html.is-electron.is-windows) & {
    margin-right: 1rem;
  }

  :global(html.is-electron.is-macos) & {
    margin-right: 0.4375rem;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.3125rem;

  font-size: 0.75rem;
  color: var(--color-apy-text);

  background-color: var(--color-accent-button-text);
  border-radius: var(--border-radius-default);
}

.text {
  white-space: nowrap;
}
