@use "../../styles/mixins";

.wrapper {
  height: 100%;
}

.transitionContainer {
  :global(html.is-telegram-app) & {
    --header-padding-top: 0.625rem;
  }

  @include mixins.respond-above(xs) {
    overflow: hidden;
    max-width: 31.4375rem;
    margin: 0 auto;

    &:global(.Transition_slide-to),
    &:global(.Transition_slide-from) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.transitionSlide {
  background: var(--color-background-second);

  @supports (padding-top: var(--safe-area-top)) {
    padding-top: var(--safe-area-top);
  }

  :global(html.is-telegram-app.is-fullscreen) & {
    padding-top: calc(var(--tg-safe-area-inset-top) + var(--header-padding-top))
  }
}

.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 27rem;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0 1rem 1rem;

  @include mixins.adapt-padding-to-scrollbar(1rem);

  @include mixins.respond-above(xs) {
    max-width: 31.4375rem;
  }

  &_scrollable {
    justify-content: unset !important;
  }

  &_password {
    align-items: stretch;
    padding-top: 3.375rem;
  }

  @supports (padding-bottom: var(--safe-area-bottom)) {
    padding-bottom: max(1rem, var(--safe-area-bottom));
  }

  @include mixins.respond-above(sm) {
    padding: 2rem;
  }

  &.containerAlignTop {
    justify-content: start;
  }
}

.containerFullSize {
  overflow: hidden;
  padding: 0 !important;
}

.aboutHeader {
  padding-top: var(--header-padding-top) !important;
}

.logo {
  display: block !important;

  width: 10rem;
  height: 10rem;
  margin: 5rem 0 0 0;

  transition: opacity 1s ease, transform 350ms ease-out !important;

  &:global(:not(.open)) {
    transform: translateY(-0.75rem);
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  @include mixins.respond-above(sm) {
    margin-top: 0;
  }
}

.appName {
  margin: 2rem 0 1.875rem;
}

.title {
  margin: 1.375rem 0 1.875rem;
  text-align: center;

  &_afterSmallSticker {
    margin: 2rem 0 1.25rem;
  }

  @media (max-width: 460px) {
    overflow-wrap: anywhere; // For Spanish localization on small screens
  }
}

.titleSmallMargin {
  margin-bottom: 0.25rem;
}

.title, .appName {
  font-size: 1.6875rem;
  font-weight: 800;
  line-height: 1;
  color: var(--color-black);
}

.infoBlock {
  padding: 1rem;
  border-radius: var(--border-radius-default);

  font-size: 0.9375rem;
  color: var(--color-gray-1);

  background: var(--color-background-first);
}

.text {
  margin-bottom: 0;
  line-height: 1.1875rem;

  & + & {
    margin-top: 1.1875rem;
  }
}

.informationCheckbox {
  align-self: flex-start;

  margin-top: 1.5rem;
  margin-bottom: auto !important;
  margin-inline-start: 0.25rem;
  padding-bottom: 2rem;

  font-weight: 600;
}

.informationCheckboxContent::before,
.informationCheckboxContent::after {
  top: -0.0625rem !important;
}

.info {
  width: 100%;
  color: var(--color-gray-1);
  text-align: center;

  &_push {
    margin-top: 3rem;
  }

  &__space {
    margin-bottom: 1.25rem;
  }
}

.infoPull {
  margin-bottom: 1.5rem;
}

.infoSmallFont {
  font-size: 0.9375rem;
  font-weight: 400;
}

.counter {
  position: relative;
  z-index: 2;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 14.5rem;
  height: 6.5rem;
  margin-top: 3rem;
  border: 0.1875rem solid transparent;
  border-radius: var(--border-radius-default);

  color: var(--color-accent);

  background: linear-gradient(to top, var(--color-background-first), var(--color-background-first)),
  linear-gradient(to top, #0088CC99, #0088CC1A 50%, #0088CC00 70%) no-repeat 50% 50%;
  background-clip: content-box, border-box;
  background-origin: border-box;

  :global(.theme-dark) & {
    background: linear-gradient(to top, var(--color-background-first), var(--color-background-first)),
    linear-gradient(to top, #469CEC, #469CEC3D 50%, #469CEC00 90%) no-repeat 50% 50%;
    background-clip: content-box, border-box;
    background-origin: border-box;
  }

  @media (prefers-color-scheme: dark) {
    :global(.theme-system) & {
      background: linear-gradient(to top, var(--color-background-first), var(--color-background-first)),
      linear-gradient(to top, #469CEC, #469CEC3D 50%, #469CEC00 90%) no-repeat 50% 50%;
      background-clip: content-box, border-box;
      background-origin: border-box;
    }
  }
}

.counterTitle {
  margin: 1rem 0 0;
  font-size: 1.0625rem;
  font-weight: 600;
}

.counterDigit {
  position: absolute;
  top: 3rem;

  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.75rem;
  color: var(--color-accent);

  opacity: 0.8 !important;

  transition: opacity 500ms ease-out, transform 500ms ease-out !important;

  &:global(.open) {
    transform: scale(2.3);
    opacity: 0 !important;
  }

  :global(.theme-dark) & {
    color: var(--color-white);
  }

  :global(html.animation-level-0) & {
    transform: scale(2) !important;
    transition: opacity 500ms ease-out !important;
  }

  @media (prefers-color-scheme: dark) {
    :global(.theme-system) & {
      color: var(--color-white);
    }
  }
}

.small {
  max-width: 20rem;
  margin: 0 auto 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
}

.sticker {
  margin-top: 3.375rem;

  :global(html.is-electron) & {
    margin-top: 0;
  }
}

.viewModeSticker {
  margin: 1.5rem auto;
}

.stickerAndTitle {
  display: flex;
  column-gap: 1rem;
  align-items: center;

  margin-top: 3rem;
  margin-bottom: 1.5rem;

  :global(html.is-electron) & {
    margin-top: 0;
  }

  > .sticker {
    margin-top: 0;
  }

  > .title {
    margin: 0;
    text-align: left;
  }
}

.backupNotice {
  margin: 2rem 1.5rem 0;
  font-size: 0.9375rem;
}

.backupNoticeButtons {
  display: flex;
  column-gap: 1rem;
  margin: 1.5rem 1rem 1rem;

  @supports (margin-bottom: max(var(--safe-area-bottom), 1rem)) {
    margin-bottom: max(var(--safe-area-bottom), 1rem);
  }
}

.modalSticker {
  margin: -0.375rem auto 1.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.formWidgets {
  width: 100%;
  margin-top: 1.75rem;
}

.passwordForm {
  width: 100%;
  margin-top: 3.375rem;
  padding: 0 !important;

  :global(html.is-electron) & {
    margin-top: 0;
  }
}

.errors {
  width: 100%;
  padding: 0 0.5rem;

  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--color-gray-1);
}

.passwordRules {
  width: 100%;
  padding: 0 0.5rem;
  font-size: 0.8125rem;
  color: var(--color-gray-1);
}

.passwordRule {
  font-weight: 600;
  transition: color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.valid {
  color: var(--color-green);
}

.error {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
}

.buttons {
  width: 100%;
  margin-top: auto;
  padding-top: 1rem;

  &__inner {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

.footerButton {
  flex: 1 1 50%;
}

.btn {
  max-width: 66%;
  margin: 0 auto;

  &_push {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }

  &_text {
    margin: 1.25rem auto 0.75rem;
  }

  &_about {
    display: flex;
    align-items: center;

    margin: 1.6875rem auto 1rem;

    font-size: 1.0625rem !important;
    font-weight: 600;
    color: var(--color-gray-3);

    &:hover,
    &:focus-visible {
      color: var(--color-gray-1);
    }
  }

  &_wide {
    width: 100%;
  }

  &_mini {
    min-width: unset !important;
  }

  &_single {
    max-width: 100% !important;
  }
}

.btnHalfWidth {
  width: 100%;
  max-width: calc((100% - 1rem) / 2) !important;
}

.modalDialog {
  height: 37rem;
  font-weight: 400;
}

.privateKey {
  font-family: monospace;
  word-break: break-all;
}

.importingContent {
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(12, 1fr) / repeat(2, 1fr);
  gap: 1rem;

  @include mixins.respond-above(xs) {
    grid-template: repeat(8, 1fr) / repeat(3, 1fr);
  }
}

.footerError {
  margin: 0.125rem 0 1rem;

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-red);
  text-align: center;
}

.importButtonsBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  width: 100%;
  margin-top: auto;
}

.importButtonsBlockSimple {
  gap: 2rem;
}

.importText {
  position: relative;

  font-size: 0.9375rem !important;
  font-weight: 400;
  line-height: 1.0625rem;
  color: var(--color-gray-3);

  &::before,
  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0.5rem;
    left: -5.125rem;

    width: 4.5rem;
    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.0375rem 0 0 var(--color-separator);
  }

  &::after {
    position: absolute;
    right: -5.125rem;
    left: auto;
  }
}

.importButtons {
  display: flex;
  gap: 1rem;
  margin: 0 -1rem;
}

.biometricsStep {
  align-self: center;

  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--light-gray-1);
  white-space: nowrap;

  background-color: var(--color-gray-button-background-light);
}

.warning,
.biometricsError {
  align-self: center;

  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3125rem;
  color: var(--color-transaction-amount-red-text);
  text-align: center;

  background-color: var(--color-transaction-amount-red-bg);
}

.stepTransition {
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
}

.passwordFormContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 27rem;
  height: 32.5rem;
  max-height: 100%;
  margin: 0 auto;
  padding: 0 1rem 1rem;

  @include mixins.adapt-padding-to-scrollbar(1rem);

  @include mixins.respond-above(xs) {
    max-width: 31.4375rem;
  }

  @supports (padding-bottom: var(--safe-area-bottom)) {
    padding-bottom: calc(1rem + var(--safe-area-bottom));
  }
}

.header {
  display: grid;
  grid-template-areas: "back title close";
  grid-template-columns: 0.5fr 1fr 0.5fr;
  flex: 0;
  align-items: center;

  width: 100%;
  min-height: 0;
  padding: 1rem 0 2rem;

  color: var(--color-black);

  :global(html.is-telegram-app.is-fullscreen) & {
    padding-top: 0;
  }
}

.headerTitle {
  overflow: hidden;
  grid-area: title;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pinPadHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.headerBack {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
}

.headerBackBlock,
.headerBack {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  align-items: center;

  padding: 0;

  font-size: 1.0625rem;
  color: var(--color-accent);

  @supports (top: max(calc(var(--safe-area-top) + 0.375rem), 1.5rem)) {
    top: max(calc(var(--safe-area-top) + 0.375rem), 1.5rem);
  }

  :global(html.is-telegram-app) & {
    visibility: hidden;
  }
}

.iconChevron {
  font-size: 1.5rem;
}

.biometricsIcon {
  width: 7rem;
  height: 7rem;
  margin: 5rem auto 2rem;
}

.biometricsTitle {
  margin-bottom: 2rem;
  font-size: 1.6875rem;
  font-weight: 800;
  text-align: center;
}

.biometricsSubtitle {
  margin: 0 2rem;
  padding-bottom: 2rem;

  font-size: 1.0625rem;
  color: var(--color-gray-1);
  text-align: center;
}

.actionsSection {
  margin: 0 1rem 1.5rem;
}

.importModalContent {
  padding-top: 1rem;

  @include mixins.respond-below(xs) {
    padding-bottom: max(calc(var(--safe-area-bottom) - 1.5rem), 0px);
  }
}

@supports (padding-bottom: var(--safe-area-bottom)) {
  @include mixins.respond-below(xs) {
    .disclaimerBackupDialog {
      padding-bottom: max(var(--safe-area-bottom), 0px);
    }
  }
}

@media (min-width: 416.01px) { // 26rem = 416px
  .disclaimerBackupDialog {
    max-width: 24rem;
  }
}
