.root {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.transferPreview {
  display: flex;
  flex: 1;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
}

.addButtonContainer {
  margin: 0 0 1rem 0;
}

.addButton {
  width: 100%;
  max-width: 100% !important;

  &::before {
    content: '+';

    margin-right: 0.375rem;
    margin-bottom: 0.1875rem;

    font-size: 1.5rem !important;
    font-weight: normal !important;
  }
}

.transfersHeader {
  display: flex;
  justify-content: flex-start;
}

.blockTitle {
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.8125rem;
  color: var(--color-gray-2);

  :global(html.is-macos) &,
  :global(html.is-ios) & {
    padding: 0 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.transfersList {
  margin: 0 0 1rem 0;
  border-radius: var(--border-radius-default);
  background: var(--color-background-first);
}

.actionButtons {
  display: flex;
  gap: 1rem;
  margin-top: auto;
  padding-top: 1rem;

  > * {
    flex: 1;
  }

  @supports (padding-bottom: var(--safe-area-bottom)) {
    margin-bottom: var(--safe-area-bottom);
  }
}

.txResult {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius-default);

  font-weight: 500;
  text-align: center;
}

.success {
  color: var(--color-green);
  background-color: rgba(var(--color-green-rgb), 0.1);
}

.error {
  padding: 0.75rem;
  font-size: 0.875rem;
  color: var(--color-red);
  background-color: var(--color-transaction-amount-red-bg);
}

.transferItem {
  cursor: pointer;

  position: relative;

  display: grid;
  grid-template-areas: "content actions";
  grid-template-columns: 1fr min-content;
  gap: 0.75rem;
  align-items: center;

  min-height: 3rem;
  padding: 0.625rem 0.75rem 0.625rem 0.625rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-black);
  text-decoration: none !important;

  transition: background-color 200ms, border-radius 200ms;

  &:not(:last-child):after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0.625rem;

    height: 0.0625rem;
    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }

  &:first-child {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
  }

  &:last-child {
    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
  }

  &:first-child:last-child {
    border-radius: var(--border-radius-default);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-interactive-item-hover);
    }
  }

  @media (pointer: coarse) {
    &:active {
      background-color: var(--color-interactive-item-hover);
    }
  }
}

.transferContent {
  grid-area: content;

  min-width: 0;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
  text-align: left;
}

.toAddress {
  color: var(--color-gray-3);
}

.transferActions {
  display: flex;
  grid-area: actions;
  gap: 0.5rem;
  align-items: center;
}

.iconComment {
  font-size: 1.25rem;
  color: var(--color-gray-3);
}

.iconChevronRight {
  color: var(--color-gray-3);
}

@media (max-width: 480px) {
  .transferItem {
    padding: 0.625rem 0.75rem 0.625rem 0.625rem;
  }

  .transferContent {
    font-size: 0.9375rem;
  }
}
