.root {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 0.875rem 0.75rem;
  border: none;
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-black);
  text-align: left;
  word-break: break-all;

  background: var(--color-background-first);
  outline: none;
}

.suffix {
  margin-left: 0.25rem;
  color: var(--color-gray-3);
}

.label,
.feeLabel {
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.875rem;
  color: var(--color-gray-2);
}

.feeLabel {
  position: absolute;
  top: -1.375rem;
  right: 0.3125rem;
}

.feeConfirm {
  margin-left: auto;
  padding-left: 1rem;
  color: var(--color-gray-3);
}
