@use "sass:color";

@use "../../styles/mixins";

.button {
  cursor: var(--custom-cursor, pointer);
  user-select: none;

  border: 0;
  border-radius: 0;

  color: var(--color-gray-button-text);
  text-decoration: none;
  white-space: nowrap;

  background: none;
  outline: none !important;

  transition: background-color 150ms, color 150ms, opacity 150ms;

  &.loadingInit {
    --color-dot: var(--color-gray-button-text);
  }

  &.clicked,
  &:active {
    // Optimization
    transition: none !important;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.button:not(.isSimple) {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 9rem;

  font-size: 1.0625rem;
  line-height: 1.25;

  &:not(.isText) {
    max-width: 68%;
    height: 2.75rem;
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius-buttons);

    font-weight: 700;
    color: var(--color-gray-button-text);

    background-color: var(--color-gray-button-background);

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        color: var(--color-gray-button-text-hover);
        background-color: var(--color-gray-button-background-hover);
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.isText {
  font-weight: 600;
  color: var(--color-accent);
  background-color: transparent;
  transition: color 150ms;

  &:active {
    color: var(--color-accent-button-background-hover);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-accent-button-background-hover);
    }
  }

  &[disabled] {
    opacity: 0.4;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.button.primary:not(.isSimple) {
  color: var(--color-accent-button-text);
  background-color: var(--color-accent-button-background);

  &.loadingInit {
    --color-dot: var(--color-accent-button-text);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-accent-button-text-hover);
      background-color: var(--color-accent-button-background-hover);
    }
  }
}

.button.secondary:not(.isSimple) {
  color: var(--color-secondary-button-text);
  background-color: var(--color-secondary-button-background);

  &.loadingInit {
    --color-dot: var(--color-secondary-button-text);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-secondary-button-text-hover);
      background-color: var(--color-secondary-button-background-hover);
    }
  }
}

.button.transparent:not(.isSimple) {
  &,
  &:hover,
  &:active {
    background: transparent;
  }
}

.button.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.button.destructive:not(.isSimple) {
  color: var(--color-red-button-text);
  background-color: var(--color-red-button-background);

  &.loadingInit {
    --color-dot: var(--color-red-button-text);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-red-button-text-hover);
      background-color: var(--color-red-button-background-hover);
    }
  }

  &[disabled] {
    opacity: 0.4;
  }

  &.isText {
    font-weight: 600;
    color: var(--color-red-button-background);
    background-color: transparent;
    transition: color 150ms;

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        color: var(--color-red-button-background-hover);
      }
    }

    :global(html.animation-level-0) & {
      transition: none !important;
    }
  }
}

.sizeSmall {
  min-width: auto !important;
  height: 2rem !important;
  border-radius: var(--border-radius-tiny) !important;
  font-size: 0.9375rem !important
}

.round {
  width: 3.5rem;
  min-width: auto !important;
  height: 3.5rem;
  border-radius: 50%;

  &.sizeSmall {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.loadingInit {
  position: relative;
}

.loadingStart {
  color: rgba(0,0,0,0) !important;
}

.loadingDots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 100%;
}
