.wrapper {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  margin-bottom: 1.75rem;
  padding-left: 2.25rem;

  font-size: 0.9375rem;
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.content {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0.1875rem;
    left: 0.25rem;

    display: block;

    width: 1.25rem;
    height: 1.25rem;
  }

  &::before {
    border: 0.125rem solid var(--color-gray-1);
    border-radius: var(--border-radius-mini);
    background-color: transparent;
    transition: border-color 150ms, background-color 150ms;

    :global(html.animation-level-0) & {
      transition: none !important;
    }
  }

  // noinspection CssUnknownTarget
  &::after {
    opacity: 0;
    background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguODI0IDE0Ljc4NmMuMzk2IDAgLjczNy0uMTk3Ljk2Ny0uNTQ5bDQuOTExLTcuNjhjLjE0My0uMjMuMjc1LS40OTQuMjc1LS43NDYgMC0uNTM5LS40ODQtLjkwMS0xLS45MDEtLjMzIDAtLjYyNi4xNzUtLjg1Ny41NDlsLTQuMzQgNi45NjUtMi4wNDMtMi42MDNjLS4yNjQtLjM0MS0uNTI3LS40NjItLjg1Ny0uNDYyLS41MzggMC0uOTU2LjQyOS0uOTU2Ljk3OCAwIC4yNjQuMS41MDUuMjg2LjczNmwyLjU5MyAzLjE2NGMuMjk2LjM4NS42MTUuNTUgMS4wMjEuNTVaIiBmaWxsPSIjZmZmIi8+PC9zdmc+);
    background-size: contain;
    transition: opacity 150ms;

    :global(html.animation-level-0) & {
      transition: none !important;
    }

    :global(html.theme-dark.is-white-accent) & {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguODI0IDE0Ljc4NmMuMzk2IDAgLjczNy0uMTk3Ljk2Ny0uNTQ5bDQuOTExLTcuNjhjLjE0My0uMjMuMjc1LS40OTQuMjc1LS43NDYgMC0uNTM5LS40ODQtLjkwMS0xLS45MDEtLjMzIDAtLjYyNi4xNzUtLjg1Ny41NDlsLTQuMzQgNi45NjUtMi4wNDMtMi42MDNjLS4yNjQtLjM0MS0uNTI3LS40NjItLjg1Ny0uNDYyLS41MzggMC0uOTU2LjQyOS0uOTU2Ljk3OCAwIC4yNjQuMS41MDUuMjg2LjczNmwyLjU5MyAzLjE2NGMuMjk2LjM4NS42MTUuNTUgMS4wMjEuNTVaIiBmaWxsPSIjMDAwIi8+PC9zdmc+);
    }
  }
}

.input:checked ~ .content {
  &::before {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
  }

  &::after {
    opacity: 1;
  }
}
