.container {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.isDragging {
  z-index: 2;

  :global(.drag-item) {
    pointer-events: none;
  }
}

.knob {
  cursor: grab !important;

  width: 1.5rem;
  height: 1.5rem;

  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-gray-3);
  text-align: center;

  transition: opacity 150ms;

  .isDragging & {
    cursor: grabbing !important;
  }
}
