@use "../../styles/mixins";

.button,
.item {
  user-select: none;

  align-items: center;

  border: none;

  color: var(--color-gray-button-text);

  outline: none;

  transition: background-color 150ms, color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.wide {
  display: flex !important;
  width: 100%;

  &.interactive {
    cursor: var(--custom-cursor, pointer);
  }
}

.label {
  margin-inline-end: auto;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
}

.button {
  display: inline-flex;

  margin: 0;
  padding: 0.75rem !important;
  border-radius: var(--border-radius-small);

  background-color: transparent;

  &:not(.interactive) {
    cursor: default;
    &:hover {
      background: inherit !important;
    }
  }

  &.interactive {
    background-color: var(--color-input-button-background);

    &:active {
      // Optimization
      transition: none !important;
    }

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        background-color: var(--color-input-button-background-hover);
      }
    }
  }

  .light & {
    margin: -1rem;
    color: var(--color-gray-3);
    background: none;

    &:hover,
    &:focus-visible {
      background: none;
    }
  }
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.6;

  .button {
    cursor: not-allowed !important;
  }
}

.dangerous {
  color: var(--color-red);
}

.buttonIcon {
  margin-right: -0.0625rem;
  font-size: 0.75rem;

  .light & {
    margin-right: -0.3125rem;
    font-size: 1rem;
    color: var(--color-gray-3);
  }

  &:global(.icon-chevron-down) {
    margin-right: -0.3125rem;
    margin-left: 0.375rem;
  }
}

.item {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: flex;

  width: 100%;
  margin: 0;
  padding: 0.75rem 1rem;

  line-height: 1;
  text-align: left;

  background: none;

  @media (pointer: coarse) {
    padding: 0.875rem 1rem;
  }

  &_selected {
    color: var(--color-selected-drop-down-item, var(--color-input-button-text));
    background-color: var(--color-interactive-drop-down-menu-active) !important;
  }

  &_with_icon {
    padding: 0.6875rem 1rem 0.6875rem 0.75rem;
    text-align: left;

    @media (pointer: coarse) {
      padding: 0.75rem 1rem 0.75rem 0.75rem;
    }
  }

  &:active {
    // Optimization
    transition: none !important;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-interactive-drop-down-menu-hover) !important;
  }

  @include mixins.separator();
}

.itemIcon {
  width: 1.375rem;
  height: 1.375rem;
  margin-inline-end: 0.625rem;
  border-radius: 50%;

  @media (pointer: coarse) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.itemOverlayIcon {
  position: absolute;
  top: 1.625rem;
  left: 1.625rem;

  width: 0.75rem !important;
  height: 0.75rem !important;
  border-radius: 50%;
  /* stylelint-disable-next-line plugin/whole-pixel */
  box-shadow: 0 0 0 0.1rem var(--color-background-first);

  &.insideButton {
    top: 1.6875rem;
    left: 1.625rem;
  }
}

.fontIcon {
  margin-inline-end: 0.625rem;
  font-size: 1.375rem;
  color: var(--color-gray-3);

  @media (pointer: coarse) {
    font-size: 1.5rem;
  }
}

.itemName {
  unicode-bidi: plaintext;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.25rem;
  white-space: nowrap;

  @media (pointer: coarse) {
    font-size: 1rem;
  }
}

.itemDescription {
  unicode-bidi: plaintext;
  display: block;

  margin-top: 0.125rem;

  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.75rem;
  color: var(--color-gray-3);

  @media (pointer: coarse) {
    font-size: 0.8125rem;
  }
}

.delimiter {
  border-top: 0.375rem solid var(--color-separator);

  &::before {
    display: none;
  }
}

.delimiterAfter:not(:last-child) {
  border-bottom: 0.375rem solid var(--color-separator);
}

.dropdownButtonWrapper {
  display: flex;
  width: 5rem;
  height: 1rem;
}

.spinner {
  --spinner-size: 1rem !important;
}
