.container {
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--color-gray-3);
  text-align: center;
  white-space: nowrap;

  // Increasing the selector selectivity to overwrite the Transition style
  &.container {
    width: auto; // Overwriting the Transition's `width: 100%` to make side margins work properly
    height: 1em;
  }

  &.static {
    color: var(--color-gray-3-desktop);
  }
}

.details {
  cursor: var(--custom-cursor, pointer);
  color: var(--color-accent);
  opacity: 0.85;
  transition: color 150ms;

  &:active {
    color: var(--color-accent-button-background-hover);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-accent-button-background-hover);
    }
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.detailsIcon {
  vertical-align: middle;
}
