.container {
  position: relative;
  z-index: var(--z-tooltip);
  transform: translateY(-0.375rem);

  width: 0;
  height: 0;

  transition: transform 250ms, opacity 250ms !important;

  &:global(.open) {
    transform: translateY(0);
  }
}

.tooltip {
  position: absolute;

  width: max-content;
  max-width: 16rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-default);

  font-weight: 500;
  color: var(--color-gray-1);

  background: var(--color-background-drop-down);
  box-shadow: 0 0 1.25rem rgba(49, 61, 79, 0.12);

  &.small {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }

  &.medium {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }
}

.arrow {
  position: absolute;
  z-index: var(--z-tooltip);
  transform: rotate(45deg);

  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 0.125rem;

  background: var(--color-background-drop-down);
}

.icon {
  cursor: var(--custom-cursor, pointer);

  &.fontIcon {
    line-height: 1;
    vertical-align: -0.1875rem;
  }

  &.small {
    font-size: 0.875rem;
  }

  &.medium {
    font-size: 1rem;
  }
}

.color-warning {
  color: var(--color-yellow);
}
