.wrapper {
  flex-shrink: 0;

  min-height: 3rem;
  /* Account for border width */
  padding: calc(1rem - 1px) calc(0.75rem - 1px);
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--color-black);
  text-align: left;
  word-break: break-all;

  background: var(--color-background-first);
}

.button {
  cursor: var(--custom-cursor, pointer);
  text-decoration: none !important;

  &_spoiler {
    cursor: default;
  }

  &:active {
    // Optimization
    transition: none;
  }

  &:focus-visible,
  &:hover {
    .icon {
      color: var(--color-accent);
    }
  }
}

.iconCaretDown {
  display: inline !important;
}

.icon {
  display: inline-block;

  font-size: 1rem;
  line-height: 1rem;
  color: var(--color-gray-3);
  vertical-align: -0.1875rem;

  transition: color 150ms;

  &:global(.icon-copy) {
    margin-inline-start: 0.0625rem;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.iconStar {
  font-size: 1.0625rem;
}

.iconShare {
  margin-right: -0.0625rem;
  margin-left: -0.125rem;
  font-size: 1.25rem;
  vertical-align: -0.3125rem;
}

.nameInput {
  margin-bottom: 1.5rem;
}

.shortAddress {
  position: relative;
  margin-left: 0.75rem;
  color: var(--color-gray-3);

  &::before {
    content: '';

    position: absolute;
    top: 0.625rem;
    left: -0.4375rem;

    width: 0.125rem;
    height: 0.125rem;
    border-radius: 50%;

    background-color: var(--color-gray-3);
  }

  &.scam {
    --color-gray-3: var(--color-red);
  }
}

.revealSpoiler {
  cursor: var(--custom-cursor, pointer);
  margin-left: 0.1875rem;
  color: var(--color-accent);

  &:hover {
    opacity: 0.8;
  }
}

.scam {
  color: var(--color-red) !important;
}

.scamImage {
  width: 2.75rem;
  height: 1.0625rem;
  margin-right: 0.25rem;
  vertical-align: bottom;
}

.chainIcon {
  color: var(--color-gray-3);
  vertical-align: -0.125rem;
  transition: color 200ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.meaningfulPart {
  color: var(--color-black);
}

.menuIcon {
  &:global(.icon-star),
  &:global(.icon-star-filled) {
    margin-top: -0.125rem;
  }
}

.menuIcon,
.dimmedPart {
  color: var(--color-gray-3);
  transition: color 200ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.menu {
  padding: 0 !important;
}

.menuItem {
  border-radius: 0;

  &:first-child {
    border-top-left-radius: var(--border-radius-default);
    border-top-right-radius: var(--border-radius-default);
  }

  &:last-child {
    border-bottom-right-radius: var(--border-radius-default);
    border-bottom-left-radius: var(--border-radius-default);
  }

  &::before {
    top: 0;
    left: 0;
    width: 100%;
  }

  :global(.menuItemName) {
    font-size: 1rem;
  }
}
