.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 0.375rem;
  height: 0.375rem;
  margin: 0 0.25rem;
  border-radius: 100%;

  opacity: 0.8;
  background-color: var(--color-dot, var(--color-white));

  animation: dots 800ms infinite linear;

  .doubled & {
    animation: dots-doubled 2000ms ease-in-out infinite;
  }

  &:nth-child(2) {
    animation-delay: 100ms;
  }

  &:nth-child(3) {
    animation-delay: 200ms;
  }
}

@keyframes dots {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  20% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  40% {
    transform: scale(1.75);
    opacity: 1;
  }
  60% {
    transform: scale(1.25);
    opacity: 0.9;
  }
  80% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes dots-doubled {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  10% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  20% {
    transform: scale(1.75);
    opacity: 1;
  }
  30% {
    transform: scale(1.25);
    opacity: 0.9;
  }
  40% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  60% {
    transform: scale(1.75);
    opacity: 1;
  }
  70% {
    transform: scale(1.25);
    opacity: 0.9;
  }
  80% {
    transform: scale(1);
    opacity: 0.8;
  }
}
