.spinner {
  --spinner-size: 2rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--spinner-size);
  height: var(--spinner-size);
}

.inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-repeat: no-repeat;
  background-size: 100%;

  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.withBackground {
  &::before {
    content: '';

    position: absolute;
    top: -0.125rem;
    right: -0.125rem;
    bottom: -0.125rem;
    left: -0.125rem;

    border-radius: 50%;
  }

  &.dark::before {
    background: rgba(0, 0, 0, 0.25);
  }

  &.light::before {
    background: rgba(255, 255, 255, 0.4);
  }
}

.white {
  .inner {
    background-image: var(--spinner-white-data);
  }

  &.withBackground {
    .inner {
      background-image: var(--spinner-white-thin-data);
    }
  }
}

.blue {
  .inner {
    background-image: var(--spinner-blue-data);
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

