.menuItem {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: flex;

  width: 100%;
  padding: 0.75rem 1rem;
  border: none !important;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-black);
  text-decoration: none;
  white-space: nowrap;

  background: none;
  outline: none !important;
  box-shadow: none !important;

  transition: color 150ms, background-color 150ms;

  @media (pointer: coarse) {
    padding: 0.875rem 1rem;
    font-size: 1rem;
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-accent);
      text-decoration: none;
      background-color: var(--color-interactive-popup-menu-hover);
    }
  }

  @media (pointer: coarse) {
    &:active {
      color: var(--color-accent);
      text-decoration: none;
      background-color: var(--color-interactive-popup-menu-hover);
    }
  }

  &:active {
    // Optimization
    transition: none;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.destructive {
  color: var(--color-red) !important;

  &:hover,
  &:focus-visible {
    background-color: var(--color-interactive-popup-menu-descructive-hover);
  }
}
