.wrapper {
  user-select: none;
  position: relative;

  &.inPortal {
    position: absolute;
    z-index: var(--z-portal-menu);
  }
}

.bubble {
  --offset-y: calc(100% + 0.5rem);
  --offset-x: -0.25rem;

  position: absolute;
  z-index: var(--z-menu-bubble);
  transform: scale(0.5);

  overscroll-behavior: contain;
  display: block;

  margin: 0;
  border-radius: var(--border-radius-default);

  list-style: none;

  background-color: var(--color-background-drop-down);
  box-shadow: var(--default-shadow);

  transition: var(--dropdown-transition) !important;

  &:global(.open) {
    transform: scale(1);
  }

  &:global(.closing) {
    transition: var(--dropdown-transition-backwards) !important;

    :global(html.animation-level-0) & {
      transition: var(--no-animation-transition) !important;
    }
  }

  &.top {
    top: var(--offset-y-value, var(--offset-y));
  }

  &.bottom {
    bottom: var(--offset-y-bottom-value, var(--offset-y));
  }

  &.left {
    left: var(--offset-x-value, var(--offset-x));
  }

  &.right {
    right: var(--offset-x-value, var(--offset-x));
  }

  :global(html.animation-level-0) & {
    transition: var(--no-animation-transition) !important;
  }

  :global(html:not(.is-ios):not(.is-android)) & {
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

.backdrop {
  position: fixed;
  z-index: var(--z-menu-backdrop);
  top: -100vh;
  right: -100vw;
  bottom: -100vh;
  left: -100vw;
}

.menu {
  min-width: 13.5rem;
}

.suggestion {
  --offset-x: 0;
  --offset-y: calc(100% - 0.5rem);

  transform-origin: top !important;
  transform: scaleY(0.5) !important;

  overflow: auto;

  width: 100%;
  max-height: min(60vh, 17rem);

  &:global(.open) {
    transform: scaleY(1) !important;
  }
}

.dropdown {
  --offset-y: 0.25rem;

  transform: translate(var(--translate-x, 0), -0.375rem) !important;

  overflow: auto;
  overflow-y: scroll;

  min-width: auto;
  max-height: min(60vh, 20rem);

  :global(html.animation-level-0) &,
  &:global(.open) {
    transform: translate(var(--translate-x, 0), 0) !important;
  }

  &.right {
    --offset-x: -0.75rem;
    --offset-y: 0;
  }

  &.bottom {
    transform: translate(var(--translate-x, 0), 0.375rem) !important;

    &:global(.open) {
      transform: translate(var(--translate-x, 0), 0) !important;
    }
  }

  :global(html:not(.is-ios):not(.is-android)) & {
    overflow-y: auto;
  }
}
