.sticker {
  margin: 0 auto 1.25rem;
}

.label {
  margin-top: 0.25rem;
  padding: 0 0.5rem;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-gray-1);
}

.title {
  font-size: 1.6875rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

.errorMessage {
  align-self: center;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-red);
}

.verify,
.error {
  align-self: center;

  padding: 0.5rem 0.75rem;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;

  border-radius: var(--border-radius-buttons);
}

.error {
  color: var(--color-transaction-amount-red-text);

  background-color: var(--color-transaction-amount-red-bg);
}

.verify {
  color: var(--light-gray-1);

  background-color: var(--color-gray-button-background-light);
}

.pinPadHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  margin-top: auto;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
