.sticker {
  margin: 0 auto 1.25rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  margin-top: auto;
}

.button {
  position: relative;

  flex: 1;
}

.buttonLoading .buttonText {
  visibility: hidden;
  opacity: 0;
}

.buttonLoading::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 16px;
  height: 16px;
  margin: auto;

  border: 0.25rem solid transparent;
  border-top-color: var(--color-white);
  border-radius: 50%;

  animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
