.sticker {
  margin: 0 auto 1.25rem;
}

.label {
  margin-top: 0.25rem;
  padding: 0 0.5rem;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-gray-1);
}

.title {
  font-size: 1.6875rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

.errorMessage {
  align-self: center;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-red);
}

.verify,
.error {
  align-self: center;

  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
}

.error {
  color: var(--color-transaction-amount-red-text);
  background-color: var(--color-transaction-amount-red-bg);
}

.verify {
  color: var(--light-gray-1);
  background-color: var(--color-gray-button-background-light);
}

.pinPadHeader {
  display: flex;
  flex-direction: column;
  gap: var(--header-gap-size, 1rem);
  align-items: center;

  margin-top: auto;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.autoConfirmCheckbox {
  display: flex;
  align-items: center;
  align-self: center;

  width: fit-content;
  margin-bottom: 1.5rem !important;

  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--color-gray-1);
}

.logOutWrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: -1rem;

  font-size: 0.875rem;
  line-height: 1;
  color: var(--color-gray-3);
  white-space: nowrap;
}

.logOutButton {
  cursor: var(--custom-cursor, pointer);
  display: flex;
  align-items: center;
  color: var(--color-red);
}
