@use "../../styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: auto;
  padding: 1.5rem 1rem 1rem;

  background-color: var(--color-background-lock);

  @supports (padding-bottom: max(1rem, var(--safe-area-bottom))) {
    padding-bottom: max(1rem, var(--safe-area-bottom));
  }

  @include mixins.respond-above(xs) {
    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
  }
}

.title {
  margin-bottom: 2rem;

  font-size: 1.0625rem;
  font-weight: 700;
  color: var(--color-gray-1);
  text-align: center;

  transition: color 200ms;
}

.dots {
  --fill-color: var(--color-gray-4);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.dotsError {
  animation-name: shakeAnimation;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-iteration-count: 2;
}

.dotsLoading {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 1.5rem;
    height: 1.5rem;

    opacity: 0;
    background-image: var(--spinner-green-data);
    background-repeat: no-repeat;
    background-size: 100%;

    animation: spin 1000ms linear 750ms infinite,
               appear 1000ms linear 750ms forwards;
  }
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;

  background-color: var(--fill-color);

  transition: background-color 200ms, transform 300ms;

  .dotsLoading > & {
    &:nth-child(1) {
      animation: dotLoadingAnimation 1000ms linear forwards, firstDotLoadingAnimation 1000ms linear forwards;
    }
    &:nth-child(2) {
      animation: dotLoadingAnimation 1000ms linear forwards, secondDotLoadingAnimation 1000ms linear forwards;
    }
    &:nth-child(3) {
      animation: dotLoadingAnimation 1000ms linear forwards, thirdDotLoadingAnimation 1000ms linear forwards;
    }
    &:nth-child(4) {
      animation: dotLoadingAnimation 1000ms linear forwards, fourthDotLoadingAnimation 1000ms linear forwards;
    }
  }
}

.dotFilled {
  --fill-color: var(--color-accent);

  animation: scaleAnimation 300ms linear forwards;
}

.dot + .dot {
  margin-left: 0.625rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.button {
  cursor: var(--custom-cursor, pointer);
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;

  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;

  transition: opacity 200ms;

  .minified > & {
    height: 4.75rem;
  }

  @media (max-height: 55rem) {
    height: 4rem;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;

    opacity: 0;
    background: var(--color-tint);

    transition: opacity 200ms;
  }
}

.buttonActive {
  &::after {
    opacity: 0.2;
  }
}

.buttonHidden {
  pointer-events: none;
  opacity: 0;
}

.buttonDanger {
  color: var(--color-red);
}

.error {
  --fill-color: var(--color-red);

  color: var(--color-red);
}

.success {
  --fill-color: var(--color-green);

  color: var(--color-green);
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.75rem);
  }
  75% {
    transform: translateX(-0.75rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dotLoadingAnimation {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateX(0) scale(1.4);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes firstDotLoadingAnimation {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2.0625rem);
  }
  100% {
    transform: translateX(2.0625rem);
  }
}

@keyframes secondDotLoadingAnimation {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0.6875rem);
  }
  100% {
    transform: translateX(0.6875rem);
  }
}

@keyframes thirdDotLoadingAnimation {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-0.6875rem);
  }
  100% {
    transform: translateX(-0.6875rem);
  }
}

@keyframes fourthDotLoadingAnimation {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2.0625rem);
  }
  100% {
    transform: translateX(-2.0625rem);
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -0.375rem) rotate(0deg);
  }

  to {
    transform: translate(-50%, -0.375rem) rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
