.wrapper {
  position: relative;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.interactive {
    cursor: var(--custom-cursor, pointer) !important;
    user-select: none;
  }
}

.wrapper,
.content {
  display: inline-block !important; // It's important to override the global .not-shown class
  width: max-content;

  @supports (interpolate-size: allow-keywords) {
    /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
    transition: opacity 300ms ease, width 300ms ease !important;

    /* stylelint-disable-next-line property-no-unknown */
    interpolate-size: allow-keywords;

    :global(html.animation-level-0) & {
      transition: none !important;
    }
  }
}

.spoiler {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  &.left {
    left: 0;
  }

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.right {
    right: 0;
  }
}

.right > .content {
  display: inline-flex !important; // It's important to override the global .not-shown class
  justify-content: flex-end;
}

.fixedWidth {
  width: var(--spoiler-width);
  white-space: nowrap;
}
