.suggestions {
  position: absolute;
  z-index: 2;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: auto;
  min-width: 10rem;
  margin: 0;
  padding: 0.375rem 0.25rem;

  color: var(--color-black);
  list-style: none;

  background: var(--color-background-drop-down);
  border-radius: var(--border-radius-default);
  box-shadow: var(--default-shadow);

  &.bottom {
    top: calc(100% + 0.5rem);
  }

  &.top {
    bottom: calc(100% + 0.5rem);
  }
}

.suggestion {
  cursor: pointer;

  display: inline-block;

  width: 100%;
  padding: 0 0.75rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;

  border-radius: var(--border-radius-default);

  transition: background-color 150ms;

  & + & {
    margin-top: 0.5rem;
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  @media (pointer: fine) {
    width: auto;

    &:hover,
    &.active {
      background-color: var(--color-interactive-drop-down-menu-hover);
    }
  }
}

