.container {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  align-items: center;

  margin: 0;
}

.input {
  position: absolute;
  z-index: var(--z-below);

  width: 0;
  height: 0;

  visibility: hidden;
  opacity: 0;
}

.widget {
  cursor: pointer;

  position: relative;

  display: inline-block;

  width: 2rem;
  height: 0.75rem;

  text-indent: -999px;

  background-color: var(--color-gray-4);
  border-radius: 0.5rem;

  transition: background-color 150ms ease-in;

  &::after {
    content: "";

    position: absolute;
    top: -0.1875rem;
    left: 0;

    width: 1.125rem;
    height: 1.125rem;

    background-color: var(--color-background-first);
    border: 0.125rem solid var(--color-gray-4);
    border-radius: 0.75rem;

    transition: border-color 150ms ease-in, transform 150ms ease-in;

    :global(html.animation-level-0) & {
      transition: none !important;
    }
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.input:checked + .widget {
  background: var(--color-blue);
}

.input:checked + .widget:after {
  transform: translateX(calc(100% - 0.25rem));

  border-color: var(--color-blue);
}
