.Tab {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  width: auto;
  margin: 0;
  padding: 0.4375rem 0.25rem;

  font-weight: 500;
  color: var(--color-black);

  background: none;
  border: none;

  appearance: none;

  &,
  &:active,
  &:focus {
    outline: none;
  }

  :global(html:not(.animation-level-0)) &:not(&_active):active .content {
    color: var(--color-accent) !important;

    background-color: var(--color-interactive-tab-active) !important;

    @supports (background-color: color-mix(in lab, var(--color-accent) 8%, transparent)) {
      background-color: color-mix(in lab, var(--color-accent) 8%, transparent) !important;
    }
  }

  &_active {
    cursor: default;

    color: var(--color-accent);

    i {
      opacity: 1 !important;
    }
  }

  @media (hover: hover) {
    &:not(&_active):hover .content ,
    &:not(&_active):focus .content {
      background-color: var(--color-interactive-tab-hover);
    }
  }
}

.interactive {
  cursor: var(--custom-cursor, pointer) !important;
}

.content {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0.375rem 0.75rem;

  white-space: nowrap;

  border-radius: var(--border-radius-small);

  transition: background-color 150ms, color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.platform {
  pointer-events: none;

  position: absolute;
  bottom: -0.4375rem;
  left: 0.75rem;
  transform-origin: left;

  box-sizing: content-box;
  width: calc(100% - 1.5rem);
  height: var(--tab-platform-height, 0.125rem);

  opacity: 0;
  background-color: var(--color-accent);
  border-radius: 0.1875rem 0.1875rem 0 0;

  &_animate {
    transition: transform var(--slide-transition);

    :global(html.animation-level-0) & {
      transition: none !important;
    }
  }
}

.menuItem {
  max-width: 14rem;

  & > :global(.menuItemName) {
    overflow: hidden;

    max-width: 100%;

    text-overflow: ellipsis;
  }
}
