@use "../../styles/mixins";

.Tab {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  width: auto;
  margin: 0;
  border: none;

  font-weight: 600;
  line-height: 1.25rem;

  appearance: none;
  background: none;

  &,
  &:active,
  &:focus {
    outline: none;
  }

  &_active {
    cursor: default;
  }

  @media (hover: hover) {
    &:not(&_active):hover .content ,
    &:not(&_active):focus .content {
      color: var(--color-gray-1);
    }
  }
}

.interactive {
  cursor: var(--custom-cursor, pointer) !important;
}

.content {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius-default);

  white-space: nowrap;

  transition: background-color 150ms, color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.menuItem {
  max-width: 14rem;

  & > :global(.menuItemName) {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

.icon {
  transform: scale(1.2);
  margin-right: 0.375rem;
  color: var(--color-gray-2);
  transition: color 150ms;

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.Tab_active .icon,
.Tab:focus .icon,
:global(html:not(.animation-level-0)) .Tab:not(.Tab_active):active .icon {
  color: var(--color-accent) !important;
}

.caretIcon {
  margin-right: -0.5rem;
}
