.container {
  user-select: none;
  scrollbar-color: rgba(0, 0, 0, 0);
  scrollbar-width: none;

  z-index: 1;

  overflow: auto;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 1rem;

  font-size: 0.9375rem;
  font-weight: 500;

  transition: background-color 150ms;

  &::-webkit-scrollbar {
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    // `box-shadow` prevents repaint on macOS when hovering out of scrollable container
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
  }

  :global(html.animation-level-0) & {
    transition: none !important;
  }
}

.withBorder {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-0.03125rem);

    width: 100%;
    height: 0.0625rem;

    /* stylelint-disable-next-line plugin/whole-pixel */
    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }
}

.big {
  font-size: 1rem;
}
