.dropdown {
  --offset-y-value: calc(100% - 3.25rem);
  --offset-x-value: 0;

  position: relative;
  top: 0.375rem;
  right: 0.375rem;

  :global(.itemName),
  :global(.menuItemName),
  &__prefix {
    height: 1.25rem;
    margin-bottom: -0.125rem;
    line-height: 1.25rem;
  }

  :global(.menuItemName),
  :global(.itemName) {
    overflow: hidden;
    font-weight: 700;
    text-overflow: ellipsis;
  }

  :global(.itemName) {
    max-width: 5rem;
  }

  :global(.menuItemName) {
    max-width: 15rem;
  }
}

.prefix {
  margin-inline-end: 0.375rem;
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-gray-3);
}

.purple {
  color: var(--color-gpurple-button-text-rest) !important;
  background: var(--color-input-button-background-purple-rest) !important;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-gpurple-button-text-hover) !important;
      background-color: var(--color-input-button-background-purple-hover) !important;
    }
  }
}
