.wrapper {
  cursor: var(--custom-cursor, pointer);

  position: fixed;
  z-index: var(--z-notification);
  bottom: max(var(--safe-area-bottom), 1rem);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 0.25rem;
  align-items: center;

  height: 2.5rem;
  margin: 0;
  padding: 0 0.75rem;
  border: none;
  border-radius: 1.25rem;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-accent-button-text);
  white-space: nowrap;

  background: var(--color-accent-button-background);

  transition: background-color 150ms, color 150ms, opacity 300ms !important;

  &:hover,
  &:focus-visible {
    color: var(--color-accent-button-text-hover);
    background: var(--color-accent-button-background-hover);
  }

  :global(html.with-bottombar) & {
    bottom: calc(var(--bottombar-height) + max(var(--safe-area-bottom), 0px) + 1rem);
  }
}

.icon {
  font-size: 1rem;
}
